<ion-view view-title="Add Member">
   <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="returnToEditTeams()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="query" ng-change="search(query)" type="text" placeholder="Search" />
            </label>
        </div>
        <div class="list list-inset" ng-repeat="user in users">
            <a class="item item-avatar" ng-click="showConfirm(user.customer_tag, user.customer_username)">
                <img ng-src="{{ user.customer_profile_pic }}">
                <h2>{{ user.customer_tag }}</h2>
                <p>{{ user.customer_country }}</p>
            </a>
        </div>
    </ion-content>
</ion-view>