<ion-view view-title="Create Team">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ui-sref="app.myteams">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Team Name</span>
                <input type="text">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Bio</span>
                <textarea rows="4"></textarea>
            </label>
        </div>
        <div class="card">
            <div class="item item-body">
                <p>Image Preview</p>
            </div>
            <div class="item">
                <button class="button button-block button-positive">
                    Add Cover
                </button>
            </div>
        </div>
        <div class="card">
            <div class="item item-body">
                <p>Image Preview</p>
            </div>
            <div class="item">
                <button class="button button-block button-positive">
                    Add Logo
                </button>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced">
                Create
            </button>
        </div>
    </ion-content>
</ion-view>