<ion-view view-title="Team Profile">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-alert">
        </button>
        <button class="button button-icon" ng-click="popover.show($event)">
            <i class="ion-android-more-vertical"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="crop-banner">
            <img class="crop-image" ng-src="{{info.team_cover_photo}}">
        </div>
        <div>
            <div class="center-text">
                <img class="profile-pic" ng-src="{{info.team_logo}}">
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="center-text">
                        <h1 class="h1-username">{{info.team_name}}</h1>
                    </div>
                    <p>
                        <br>{{info.team_bio}}
                    </p>
                </div>
            </div>
        </div>
        <div class="list list-inset">
            <div class="item item-divider">
                Team Members
            </div>
            <a class="item center-item item-avatar item-button-right" href="#" ng-repeat="player in players">
                <img ng-src="{{player.customer_profile_pic}}">
                <h2>{{player.customer_tag}}</h2>
                <p>{{player.customer_first_name}} {{player.customer_last_name}}</p>
                <div class="buttons" ng-if="player.is_captain">
                    <button class="button button-clear">
                        <i class="icon ion-android-star-outline"></i>
                    </button>
                </div>
            </a>
            <a class="item item-icon-left dark" ng-click="goToTeamProfileMembers()" ng-if="loggedInUserIsCaptain">
                <i class="icon ion-android-arrow-forward"></i> Edit Team
            </a>
        </div>
        <div class="list list-inset">
            <div class="item item-divider">
                Standings
            </div>
            <a class="item item-thumbnail-left" ng-repeat="standing in standings">
                <img ng-src="{{standing.event_logo}}">
                <div class="row">
                    <div class="col col-75">
                        <h2>{{ standing.tournament_name }}</h2>
                        <p>{{ standing.event_start_date | date: 'medium'}}</p>
                    </div>
                    <div class="col center-text">
                        <h1 class="h1-username" style="vertical-align: middle">{{ standing.standing | ordinal }}</h1>
                    </div>
                </div>
            </a>
            <a class="item item-icon-left dark" href="#/app/teamprofilestandings">
                <i class="icon ion-android-arrow-forward"></i> See More
            </a>
        </div>
    </ion-content>
</ion-view>