<ion-view title="Team Members">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="returnToTeamProfile()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="goToAddTeamMember()">
            <i class="ion-plus"></i>
        </button>
        <button class="button button-icon ion-android-alert">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <a class="item center-item item-avatar item-button-right" ng-repeat="player in players">
                <img ng-src="{{player.customer_profile_pic}}">
                <h2>{{player.customer_tag}}</h2>
                <p>{{player.customer_first_name}} {{player.customer_last_name}}</p>
                <div class="buttons">
                    <button class="button button-energized">
                        <i class="icon ion-android-star-outline"></i>
                    </button>
                    <button class="button button-assertive" ng-click="showConfirm(player.customer_tag, $index)">
                        <i class="icon ion-close"></i>
                    </button>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>