<ion-view title="Team">
    <ion-nav-buttons side="left">
        <button class="button button-icon" onclick="location.href='#/app/teamprofile'">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon">
            <i class="ion-plus"></i>
        </button>
        <button class="button button-icon ion-android-alert">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="img/lolbr.jpeg">
                <div class="row">
                    <div class="col col-75">
                        <h2>Project M 2015 sdf sdfdsda</h2>
                        <p>fecha fecha</p>
                    </div>
                    <div class="col center-text">
                        <h1 class="h1-username">1st</h1>
                    </div>
                </div>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/lolbr.jpeg">
                <div class="row">
                    <div class="col col-75">
                        <h2>Project M 2015 sdf sdfdsda</h2>
                        <p>fecha fecha</p>
                    </div>
                    <div class="col center-text">
                        <h1 class="h1-username">1st</h1>
                    </div>
                </div>
            </a><a class="item item-avatar" href="#">
            <img src="img/lolbr.jpeg">
            <div class="row">
                <div class="col col-75">
                    <h2>Project M 2015 sdf sdfdsda</h2>
                    <p>fecha fecha</p>
                </div>
                <div class="col center-text">
                    <h1 class="h1-username">1st</h1>
                </div>
            </div>
            </a>
        </div>    
    </ion-content>
</ion-view>