<ion-view title="Teams">
    <ion-nav-buttons side="left">
        <button class="button button-icon" onclick="location.href='#/app/profile/summary'">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-alert">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <a class="item item-thumbnail-left" href="#">
                <img src="img/navi_logo.png">
                <h2>Natus Vincere</h2>
                <p>Captain: Ricky</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/navi_logo.png">
                <h2>Natus Vincere</h2>
                <p>Captain: Ricky</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/navi_logo.png">
                <h2>Natus Vincere</h2>
                <p>Captain: Ricky</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/navi_logo.png">
                <h2>Natus Vincere</h2>
                <p>Captain: Ricky</p>
            </a>
        </div>
    </ion-content>
</ion-view>