<ion-view>
    <ion-tabs class="tabs-positive">
        <ion-tab title="History" href="#/app/myevents/melist">
            <ion-nav-view name="history-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Live" href="#/app/myevents/melist">
            <ion-nav-view name="live-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Upcoming" href="#/app/myevents/melist">
            <ion-nav-view name="upcoming-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>