<div class="page-header">
	<h1>Subscriptions</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 custom-padding" ng-repeat="sub in subscriptions">
		<div class="box">
			<div class="media">
				<div class="media-left media-middle">
					<a ng-click="goToUser(sub.customer_username)"> <img class="media-object match-avatar" ng-src="{{sub.customer_profile_pic}}"> </a>
				</div>
				<div class="media-body">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<span class="pull-right"><a class="btn btn-sm btn-primary" ng-click="unsubscribe(sub.customer_username, $index)"><span class="fa fa-user"></span> </a> </span>
						<h3>{{sub.customer_tag}}</h3>
						<p class="info-paragraph">
							{{sub.customer_first_name}} {{sub.customer_last_name}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>