<div class="blur-cover" ng-style="{'background': userCover}">
</div>
<div class="box box-margin">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-6">
			<p class="info-title" ng-if="myProfile">
                {{profileData.customer_username}}
			</p>
			<div class="row" align="center">
				<div class="profile-picture" ng-style="{'background-image': profilePicture}"></div>
				<p class="info-title">
                {{profileData.customer_tag}}
				</p>
				<p class="info-paragraph">
                {{profileData.customer_country}}
				</p>
				<div class="countryflag"></div>
				<br />
			</div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-6">
			<div class="row" align="center">
				<h3>About</h3>
				<div class="center">
					<p class="info-paragraph">
                {{profileData.customer_bio}}
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-9">
			<a class="btn btn-primary btn-block" ui-sref="app.editProfile" ng-if="myProfile">Edit</a>
		</div>
	</div>
	<div class="btn-group btn-group-justified" role="group" ng-if="!myProfile">
		<div class="btn-group" role="group" >
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#messageModal">
				<i class="fa fa-envelope"></i> Message
			</button>
			<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="messageModalLabel">New message</h4>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="recipient-name" class="control-label">Recipient:</label>
									<input type="text" class="form-control" id="recipient-name">
								</div>
								<div class="form-group">
									<label for="message-text" class="control-label">Message:</label>
									<textarea class="form-control" id="message-text"></textarea>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<div class="col-xs-12 col-md-6 col-lg-6">
								<button type="button" class="btn btn-primary" data-dismiss="modal">
									Send message
								</button>
							</div>
							<div class="col-xs-12 col-md-6 col-lg-6">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Cancel
								</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default">
				<i class="fa fa-star-o"></i>Subscribe
			</button>
		</div>
	</div>
</div>

<!-- Standings widget  JAJAJAJAJAJAJ-->
<div class="widget-box box-margin">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Standings</h3>
		<a class="widget-more" ui-sref="app.userStandings">
						See More<i class="fa fa-arrow-circle-o-right panel-padding"></i>
					</a>
	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Placing</th>
							<th>Event</th>
							<th>Tournament</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<tr class="cursor" ui-sref="app.tournament">
							<td>5th</td>
							<td>Apex 2015</td>
							<td>Halo 4</td>
							<td>March 1, 2015</td>
						</tr>
						<tr class="cursor" ui-sref="app.tournament">
							<td>5th</td>
							<td>Apex 2015</td>
							<td>Halo 4</td>
							<td>March 1, 2015</td>
						</tr>
						<tr class="cursor" ui-sref="app.tournament">
							<td>5th</td>
							<td>Apex 2015</td>
							<td>Halo 4</td>
							<td>March 1, 2015</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- Standings widget -->

<!-- Teams widget -->
<div class="widget-box">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Teams</h3>
		<a class="widget-more" ng-click="goToTeams(profileData.customer_username)">
						See More<i class="fa fa-arrow-circle-o-right panel-padding"></i>
					</a>
	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row" style="padding-left: 15px">
					<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat = "team in teams">
						<a class="thumbnail"> <img ng-src="{{team.team_logo}}" alt="..." ui-sref="app.teamProfile">
							<hr class="hr-custom-padding">
							<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
											overflow: hidden;">
								<p class="thumbnail-title" ui-sref="app.teamProfile">
                                    {{team.team_name}}
								</p>
								<p class="thumbnail-paragraph">
									Captain: {{team.team_captain}}
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Teams widget -->

<!-- User Events widget -->
<div class="widget-box">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">User Events</h3>
		<a class="widget-more" ui-sref="app.userEvents">
						See More<i class="fa fa-arrow-circle-o-right panel-padding"></i>
					</a>
	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row" style="padding-left: 15px">
					<div class="col-md-3 col-sm-4 col-xs-6">
						<a class="thumbnail"> <img src="http://neptunolabs.com/images/ckmagic.jpg" alt="..." ui-sref="app.event">
							<hr class="hr-custom-padding">
							<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
											overflow: hidden;">
								<p class="thumbnail-title" ui-sref="app.event">
									Event Name
								</p>
								<p class="thumbnail-paragraph">
									Staple Centersdafdfgdfgsdfgsdfgsdfgdfgsdfgasdfasdf
								</p>
								<p class="thumbnail-paragraph">
									January 2, 8:00PM
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- User Events widget-->

<!-- Organizations widget-->
<div class="widget-box">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Organizations</h3>
		<a class="widget-more" ui-sref="app.userOrganizations">
						See More<i class="fa fa-arrow-circle-o-right panel-padding"></i>
					</a>
	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row" style="padding-left: 15px">
					<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat = "organization in organizations">
						<a class="thumbnail"> <img ng-src="{{organization.organization_logo}}" alt="..." ui-sref="app.organizationProfile">
							<hr class="hr-custom-padding">
							<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
											overflow: hidden;">
								<p class="thumbnail-title" align="center" ui-sref="app.organizationProfile">
                                    {{organization.organization_name}}
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Organizations widget -->