<div class="box">
	<div class="page-header">
		<h1>{{username}}'s events</h1>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-12 col-sm-12" ng-repeat="item in userEvents">
			<div class="panel panel-default cursor" ng-click="goToEvent(item.event_name,  item.event_start_date, item.event_location)">
				<div class="panel-body">
					<img style="width:100%;" ng-src="{{item.event_banner}}" alt="Cock Magic">
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<img class="event-organizer-thumbnail  center-block" ng-src="{{item.event_logo}}">
						</div>
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
							<h3 class="event-footer-title">{{item.event_name}}</h3>
							<p>
								{{item.event_start_date | date:'mediumDate'}} - {{item.event_end_date | date:'mediumDate'}}
							</p>
							<p>
								{{item.location}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>