<div class="box">
	<div class="page-header" ng-if="isUser">
		<a class="btn btn-primary pull-right" ui-sref="app.createTeam({user: customerUsername})" role="button">Create Team</a>
		<h1>My Teams</h1>
	</div>
	<div class="page-header" ng-if="!isUser">
		<h1>{{customerUsername}}'s Teams</h1>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-repeat="team in teamsData">
			<a class="thumbnail" ng-click="goToTeamsProfile(team.team_name)"> <img ng-src="{{team.team_cover_photo}}" alt="{{team.team_name}}">
				<hr class="hr-custom-padding">
				<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
					<p class="thumbnail-title" align="center">
						{{team.team_name}}
					</p>
				</div>
			</a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-if="!teamsData.length">			
			<p class="lead">You do not have any teams at the moment.</p>
		</div>
	</div>
</div>