<div class="page-header" ng-if="isUser">
	<h1>My Matchups</h1>
</div>
<div class="page-header" ng-if="!isUser">
	<h1>{{user}}'s Matchups</h1>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" ng-repeat="match in pastMatchups">
		<div class="box cursor box-margin" ng-click="getMatch(match.event_name,match.tournament_name,match.round_number,match.match_number,match.round_of,match.event_start_date,match.event_location,match.station_number)">
			<h4 class="modal-title" align="center">{{match.event_name}}</h4>
			<p align="center">
				{{match.tournament_name}}
				<br> {{match.round_of}} Round {{match.round_number}}, Match {{match.match_number}}
				<br>
				<span ng-if="match.station_number">Station {{match.station_number}}</span>
			</p>
			<div ng-if="match.details[0].customer_tag">
				<div class="row" align="center">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
						<img class="img-circular player-1 large center-block" ng-src="{{match.details[0].customer_profile_pic}}" />
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
						<h1 style="text-align:center">
							{{match.details[0].score}}-{{match.details[1].score}}</h1>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
						<img class="img-circular player-2 large center-block" ng-src="{{match.details[1].customer_profile_pic}}" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
						<h3 style="text-align:center">{{match.details[0].customer_tag}}</h3>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
						<h4 style="text-align:center"></h4>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
						<h3 style="text-align:center">{{match.details[1].customer_tag}}</h3>
					</div>
				</div>
			</div>
			<div ng-if="match.details[0].team_name">
				<div class="row" align="center">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">

						<img class="img-circular player-1 large center-block" ng-src="{{match.details[0].team_logo}}" />
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
						<h1 style="text-align:center">
							{{match.details[0].score}}-{{match.details[1].score}}</h1>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
						<img class="img-circular player-2 large center-block" ng-src="{{match.details[1].team_logo}}" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
						<h3 style="text-align:center">{{match.details[0].team_name}}</h3>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
						<h4 style="text-align:center"></h4>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
						<h3 style="text-align:center">{{match.details[1].team_name}}</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>