<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified tab-padding-top">
	<li class="active">
		<a data-target="#upcomingGame" data-toggle="tab">Upcoming</a>
	</li>
	<li>
		<a data-target="#liveGame" data-toggle="tab">Live</a>
	</li>
	<li>
		<a data-target="#historyGame" data-toggle="tab">History</a>
	</li>
</ul>
<!-- Tab panes -->
<div class="tab-content panel-padding">
	<div class="tab-pane fade in active" id="upcomingGame">
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat= "event in gamesUpcoming">
				<a class="thumbnail" ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)"> <img ng-src="{{event.event_logo}}" alt="{{event.event_name}}" >
					<hr class="hr-custom-padding">
					<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
						<p class="thumbnail-title">
							{{event.event_name}}
						</p>
						<p class="thumbnail-paragraph">
							{{event.event_location}}
						</p>
						<p class="thumbnail-paragraph">
							{{event.event_start_date  | date: 'medium'}}
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- row -->
	</div>
	<div class="tab-pane fade" id="liveGame">
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat= "event in gamesLive">
				<a class="thumbnail" ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)"> <img ng-src="{{event.event_logo}}" alt="{{event.event_name}}" >
					<hr class="hr-custom-padding">
					<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
						<p class="thumbnail-title" >
							{{event.event_name}}
						</p>
						<p class="thumbnail-paragraph">
							{{event.event_location}}
						</p>
						<p class="thumbnail-paragraph">
							{{event.event_start_date  | date: 'medium'}}
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="historyGame">
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat= "event in gamesPast">
				<a class="thumbnail" ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)"> <img ng-src="{{event.event_logo}}" alt="{{event.event_name}}" >
					<hr class="hr-custom-padding">
					<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
						<p class="thumbnail-title" >
							{{event.event_name}}
						</p>
						<p class="thumbnail-paragraph">
							{{event.event_location}}
						</p>
						<p class="thumbnail-paragraph">
							{{event.event_start_date  | date: 'medium'}}
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
