<div ng-if="eventData.is_organizer">

	<div class="box box-margin">
		<form>
			<legend>General Info</legend>
			<div class="form-group">
				<label>Name: </label>
				<input class="form-control" placeholder="Enter Name" id="createEventName" ng-model="eventData.event_name">
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6 col-lg-6">
					<div class="form-group">
						<label>Event Type: </label>
						<select class="form-control" ng-model="eventData.event_type">
							<option>Local</option>
							<option>Regional</option>
							<option>National</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6 col-lg-6">
					<div class="form-group">
						<label>Description:</label>
						<textarea class="form-control" rows="4" id="createEventDescription" ng-model="eventData.event_description"></textarea>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6">
					<div class="form-group">
						<label>Rules:</label>
						<textarea class="form-control" rows="4" id="createEventRules" ng-model="eventData.event_rules"></textarea>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<label class="col-sm-2 control-label">Upload Banner</label>
					<div class="col-sm-3">
						<span class="file-input btn btn-primary btn-file btn-block"> Browse&hellip;
									<input ng-model="team.cover" onchange="angular.element(this).scope().file_changed(this)"  id="cover"  name="banner" type="file" accept="image/*">
								</span>
						<div class="form-group panel-padding">
							<label>Banner URL: </label>
							<input class="form-control" ng-model="eventData.event_banner" name="banner" maxlength="127">
						</div>
						<div ng-show="!validCover" ng-class="{ 'has-error' : !validCover}">
							<p class="help-block">
								An event banner is required.
							</p>
						</div>

					</div>
					<div class="col-sm-7">
						<img style="width:100%" ng-src="{{eventData.event_banner}}">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<label class="col-sm-2 control-label">Upload Logo</label>
					<div class="col-sm-3">
						<span class="file-input btn btn-primary btn-file btn-block"> Browse&hellip;
									<input ng-model="team.cover" onchange="angular.element(this).scope().file_changed(this)"  id="logo"  name="logo" type="file" accept="image/*">
								</span>
						<div class="form-group panel-padding">
							<label>Logo URL: </label>
							<input class="form-control" ng-model="eventData.event_logo" name="banner" maxlength="127">
						</div>
						<div ng-show="!validCover" ng-class="{ 'has-error' : !validCover}">
							<p class="help-block">
								An event logo is required.
							</p>
						</div>

					</div>
					<div class="col-sm-4">
						<img style="width:100%" ng-src="{{eventData.event_logo}}">
					</div>
				</div>

			</div>


			<legend>Location and Time</legend>
			<div class="row">


				<div class="col-xs-12 col-md-6 col-lg-6">
					<div class="dropdown">
						<lable>Start Date</lable>
						<a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown">
							<div class="input-group">
								<input type="text" class="form-control" data-ng-model="eventData.event_start_date "><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							</div>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker data-ng-model="eventData.event_start_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown4' }" />
						</ul>
					</div>
				</div>


				<div class="col-xs-12 col-md-6 col-lg-6">
					<div class="dropdown">
						<lable>End Date</lable>
						<a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown">
							<div class="input-group">
								<input type="text" class="form-control" data-ng-model="eventData.event_end_date "><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							</div>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker data-ng-model="eventData.event_end_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown4' }" />
						</ul>
					</div>
				</div>


			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6 col-lg-6">
					<div class="dropdown">
						<lable>Registration Deadline:</lable>
						<a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown">
							<div class="input-group">
								<input type="text" class="form-control" data-ng-model="eventData.event_registration_deadline "><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							</div>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker data-ng-model="eventData.event_registration_deadline" data-datetimepicker-config="{ dropdownSelector: '#dropdown4' }" />
						</ul>
					</div>
				</div>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" data-ng-model="eventData.event_is_online"> Online Event </label>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6 col-lg-6">
					<div class="form-group">
						<label>Location: </label>
						<input class="form-control" placeholder="Location" id="location" ng-model="eventData.event_location">
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6">
					<div class="form-group">
						<label>Venue: </label>
						<input class="form-control" placeholder="Venue" id="venue" ng-model="eventData.event_venue">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="eventData.host">
					<div class="form-group">
						<label>Spectator Deduction Fee:</label>
						<div class="form-group input-group">
							<span class="input-group-addon">%</span>
							<input type="text" class="form-control" id="spec_fee" ng-model="eventData.event_deduction_fee" valid-decimal>
						</div>
					</div>
				</div>
			</div>
			<div class="row box-margin">
				<div class="col-sm-offset-9 col-sm-3">
					<a class="btn btn-primary btn-block" ng-click="validateEvent()">Submit</a>
				</div>
			</div>
		</form>
	</div>


	<div class="box box-margin" ng-if="eventData.host">
		<form>
			<legend>Spectator Fees</legend>
			<div class="list-group">
				<div class="list-group-item clearfix" ng-repeat="fee in spectatorFees">
					<span class="pull-right" ng-if="fee.spec_fee_amount_available != fee.sold"><a class="btn btn-sm btn-danger" ng-click="deleteFeeConfirmation($index)"><span class="fa fa-times"></span>
					</a>
					</span>
					<p class="lead event-footer-title">{{fee.spec_fee_name}}</p>Price ${{fee.spec_fee_amount}}
					<br>Amount: {{fee.spec_fee_amount_available}}
					<br>Sold: {{fee.sold}}
					<br>{{fee.spec_fee_description}}
				</div>
			</div>
			<div class="row box-margin">
				<div class="col-sm-offset-9 col-sm-3">
					<a class="btn btn-success btn-block" data-toggle="modal" data-target="#addFeeModal">Add Spectator Fee</a>
				</div>
			</div>
		</form>
	</div>

	<div class="box box-margin" ng-if="eventData.host">
		<legend class="box-margin">Sponsors</legend>
		<div class="tickets-container">
			<ul class="tickets-list">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat="sponsor in organizationSponsors">
						<li class="ticket-item">
							<div class="row">
								<div class="ticket-user col-md-10 col-sm-10 col-xs-10">
									<img ng-src="{{sponsor.sponsor_logo}}" class="user-avatar">
									<span class="user-name">{{sponsor.sponsor_name}}</span>
								</div>
								<div class="ticket-time  col-md-2 col-sm-2 col-xs-2">
									<div class="checkbox">
										<label>
											<input type="checkbox" data-ng-model="sponsor.shown">
										</label>
									</div>
								</div>
							</div>
						</li>
					</div>

				</div>
			</ul>
		</div>
		<div class="row box-margin">
			<div class="col-sm-offset-9 col-sm-3">
				<a class="btn btn-primary btn-block" ng-click="editEventSponsors()">Submit</a>
			</div>
		</div>
	</div>

	<div class="box box-margin" ng-if="!currentUser.is_owner">
		<legend>
			Delete Event
		</legend>
		<p class="lead">
			Deleting the event will make the event no longer visible to anyone. To reactive the event, contact MatchUp administrator at neptunolabs@gmail.com.
		</p>
		<div class="row box-margin">
			<div class="col-sm-offset-9 col-sm-3">
				<button class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteEventModal">
					Delete
				</button>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addFeeModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Spectator Fee</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="feeName" class="col-sm-3 control-label">Fee Name</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="feeName" ng-model="newFee.spec_fee_name">
							</div>
						</div>
						<div class="form-group">
							<label for="feeAmount" class="col-sm-3 control-label">Ticket Amount</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="feeAmount" ng-model="newFee.spec_fee_amount_available" valid-input input-pattern="[^0-9]+">
							</div>
						</div>
						<div class="form-group">
							<label for="feePrice" class="col-sm-3 control-label">Fee Price</label>
							<div class="col-sm-9">
								<div class="form-group input-group">
									<span class="input-group-addon">$</span>
									<input type="text" class="form-control" id="feePrice" ng-model="newFee.spec_fee_amount" valid-decimal>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="feeDescription" class="col-sm-3 control-label">Description</label>
							<div class="col-sm-9">
								<textarea class="form-control" rows="4" id="feeDescription" ng-model="newFee.spec_fee_description"></textarea>

							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="addFee()">Create</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<div class="modal fade" id="deleteModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" ng-if="!spectatorFees[deleteFeeIndex].sold">Delete Fee</h4>
					<h4 class="modal-title" ng-if="spectatorFees[deleteFeeIndex].sold">Reset ticket availability</h4>
				</div>
				<div class="modal-body">
					<p class="lead" ng-if="!spectatorFees[deleteFeeIndex].sold">Are you sure you want to delete this fee?</p>
					<p class="lead" ng-if="spectatorFees[deleteFeeIndex].sold">The fee has already sold {{spectatorFees[deleteFeeIndex].sold}} ticket(s). Because of this you can not delete the ticket only reset the amount of tickets available to the number of sold tickets. Do you want to set the ticket amount to {{spectatorFees[deleteFeeIndex].sold}}?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="removeFee()" ng-if="!spectatorFees[deleteFeeIndex].sold">Delete</button>
					<button type="button" class="btn btn-primary" ng-click="removeFee()" ng-if="spectatorFees[deleteFeeIndex].sold">Okay</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<div class="modal fade" id="deleteEventModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Delete Event</h4>
				</div>
				<div class="modal-body">
					<p class="lead">Are you sure you want to delete the event?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="deleteEvent()">Delete</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</div>

<div ng-if="!eventData.is_organizer && eventData.host">
	<h1>You are not a member of this organization and therefore cannot manage this event!</h1>
</div>

<div ng-if="!eventData.is_organizer && !eventData.host">
	<h1>You are not the creator of this event and therefore cannot manage it!</h1>
</div>