<!-- General Event Info -->
<div class="box box-margin">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-md-offset-2 col-sm-offset-2 col-lg-offset-0">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
					<img class="profile-picture" ng-src='{{eventInfo.event_logo}}' style="width: 75%"></img>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
					<h2>{{eventInfo.event_name}}</h2>
					<p class="info-paragraph">
						{{eventInfo.event_description}}
					</p>
					<dt>
						Created by
					</dt>
					<dd>
						{{ eventInfo.creator}}
					</dd>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-12 col-lg-6">
			<h3>General Info</h3>
			<dl class="info-paragraph">
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<dt>
							Start Date
						</dt>
						<dd>
							{{ eventInfo.event_start_date | date: 'medium'}}
						</dd>
						<dt>
							End Date
						</dt>
						<dd>
							{{ eventInfo.event_end_date | date: 'medium'}}
						</dd>
						<dt>
							Registration Deadline
						</dt>
						<dd>
							{{ eventInfo.event_registration_deadline | date: 'medium'}}
						</dd>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6">
						<dt>
							Location
						</dt>
						<dd>
							{{ eventInfo.event_location }}
						</dd>
						<span ng-if="!eventInfo.event_is_online">
							<dt>
								Venue
							</dt>
							<dd>
								{{ eventInfo.event_venue }}
							</dd> </span>
						<dt>
							Event Type
						</dt>
						<dd>
							{{ eventInfo.event_type }}
						</dd>
					</div>
				</div>
			</dl>
		</div>
	</div>
</div>

<!--Tournaments-->
<div class="box box-margin">
	<p class="info-title">
		Tournaments
	</p>
	<div class="row" >
		<div ng-repeat="tourn in tournamentsInfo" >
			<div class="col-lg-2 col-md-4 col-xs-6" >

				<a class="thumbnail" ng-click="getCompetitors($index)"> <img ng-src="{{tourn.game_image}}" > <h4 align="center">{{tourn.tournament_name}}</h4> </a>
			</div>

		</div>
	</div>
</div>

<!--Tournament Details-->

<div class="box box-margin">
	<h3>
	<p class="info-title">
		{{selectedTournament.tournament_name}} Details
	</p></h3>
	<div class="row">
		swds
	</div>
	<div class="row">
		<div class="widget-box" >
			<div class="widget-header bordered-bottom bordered-themesecondary">
				<h4 class="widget-title themesecondary">Competitors ({{competitors.length}}/{{selectedTournament.tournament_max_capacity}})</h4>
			</div>
			<!--Widget Header-->
			<div class="widget-body">
				<div class="widget-main no-padding">
					<div class="tickets-container">
						<ul class="tickets-list">
							<div class="row">
								<div class="col-lg-2 col-md-4 col-sm-12 col-xs-12" ng-repeat="competitor in competitors">
									<li class="ticket-item">
										<div class="ticket-user" ng-if="competitor.customer_profile_pic" ng-click="goToUser(competitor.customer_username)">
											<img ng-src="{{ competitor.customer_profile_pic }}" class="user-avatar">
											<span class="user-name">{{competitor.customer_tag}}</span>
										</div>
										<div class="ticket-user" ng-if="competitor.team_name" ng-click="goToTeam(competitor.team_name)">
											<img ng-src="{{ competitor.team_logo }}" class="user-avatar">
											<span class="user-name">{{competitor.team_name}}</span>
										</div>
									</li>
								</div>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="box box-margin" style="padding-top: 10px">
	<p class="info-title">
		Spectator Information
	</p>

	<!--Spectator Fees-->
	<div class="widget-box" style="padding-top: 10px">
		<div class="widget-header bordered-bottom bordered-themesecondary">
			<h4 class="widget-title themesecondary">Spectator Fees ({{fees.length}})</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main no-padding">
				<div class="tickets-container">
					<ul class="tickets-list">
						<div class="row">
							<div  class="col-lg-2 col-md-4 col-sm-12 col-xs-12"  ng-repeat="fee in fees">

								<label> <span class="lead">{{fee.spec_fee_name}} ({{fee.spec_fee_amount | currency}})</span> </label>
								<p>
									{{fee.spec_fee_description}}
									<br>
									<small>Tickets available: {{fee.spec_fee_amount_available - fee.sold}}/{{fee.spec_fee_amount_available}}</small>
								</p>

							</div>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!--Spectators-->
	<div class="widget-box">
		<div class="widget-header bordered-bottom bordered-themesecondary">
			<h4 class="widget-title themesecondary">Spectators Registered ({{participants.length}})</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main no-padding">
				<div class="tickets-container">
					<ul class="tickets-list">
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-12 col-xs-12" ng-repeat="participant in participants">
								<li class="ticket-item" ng-click="goToUser(participant.customer_username)">
									<div class="ticket-user">
										<img ng-src="{{ participant.customer_profile_pic }}" class="user-avatar">
										<!-- <img src="http://neptunolabs.com/images/badillo.jpg" class="user-avatar">-->
										<span class="user-name">{{participant.customer_tag}}</span>
									</div>
								</li>
							</div>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>