<div class="row" ng-if="event.is_organizer">
	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" ng-if="tournament.team_size == 1">
		<div class="box">
			<form role="form">
				<div class="form-group" ng-if="signups.length">
					<input class="form-control" type="search" placeholder="Search Users by Nickname, name, or filter by fee name" ng-model="item"/>
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="item in signups | filter:item | orderBy: 'customer_tag'">
						<div class="row">
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
								<img class="checkin-avatar" ng-src="{{item.customer_profile_pic}}">
								<h4 style="display:inline">{{item.customer_username}}<small style="margin-left:10px">({{item.customer_first_name}} {{item.customer_last_name}})</small><small style="margin-left:10px" ng-if="index==0">{{item.spec_fee_name}}</small></h4>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
								<button class="btn btn-default pull-right" ng-class="{ 'btn-success' : item.check_in}" ng-click="checkIn(item)">Check In</button>
							</div>
						</div>
					</li>
				</ul>							
			</form>
			<p class="lead" ng-if="!signups.length">Registrations are empty</p>
		</div>
	</div>
	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" ng-if="tournament.team_size > 1">
		<div class="box">
			<form role="form">
				<div class="form-group" ng-if="signups.length">
					<input class="form-control" type="search" placeholder="Search Teams by name" ng-model="item"/>
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="item in signups | filter:item | orderBy: 'team_name'">
						<div class="row">
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
								<img class="checkin-avatar" ng-src="{{item.team_logo}}">
								<h4 style="display:inline">{{item.team_name}}</h4>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
								<button class="btn btn-default pull-right" ng-class="{ 'btn-success' : item.check_in}" ng-click="checkIn(item)">Check In</button>
							</div>
						</div>
					</li>
				</ul>
			</form>
			<p class="lead" ng-if="!signups.length">Registrations are empty</p>
		</div>
	</div>
</div>



<div ng-if="!event.is_organizer && event.host">
	<h1>You are not a member of this organization and therefore cannot manage this registrations!</h1>
</div>

<div ng-if="!event.is_organizer && !event.host">
	<h1>You are not the creator of this tournament and therefore cannot manage registrations!</h1>
</div>