<div class="tab-content">
	<div class="tab-pane fade in active" id="tournaments-tab">
		<div class="box">
			<form>
				<legend>
					Tournaments
				</legend>
				<div class="list-group">
					<div class="list-group-item clearfix" ng-repeat="item in tournaments">
						<span class="pull-right"><a class="btn btn-sm btn-danger" ng-click="deleteTournament($index)"><span class="fa fa-times"></span> </a> </span>
						<span class="pull-right"><a class="btn btn-sm btn-primary second-button-ticket" ui-sref="app.editTournament({eventName: eventInfo.event_name , eventDate: eventInfo.event_start_date, eventLocation: eventInfo.event_location, tournamentName: item.tournament_name})"><span class="fa fa-gear"></span> </a> </span>
						<div ui-sref="app.tournamentDetails({eventName: eventInfo.event_name , eventDate: eventInfo.event_start_date, eventLocation: eventInfo.event_location, tournamentName: item.tournament_name})" >

							<p class="lead event-footer-title">
								{{item.tournament_name}}
							</p>
							Game: {{item.game_name}}
							<br>
							Type: {{item.tournament_type}}
							<br>
							Format:{{item.tournament_format}}
							<br>
							Price {{item.competitor_fee}}
							<br>
							Capacity {{item.tournament_max_capacity}}
						</div>
					</div>
				</div>
				<a class="btn btn-success" ng-click="addTournament()">Add Tournament</a>
			</form>
		</div>
	</div>
	<div class="tab-pane fade" id="tournament-tab">
		<div class="box">
			<h2>Tournament</h2>
			<form>
				<legend>
					General Info
				</legend>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label>Tournament Name: </label>
							<input class="form-control" ng-model="newTournament.tournament_name" maxlength="127">
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6">
						<label>Game: </label>
						<div class="form-group">
							<ac-select ac-model="newTournament.game" ac-options="game.game_name for game in games" ac-settings="{ itemHeight: '32' }">
								</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="dropdown">
							<lable>
								Start Date
							</lable>
							<a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown">
							<div class="input-group">
								<input type="text" class="form-control" data-ng-model="newTournament.start_date">
								<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							</div> </a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="newTournament.start_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown4' }" />
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="dropdown">
							<lable>
								Check In Deadline
							</lable>
							<a class="dropdown-toggle" id="dropdown5" role="button" data-toggle="dropdown">
							<div class="input-group">
								<input type="text" class="form-control" data-ng-model="newTournament.deadline">
								<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							</div> </a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="newTournament.deadline" data-datetimepicker-config="{ dropdownSelector: '#dropdown5' }" />
							</ul>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Rules:</label>
					<textarea class="form-control" rows="4" ng-model="newTournament.rules" maxlength="127"></textarea>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<label>Competitor Fee: </label>
						<div class="form-group input-group">
							<span class="input-group-addon">$</span>
							<input type="text" class="form-control" ng-model="newTournament.competitor_fee" valid-decimal>
						</div>
					</div>

					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label>Capacity: </label>
							<input type="text" class="form-control" ng-model="newTournament.tournament_max_capacity" valid-input input-pattern="[^0-9]+">
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6">
						<label>Seed Money: </label>
						<div class="form-group input-group">
							<span class="input-group-addon">$</span>
							<input type="text" class="form-control" ng-model="newTournament.seed_money" valid-input input-pattern="[^0-9]+">
						</div>
					</div>
					<div class="col-xs-12 col-md-4 col-lg-4">
						<label>Prize Money Distribution: </label>
						<div class="form-group">
							<select class="form-control" ng-model="newTournament.prize_distribution" ng-init="newTournament.prize_distribution = 'Standard'">
								<option ng-value="'Standard'">Standard</option>
								<option ng-value="'First and Second'">First and Second</option>
								<option ng-value="'Winner Takes All'">Winner Takes All</option>
							</select>
						</div>
					</div>
				</div>
				<legend>
					Format
				</legend>
				<label>Team based</label>
				<div class="form-inline">
					<div class="form-group">
						<input type="radio" ng-model="newTournament.teams" ng-value="true" >
						Yes
						<br>
						<input type="radio" ng-model="newTournament.teams" ng-value="false" ng-init="newTournament.teams = false">
						No
					</div>
					<div class="form-group" ng-show="newTournament.teams" style="margin-left:60px">
						<label>Team Size: </label>
						<input class="form-control" type="number" ng-model="newTournament.team_size">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label>Tournament Type: </label>
							<select class="form-control" ng-model="newTournament.tournament_type" ng-options="item for item  in tournamentType" ng-init="newTournament.tournament_type = tournamentType[0]"></select>
						</div>
					</div>
				</div>
				<div class="row" ng-show="newTournament.tournament_type == 'Two Stage'">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label># of Competitors per Group: </label>
							<input class="form-control" type="text" ng-model="newTournament.group_players" valid-input input-pattern="[^0-9]+">
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label># of Competitors advancing: </label>
							<input class="form-control" type="text" ng-model="newTournament.group_winners" valid-input input-pattern="[^0-9]+">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6" ng-show="newTournament.tournament_type == 'Single Stage'">
						<label>Tournament Format: </label>
						<select class="form-control" ng-model="newTournament.tournament_format" ng-options="item for item  in tournamentFormat" ng-init="newTournament.tournament_format = tournamentFormat[0]"></select>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6" ng-show="newTournament.tournament_type == 'Two Stage'">
						<label>Final Stage: </label>
						<select class="form-control" ng-model="newTournament.tournament_format" ng-options="item for item  in tournamentFormatTwo" ng-init="newTournament.tournament_format = tournamentFormatTwo[0]"></select>
					</div>
				</div>
				<div class="row custom-padding">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" data-ng-model="newTournament.scoring">
									Allow set points </label>
							</div>
						</div>
					</div>
				</div>
				<div class="btn-group btn-group-justified" role="group">
					<div class="btn-group" role="group">
						<a class="btn btn-default" ng-click="cancel()">Cancel</a>
					</div>
					<div class="btn-group" role="group">
						<a class="btn btn-primary" ng-click="createTournament()">Create</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<ul class="nav nav-tabs" style="visibility: hidden;">
	<li class="active">
		<a data-target="#tournaments-tab" id="edit-tournament-tab1" data-toggle="tab">Ace</a>
	</li>
	<li>
		<a data-target="#tournament-tab" id="edit-tab2" data-toggle="tab">Deep</a>
	</li>
</ul>

<div class="modal fade" id="deleteModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Delete</h4>
			</div>
			<div class="modal-body">
				<p>
					Are you sure you want to delete {{tournaments[tournamentIndex].name}} from the event?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary" ng-click="delete()">
					Delete
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>