<!-- MetisMenu CSS -->
<link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

<!-- Metis Menu Plugin JavaScript -->
<script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>

<!-- Navigation -->
<nav role="navigation">
	<div class="navbar-header navbar-default">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" ui-sref="app.home">MatchUP</a>
	</div>
	<!-- /.navbar-header -->

	<!-- <ul class="nav navbar-top-links navbar-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i> </a>
			<ul class="dropdown-menu dropdown-alerts">
				<li>
					<a href="#">
						<div>
							<i class="fa fa-comment fa-fw"></i> New Comment <span class="pull-right text-muted small">4 minutes ago</span>
						</div>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">
						<div>
							<i class="fa fa-twitter fa-fw"></i> 3 New Followers <span class="pull-right text-muted small">12 minutes ago</span>
						</div>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">
						<div>
							<i class="fa fa-envelope fa-fw"></i> Message Sent <span class="pull-right text-muted small">4 minutes ago</span>
						</div>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">
						<div>
							<i class="fa fa-tasks fa-fw"></i> New Task <span class="pull-right text-muted small">4 minutes ago</span>
						</div>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">
						<div>
							<i class="fa fa-upload fa-fw"></i> Server Rebooted <span class="pull-right text-muted small">4 minutes ago</span>
						</div>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a class="text-center" href="#"> <strong>See All Alerts</strong> <i class="fa fa-angle-right"></i> </a>
				</li>
			</ul>
		</li> 
 		
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> </a>
			<ul class="dropdown-menu dropdown-user">
				<li>
					<a ui-sref="app.userProfile({username: me})"><i class="fa fa-user fa-fw"></i> User Profile</a>
				</li>
				<li>
					<a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
				</li>
				<li class="divider"></li>
				<li>
					<a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
				</li>
			</ul>
 		</li>
 	</ul>-->

	<!-- /.navbar-top-links -->

	<div class="navbar-default sidebar" role="navigation" style="margin-top:10px">
		<div class="sidebar-nav navbar-collapse">
			<img style="width:100%; max-width:180px; display: block;
    margin: 0 auto;" align="middle" src="http://neptunolabs.com/images/matchup-logo.png">
			<ul class="nav" id="side-menu" style="margin-top:15px">
				<li class="sidebar-search">
					<form ng-submit="goToSearch(query)">
						<div class="input-group custom-search-form">
							<!-- ng-change="goToSearch(query)" -->
							<input ng-model="query" type="text" class="form-control" placeholder="Search...">
							<span class="input-group-btn">
									<button ng-click="goToSearch(query)"class="btn btn-default" type="button" >
										<i class="fa fa-search"></i>
									</button> </span>
						</div>
					</form>
					<!-- /input-group -->
				</li>
				<li>
					<a ui-sref="app.home" class="sidebar-a"><i class="fa fa-home fa-fw"></i> Home</a>
				</li>
				<li>
					<a ui-sref="app.userProfile({username: me})" class="sidebar-a"><i class="fa fa-user fa-fw"></i> User Profile</a>
				</li>
				<li>
					<a class="sidebar-a"><i class="fa fa-calendar fa-fw"></i> Events<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li>
							<a ui-sref="app.generalEvents" class="sidebar-a">Browse Events</a>
						</li>
						<li>
							<a ui-sref="app.registeredEvents({username: me})" class="sidebar-a">Registered Events</a>
						</li>
						<li>
							<a ui-sref="app.myEvents({username: me})" class="sidebar-a">My Events</a>
						</li>
						<li>
							<a ui-sref="app.createEvent" class="sidebar-a">
								</i>Create Event</a>
						</li>
					</ul>
					<!-- /.nav-second-level -->
				</li>
				<li>
					<a ui-sref="app.popularGames" class="sidebar-a"><i class="fa fa-gamepad fa-fw"></i> Popular Games</a>
				</li>
				<li>
					<a ui-sref="app.genres" class="sidebar-a"><i class="fa fa-th-large fa-fw"></i> Genres</a>
				</li>
				<li>
					<a ui-sref="app.userMatchups({username: me})" class="sidebar-a"><i class="fa fa-calendar-o fa-fw"></i> My MatchUps</a>
				</li>
				<li>
					<a ui-sref="app.userTeams({username: me})" class="sidebar-a"><i class="fa fa-group fa-fw"></i> My Teams</a>
				</li>
				<li>
					<a ui-sref="app.userOrganizations({username: me})" class="sidebar-a"><i class="fa fa-group fa-fw"></i> My Organizations</a>
				</li>
				<li>
					<a ui-sref="app.subcriptions" class="sidebar-a"><i class="fa fa-list-alt fa-fw"></i> Subscribed</a>
				</li>
				<li>
					<a ng-click="logout()" class="sidebar-a"><i class="fa fa-list-alt fa-sign-out"></i> Logout</a>
				</li>
			</ul>
		</div>
		<!-- /.sidebar-collapse -->
	</div>
	<!-- /.navbar-static-side -->
</nav>


<!-- Page Content -->
<div id="page-wrapper">
	<div class="container-fluid custom-padding">
		<ui-view></ui-view>
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->