<!-- LIVE EVENTES-->
<div class="widget-box">
    <div class="widget-header bordered-bottom bordered-themesecondary">
        <h3 class="widget-title themesecondary">Live</h3>
    </div>
    <!--Widget Header-->
    <div class="widget-body">
        <div class="widget-main no-padding">
            <div class="tickets-container">
                <div class="row" style="padding-left: 15px">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="event in liveEvents | limitTo: 8">
                        <!--REPEAT-->
                        <a class="thumbnail"  ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)"> <img ng-src="{{event.event_logo}}">
                            <hr class="hr-custom-padding">
                            <div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
										overflow: hidden;">
                                <p class="thumbnail-title">
                                    {{event.event_name}}
                                </p>
                                <p class="thumbnail-paragraph">
                                    {{event.event_location}}
                                </p>
                                <p class="thumbnail-paragraph">
                                    {{event.event_start_date | date: 'medium'}}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- pREMIUM EVENTS-->

<div class="widget-box">
    <div class="widget-header bordered-bottom bordered-themesecondary">
        <h3 class="widget-title themesecondary">Premium</h3>
    </div>
    <!--Widget Header-->
    <div class="widget-body">

        <div class="widget-main no-padding">
            <div class="tickets-container">

                <div class="row" style="padding-left: 15px">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="event in hostedEvents | limitTo: 8">
                        <a class="thumbnail" ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)" >
                            <img ng-src="{{event.event_logo}}">
                            <hr class="hr-custom-padding">
                            <div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
										overflow: hidden;">
                                <p class="thumbnail-title">
                                    {{event.event_name}}
                                </p>
                                <p class="thumbnail-paragraph">
                                    {{event.event_location}}
                                </p>
                                <p class="thumbnail-paragraph">
                                    {{event.event_start_date | date: 'medium'}}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="widget-box">
    <div class="widget-header bordered-bottom bordered-themesecondary">
        <h3 class="widget-title themesecondary">Regular</h3>
    </div>
    <!--Widget Header-->
    <div class="widget-body">
        <div class="widget-main no-padding">
            <div class="tickets-container">
                <div class="row" style="padding-left: 15px">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="event in regularEvents | limitTo: 8">
                        <a class="thumbnail" ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)">
                            <img ng-src="{{event.event_logo}}">
                            <hr class="hr-custom-padding">
                            <div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
										overflow: hidden;">
                                <p class="thumbnail-title">
                                    {{event.event_name}}
                                </p>
                                <p class="thumbnail-paragraph">
                                    {{event.event_location}}
                                </p>
                                <p class="thumbnail-paragraph">
                                    {{event.event_start_date | date: 'medium'}}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="widget-box">
    <div class="widget-header bordered-bottom bordered-themesecondary">
        <h3 class="widget-title themesecondary">Popular Games</h3>
    </div>
    <!--Widget Header-->
    <div class="widget-body">
        <div class="widget-main no-padding">
            <div class="tickets-container">
                <div class="row" style="padding-left: 15px">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="game in popularGames | limitTo: 6">
                        <a class="thumbnail" ui-sref="app.gameProfile">
                            <img ng-src="{{ game.game_image }}" ng-click="goToGameProfile(game.game_name, game.game_image)">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>