<div class="container-fluid" style="background-color:#F0F1F3; min-height:100%;width:100%">
	<div class="row">
		<div class="col-md-4 col-sm-8 col-xs-8 col-md-offset-4 col-sm-offset-2 col-xs-offset-2 panel-padding">
			<img src="http://neptunolabs.com/images/matchup-logo.png" alt="logo" style="width: 100%">
		</div>
		<div class="col-md-4 col-sm-8 col-xs-8 col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" align="center">Welcome</h3>
				</div>
				<div class="panel-body">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#signin" data-toggle="tab">Sign-in</a>
						</li>
						<li>
							<a href="#register" data-toggle="tab">Register</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane fade in active" id="signin">
							<form name="loginForm" ng-submit="login(loginForm.$valid)">
								<fieldset>
									<br/>
									<div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
										<input class="form-control" ng-model="credentials.username" placeholder="Username" name="username" type="text" autofocus required>
									</div>
									<div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
										<input class="form-control" ng-model="credentials.userPassword" placeholder="Password" name="password" type="password" required>
										<span class="text-danger" ng-show="badCredentials">Incorrect username or password</span>
									</div>
									<button class="btn btn-lg btn-success btn-block" type="submit">
										Login
									</button>
								</fieldset>
							</form>
						</div>
						<div class="tab-pane fade" id="register">
							<form name="createForm" ng-submit="createAccount(createForm.$valid)">
								<fieldset>
									<br />
									<div class="form-group">
										<label>First Name</label>
										<input class="form-control" name="first_name" type="text" ng-model="account.first_name" autofocus required>
									</div>
									<div class="form-group">
										<label>Last Name</label>
										<input class="form-control" name="last_name" type="text" ng-model="account.last_name" required>
									</div>
									<div class="form-group">
										<label>Usertag</label>
										<input class="form-control" name="usertag" type="text" ng-model="account.tag" required>
									</div>
									<div class="form-group">
										<label>Username</label>
										<input class="form-control" name="username" type="text" ng-model="account.username" required>
									</div>
									<div class="form-group">
										<label>Email</label>
										<input class="form-control" name="email" type="email" ng-model="account.email" required>
									</div>
									<div class="form-group">
										<label>Password</label>
										<input class="form-control" name="password" type="password" ng-model="account.password" required>
									</div>
									<div class="form-group">
										<label>Confirm Password</label>
										<input class="form-control" name="password" type="password" ng-model="account.confirmPassword" required>
										<span class="help-block" ng-show="incorrectPassword">Incorrect Password</span>
									</div>
									<button class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-4 col-md-offset-5 col-sm-offset-4 col-xs-offset-4">
		<img src="http://neptunolabs.com/images/logoPlain.png" alt="logo" style="width: 100%">
	</div>
</div>