<h3 class="page-header">Search Results</h3>

<div class="widget-box" ng-if="liveEvents.length>0">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Live</h3>
 	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row" style="padding-left: 15px">
					<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="event in liveEvents ">
						<!--REPEAT-->
						<a class="thumbnail"  ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)"> <img ng-src="{{event.event_banner}}">
						<hr class="hr-custom-padding">
						<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
							<p class="thumbnail-title">
								{{event.event_name}}
							</p>
							<p class="thumbnail-paragraph">
								{{event.event_location}}
							</p>
							<p class="thumbnail-paragraph">
								{{event.event_start_date | date: 'medium'}}
							</p>
						</div> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="widget-box" ng-if="premiumEvents.length>0">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Premium</h3>
				

	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row" style="padding-left: 15px">
					<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="event in premiumEvents ">
						<!--REPEAT-->
						<a class="thumbnail"  ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)"> <img ng-src="{{event.event_banner}}">
						<hr class="hr-custom-padding">
						<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
							<p class="thumbnail-title">
								{{event.event_name}}
							</p>
							<p class="thumbnail-paragraph">
								{{event.event_location}}
							</p>
							<p class="thumbnail-paragraph">
								{{event.event_start_date | date: 'medium'}}
							</p>
						</div> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="widget-box" ng-if="regularEvents.length>0">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Regular</h3>
 
	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row" style="padding-left: 15px">
					<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="event in regularEvents ">
						<!--REPEAT-->
						<a class="thumbnail"  ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)"> <img ng-src="{{event.event_banner}}">
						<hr class="hr-custom-padding">
						<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
							<p class="thumbnail-title">
								{{event.event_name}}
							</p>
							<p class="thumbnail-paragraph">
								{{event.event_location}}
							</p>
							<p class="thumbnail-paragraph">
								{{event.event_start_date | date: 'medium'}}
							</p>
						</div> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="widget-box" ng-if="pastEvents.length>0">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Past Events</h3>
 
	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row" style="padding-left: 15px">
					<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="event in pastEvents ">
						<!--REPEAT-->
						<a class="thumbnail"  ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)"> <img ng-src="{{event.event_banner}}">
						<hr class="hr-custom-padding">
						<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
							<p class="thumbnail-title">
								{{event.event_name}}
							</p>
							<p class="thumbnail-paragraph">
								{{event.event_location}}
							</p>
							<p class="thumbnail-paragraph">
								{{event.event_start_date | date: 'medium'}}
							</p>
						</div> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="widget-box" ng-if="users.length>0">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Users</h3>
		<a class="widget-more" ng-click="goToSearchResults('users', searchQuery)" ng-if="users.length>4"> See More<i class="fa fa-arrow-circle-o-right panel-padding"></i> </a>
	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row">
					<div id="userSearch" ng-repeat="user in users | limitTo: 4">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-click="goToUser(user.customer_username)">
							<div class="box box-margin list-group-item">
								<div class="media">
									<img class="pull-left event-organizer-thumbnail center-block" ng-src="{{user.customer_profile_pic}}">
									<div class="media-body">
										<h3 class="event-footer-title">{{user.customer_tag}}</h3>
										<p class="info-paragraph">
											{{user.customer_first_name}} {{user.customer_last_name}}
											<p ng-if="user.customer_country.length>0">({{user.customer_country}})</p>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="widget-box" ng-if="teams.length>0">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Teams</h3>
 	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-6" ng-repeat="team in teams ">

						<div class="box box-margin list-group-item" ng-click="goToMyTeams(team.team_name)">
							<div class="media">
								<img class="pull-left event-organizer-thumbnail center-block" ng-src="{{team.team_logo}}">
								<div class="media-body">
									<h3 class="event-footer-title">{{team.team_name}}</h3>
									<p>
										{{team.team_bio}}

									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="widget-box" ng-if="organizations.length>0">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Organizations</h3>
 	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-6" ng-repeat="organization in organizations ">

						<div class="box box-margin list-group-item" ng-click="goToOrganizationProfile(organization.organization_name)">
							<div class="media">
								<img class="pull-left event-organizer-thumbnail center-block" ng-src="{{organization.organization_logo}}">
								<div class="media-body">
									<h3 class="event-footer-title">{{organization.organization_name}}</h3>
									<p>
										{{organization.organization_bio}}
										There is no bio because I aint getitng one

									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
 
<div class="widget-box"  ng-if="games.length>0">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Games</h3>
 	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="game in games ">
						<a class="thumbnail" ng-click="goToGameProfile(game.game_name)"> <img ng-src="{{game.game_image}}" alt="{{game.game_name}}" height="60%" width="60%">
						<hr class="hr-custom-padding">
						<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
							<p class="thumbnail-title" align="center">
								{{game.game_name}}
							</p>
						</div> </a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="widget-box"  ng-if="genres.length>0">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Genres</h3>
 	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="genre in genres ">
						<a class="thumbnail" ng-click="goToGenreProfile(genre.genre_name)"> <img ng-src="{{genre.genre_image}}" alt="{{genre.genre_name}}" height="60%" width="60%">
						<hr class="hr-custom-padding">
						<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
							<p class="thumbnail-title" align="center">
								{{genre.genre_name}}
							</p>
						</div> </a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
