<ion-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">MatchUp</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                <img class="full-image" src="img/matchup.png">
            </div>
        </div>
        <div ng-if="error">
            <p style="color: red">The email address or password entered is incorrect. Please try again.</p>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input ng-model="credentials.userEmail" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input ng-model="credentials.userPassword" type="password">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="login()">
            Login
        </button>
        <button class="button button-block" ui-sref="createaccount">
            Create Account
        </button>
    </ion-content>
</ion-view>