<ion-view view-title="Matchups">
    <ion-content>
        <div class="list list-inset" ng-repeat="matchup in matchups">
            <a class="item item-avatar">
                <img ng-if="matchup.team_size == 1" ng-src="{{otherUser[$index].customer_profile_pic}}">
                <img ng-if="matchup.team_size > 1" ng-src="{{otherUser[$index].team_logo}}">
                <div ng-if="matchup.team_size == 1">
                    <h2 style="color: rgb(102, 221, 51);" ng-if="loggedInUser[$index].score > otherUser[$index].score">WIN vs. {{otherUser[$index].customer_tag}}</h2>
                    <h2 style="color: rgb(255, 102, 102);" ng-if="loggedInUser[$index].score < otherUser[$index].score">LOSE vs. {{otherUser[$index].customer_tag}}</h2>
                    <p>Round {{matchup.round_number}}: {{matchup.details[1].score}} - {{matchup.details[0].score}} @ {{matchup.event_name}}</p>
                </div>
                <div ng-if="matchup.team_size > 1">
                    <h2 style="color: rgb(102, 221, 51);" ng-if="loggedInUser[$index].score > otherUser[$index].score">WIN vs. {{otherUser[$index].team_name}}</h2>
                    <h2 style="color: rgb(255, 102, 102);" ng-if="loggedInUser[$index].score < otherUser[$index].score">LOSE vs. {{otherUser[$index].team_name}}</h2>
                    <p>Round {{matchup.round_number}}: {{matchup.details[1].score}} - {{matchup.details[0].score}} @ {{matchup.event_name}}</p>
                </div>
            </a>
        </div>
        <div class="card" ng-if="matchups.length == 0">
            <div class="item item-text-wrap">
                This user doesn't have any matchups
            </div>
        </div>
    </ion-content>
</ion-view>