<ion-view view-title="Profile">
    <ion-content class="padding">
        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <div class="row">
                        <div class="col col-75">
                            <h2>Project M 2015 sdf sdfdsda</h2>
                            <p>September 02 2015</p>
                        </div>
                        <div class="col">
                            <h1>1st</h1>
                        </div>
                    </div>
            </a>
             <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
             <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
        </div>
    </ion-content>
</ion-view>