<ion-view view-title="Profile">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-alert">
        </button>
        <button class="button button-icon" ng-click="popover.show($event)" ng-if="myProfile">
            <i class="ion-android-more-vertical"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="crop-banner">
            <img class="crop-image" ng-src="{{ profileData.customer_cover_photo }}">
        </div>
        <div>
            <div class="center-text">
                <img class="profile-pic" ng-src="{{ profileData.customer_profile_pic }}">
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="center-text">
                        <h1 class="h1-username">{{ profileData.customer_tag }}</h1>
                        <h2>{{ profileData.customer_first_name }} {{ profileData.customer_last_name }}</h2>
                        <p>{{ profileData.customer_country }}</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class=" center-text">
                                <h2 class="h1-username">Matches Won<br><br></h2>
                                <span class="round h1-username round-won">{{win}}</span>
                            </div>
                        </div>
                        <div class="col center-text">
                            <h2 class="h1-username">Matches Lost<br><br></h2>
                            <span class="round h1-username round-lost">{{lose}}</span>
                        </div>
                    </div>
                    <p>
                        <br>{{ profileData.customer_bio }}
                    </p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left" ng-if="!myProfile">
                    <a class="tab-item" ng-click="subscribeToUser(profileData.customer_username);">
                        <i class="icon ion-plus"></i> Subscribe
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Teams
            </div>
            <div class="list">

                <a class="item item-thumbnail-left" ng-click="goToTeamProfile(team.team_name)" ng-repeat="team in teams | limitTo: 3">
                    <img ng-src="{{ team.team_logo }}">
                    <h2>{{ team.team_name }}</h2>
                    <p>{{ team.team_bio }}</p>
                </a>
            </div>
            <a class="item item-icon-left dark" ng-href="#/app/teams/{{ profileData.customer_username }}">
                <i class="icon ion-android-arrow-forward"></i> See More
            </a>
        </div>
        <div class="card">
            <div class="item item-divider">
                Organizations
            </div>
            <div class="list">

                <a class="item item-thumbnail-left" ng-click="goToOrganizationProfile(organization.organization_name)" ng-repeat="organization in organizations | limitTo: 3">
                    <img ng-src="{{ organization.organization_logo }}">
                    <h2>{{ organization.organization_name }}</h2>
                </a>
            </div>
            <a class="item item-icon-left dark" ng-href="#/app/organizations/{{ profileData.customer_username }}">
                <i class="icon ion-android-arrow-forward"></i> See More
            </a>
        </div>
    </ion-content>
</ion-view>