<div class="box box-margin-bottom">
	<form class="form-horizontal" name="organizationForm" ng-submit="submitEditOrganization(organizationForm.$valid)">
		<legend>
			Edit Info
		</legend>
		<div class="form-group">
			<label class="col-sm-2 control-label">Paypal email</label>
			<div class="col-sm-10">
				<input class="form-control" name="email" type="email" ng-model="organization.organization_paypal_info" required>
			</div>
		</div>
		<div class="form-group">
			<label for="organizationBio" class="col-sm-2 control-label">Bio:</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="6" ng-model="organization.organization_bio"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<label class="col-sm-2 control-label">Upload Cover Photo</label>
				<div class="col-sm-3">
					<span class="file-input btn btn-primary btn-file btn-block"> Browse&hellip;
						<input ng-model="organization.organization_cover_photo" onchange="angular.element(this).scope().file_changed(this)" id="cover" type="file" accept="image/*">
					</span>
					<div class="form-group panel-padding">
						<label>Cover URL: </label>
						<input class="form-control" ng-model="organization.organization_cover_photo" name="cover" maxlength="127">
					</div>
				</div>
				<div class="col-sm-7">
					<img style="width:100%" src="{{organization.organization_cover_photo}}">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<label class="col-sm-2 control-label">Upload Logo</label>
				<div class="col-sm-3">
					<span class="file-input btn btn-primary btn-file btn-block"> Browse&hellip;
						<input ng-model="organization.organization_logo" onchange="angular.element(this).scope().file_changed(this)" id="profile" type="file" accept="image/*">
					</span>
					<div class="form-group panel-padding">
						<label>Cover URL: </label>
						<input class="form-control" ng-model="organization.organization_logo" name="logo" maxlength="127">
					</div>
				</div>
				<div class="col-sm-4">
					<img style="width:100%" src="{{organization.organization_logo}}">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-9 col-sm-3">
				<button type="submit" class="btn btn-success btn-block">
					Save Changes
				</button>
			</div>
		</div>
	</form>

	<form id="manageMembersBox">
		<!-- Manage Members -->
		<legend>
			Manage Members
		</legend>
		<div class="tickets-container">
			<ul class="tickets-list">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="member in members">
						<li class="ticket-item">
							<div class="row">
								<div class="ticket-user col-md-7 col-sm-7 col-xs-7">
									<img ng-src="{{member.customer_profile_pic}}" class="user-avatar">
									<span class="user-name"><span class="fa fa-star fa-6" ng-if="member.is_owner">&nbsp;</span>{{member.customer_tag}} ({{member.customer_first_name}} {{member.customer_last_name}})</span>
								</div>
								<div class="ticket-time  col-md-5 col-sm-5 col-xs-5">
									<a class="btn btn-sm btn-danger pull-right" ng-click="deleteUserPrompt(member)" ng-if="(currentUser.customer_username == member.customer_username) || (currentUser.is_owner && !member.is_owner)"><span class="fa fa-times"></span></a>
									<a class="btn btn-sm btn-default pull-right second-button-ticket" ng-click="makeMemberOwnerPrompt(member)" ng-if="!member.is_owner && currentUser.is_owner"><span class="fa fa-briefcase "></span></a>
								</div>
							</div>
						</li>
					</div>
				</div>
			</ul>
		</div>
		<div class="row">
			<div class="col-sm-offset-9 col-sm-3">
				<button class="btn btn-success btn-block" data-toggle="modal" data-target="#addMemberModal" ng-if="currentUser.is_owner">
					Add
				</button>
			</div>
		</div>
	</form>
	<form id="sponsorBox">
		<legend class="box-margin">
			Sponsors
		</legend>
		<div class="tickets-container">
			<ul class="tickets-list">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" ng-repeat="sponsor in sponsors">
						<li class="ticket-item">
							<div class="row">
								<div class="ticket-user col-md-10 col-sm-10 col-xs-10">
									<img ng-src="{{sponsor.sponsor_logo}}" class="user-avatar">
									<span class="user-name">{{sponsor.sponsor_name}}</span>
								</div>
								<div class="ticket-time  col-md-2 col-sm-2 col-xs-2">
									<a class="btn btn-sm btn-danger pull-right" ng-click="deleteSponsorPrompt(sponsor)"><span class="fa fa-times"></span></a>

								</div>
							</div>
						</li>
					</div>
				</div>
			</ul>
		</div>
		<div class="row">
			<div class="col-sm-offset-9 col-sm-3">
				<button class="btn btn-success btn-block" ui-sref="app.sponsorRequests({organizationName: organization.organization_name})">
					View Sponsor Requests
				</button>
			</div>
		</div>
	</form>

</div>

<div class="box box-margin-bottom" id="deleteOrganization" ng-if="currentUser.is_owner">
	<legend>
		Delete Organization
	</legend>
	<p>
		Deleting the organization will make it's profile no longer visible to other users.
	</p>
	<p>
		Organization Data such as past events will still be preserved.
	</p>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-4">
			<button class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteOrganizationModal">
				Delete
			</button>
		</div>
		<br>
		<br>
	</div>
</div>
<!--modal add Member -->
<div class="modal fade" id="addMemberModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Add Member</h4>
			</div>
			<div class="modal-body">
				<div class="form-group has-feedback">
					<form ng-submit="userSearch(query)">

						<div class="input-group custom-search-form">
							<!-- ng-change="goToSearch(query)" -->
							<input ng-model="query" type="text" class="form-control" placeholder="Search for Users">
							<span class="input-group-btn">
								<button ng-click="userSearch(query)" class="btn btn-default" type="button" >
									<i class="fa fa-search"></i>
								</button> </span>
						</div>
					</form>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" data-ng-model="addOwner"> Add member as an owner? </label>
						</div>
					</div>
				</div>
				<div class="tickets-container">
					<ul class="tickets-list">
						<li class="ticket-item" ng-repeat="user in users | filter: filterArray">
							<div class="ticket-user" ng-click="addMember(user)">
								<img ng-src="{{user.customer_profile_pic}}" class="user-avatar">
								<span class="user-name">{{user.customer_tag}} ({{user.customer_first_name}} {{user.customer_last_name}})</span>
							</div>
						</li>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- modal add Succes teammate -->
<div class="modal fade" id="memberAddSuccesModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="OK">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Succesfully added {{lastUserAdded.customer_tag}}</h4>
			</div>
			<div class="modal-body">
				<p>
					You have succesfully added {{lastUserAdded.customer_tag}} ({{lastUserAdded.customer_first_name}} {{lastUserAdded.customer_last_name}}) to {{organization.organization_name}}
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					OK
				</button>

			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- modal add Succes teammate -->
<div class="modal fade" id="memberAddOwnerSuccesModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="OK">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Succesfully made {{lastUserAdded.customer_tag}} an Owner</h4>
			</div>
			<div class="modal-body">
				<p>
					You have succesfully made {{lastUserAdded.customer_tag}} ({{lastUserAdded.customer_first_name}} {{lastUserAdded.customer_last_name}}) an Owner of {{organization.organization_name}}
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					OK
				</button>

			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<!-- modal delete Member -->
<div class="modal fade" id="deleteMemberModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Remove Member</h4>
			</div>
			<div class="modal-body">
				<p>
					Are you sure you want to remove this member?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary" ng-click="removeMember()">
					Remove
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<!-- modal delete Member -->
<div class="modal fade" id="leaveModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Leave Organization</h4>
			</div>
			<div class="modal-body">
				<p>
					Are you sure you want to leave this organization?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary" ng-click="removeMember()">
					Leave
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<!-- modal delete Member -->
<div class="modal fade" id="alertOwnerModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Leave Organization</h4>
			</div>
			<div class="modal-body">
				<p>
					You cannot leave this organization without assigning another person as owner
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<!-- modal delete Member -->
<div class="modal fade" id="deleteSponsorModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Delete Sponsor</h4>
			</div>
			<div class="modal-body">
				<p>
					Are you sure you want to delete this sponsor?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary" ng-click="removeSponsor()">
					Delete
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<!-- modal delete Succes member -->
<div class="modal fade" id="memberDeleteSuccesModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="OK">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Succesfully removed {{deleteMember.customer_tag}}</h4>
			</div>
			<div class="modal-body">
				<p>
					You have succesfully removed {{deleteMember.customer_tag}} ({{deleteMember.customer_first_name}} {{deleteMember.customer_last_name}}) from {{organization.organization_name}}
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					OK
				</button>

			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- modal add owner Member -->
<div class="modal fade" id="addOwnerModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Add owner</h4>
			</div>
			<div class="modal-body">
				<p>
					Are you sure you want to assign this member as an owner of the organization?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary" ng-click="makeMemberOwner()">
					Okay
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<!-- modal remove Sponsor -->
<div class="modal fade" id="removeSponsorModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Remove Sponsor</h4>
			</div>
			<div class="modal-body">
				<p>
					Are you sure you want to remove this sponsor?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary" ng-click="removeSponsor()">
					Delete
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- modal deleteorg -->
<div class="modal fade" id="deleteOrganizationModal" ng-if="currentUser.is_owner">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Delete organization</h4>
			</div>
			<div class="modal-body">
				<p>
					Are you sure you want to delete this organization?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary" ng-click="deleteOrganization()">
					Okay
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>