<img class="banner-cover" ng-src="{{organization.organization_cover_photo}}"></img>
<div class="box box-margin">
	<div class="row">
		<div class="col-xs-8 col-sm-4 col-md-4 col-lg-2">
			<img class="profile-picture" ng-src='{{organization.organization_logo}}'></img>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<h2>{{organization.organization_name}}</h2>
			<h3>About</h3>
			<p class="info-paragraph">
				{{organization.organization_bio}}
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-9">
			<a class="btn btn-primary btn-block box-margin" ui-sref="app.editOrganization({organizationName: organization.organization_name})" ng-if="organization.is_member">Edit</a>
		</div>
	</div>
</div>

<div class="widget-box box-margin" ng-if="sponsors.lenght >0">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary"> Sponsors</h3>
	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row" style="padding-left: 15px">
					<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="sponsor in sponsors">
						<a class="thumbnail" ng-href="{{sponsor.sponsor_link}}"> <img ng-src="{{ sponsor.sponsor_logo }}" style="height: 70%">
						<hr class="hr-custom-padding">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Events widget -->
<div class="widget-box box-margin" ng-if="events.lenght >0">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Events</h3>
		<a class="widget-more" ng-if="events.lenght >4" ui-sref="app.organizationEvents({organizationName: organization.organization_name})"> See More<i class="fa fa-arrow-circle-o-right panel-padding"></i> </a>
	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<div class="row" style="padding-left: 15px">
					<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="event in events | limitTo: 4">
						<a class="thumbnail" ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)"> <img ng-src="{{event.event_banner}}">
						<hr class="hr-custom-padding">
						<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
							<p class="thumbnail-title">
								{{event.event_name}}
							</p>
							<p class="thumbnail-paragraph">
								{{event.event_location}}
							</p>
							<p class="thumbnail-paragraph">
								{{ event.event_start_date | date: 'medium'}}
							</p>
						</div> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Organization Events widget-->

<!-- Owners widget -->
<div class="widget-box box-margin">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Members</h3>
	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<ul class="tickets-list">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" ng-repeat="member in members track by $index">
							<li class="ticket-item" ng-click="goToUser(member.customer_username)">
								<div class="ticket-user">
									<img ng-src="{{member.customer_profile_pic}}" class="user-avatar">
									<span class="user-name"><span class="fa fa-star fa-6" ng-if="member.is_owner">&nbsp;</span>{{member.customer_tag}} ({{member.customer_first_name}} {{member.customer_last_name}})</span>
								</div>
							</li>
						</div>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Owners widget -->
