<ion-view view-title="">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="primary">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="query" ng-change="search" type="text" placeholder="Search" />
        </label>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a class="item item-divider " href="#/app/searchgeneral/Live">
                Live          
            </a>
            <a class="item item-avatar" href="#" ng-repeat="event in liveEvents">
                <img ng-src="{{ event.img }}">
                <h2>{{ event.title }}</h2>
                <p>{{ event.location }}</p>
            </a>

            <a class="item item-divider " href="#/app/searchgeneral/Past">
                Past              
            </a>
            <a class="item item-avatar" href="#" ng-repeat="event in pastEvents">
                <img ng-src="{{ event.img }}">
                <h2>{{ event.title }}</h2>
                <p>{{ event.location }}</p>
            </a>

            <a class="item item-divider " href="#/app/searchgeneral/Premium">
                Premium            
            </a>
            <a class="item item-avatar" href="#" ng-repeat="event in pastEvents">
                <img ng-src="{{ event.img }}">
                <h2>{{ event.title }}</h2>
                <p>{{ event.location }}</p>
            </a>

            <a class="item item-divider " href="#/app/searchgeneral/Regular">
                Regular               
            </a>
            <a class="item item-avatar" href="#" ng-repeat="event in regularEvents">
                <img ng-src="{{ event.img }}">
                <h2>{{ event.title }}</h2>
                <p>{{ event.location }}</p>
            </a>

            <a class="item item-divider " href="#/app/searchgeneral/Users">
                Users               
            </a>
            <a class="item item-avatar" href="#" ng-repeat="user in users">
                <img ng-src="{{ user.img }}">
                <h2>{{ user.title }}</h2>
                <p>{{ user.location }}</p>
            </a>

            <a class="item item-divider " href="#/app/searchgeneral/Teams">
                Teams                
            </a>
            <a class="item item-avatar" href="#" ng-repeat="team in teams">
                <img ng-src="{{ team.img }}">
                <h2>{{ team.title }}</h2>
            </a>

            <a class="item item-divider " href="#/app/searchgeneral/Organizations">
                Organizations               
            </a>
            <a class="item item-avatar" href="#" ng-repeat="organization in organizations">
                <img ng-src="{{ organization.img }}">
                <h2>{{ organization.title }}</h2>
            </a>
            
            <a class="item item-divider" href="#/app/searchgeneral/Games">
                Games         
            </a>
            
            <a class="item item-avatar" href="#" ng-repeat="game in games">
                <img ng-src="{{ game.img }}">
                <h2>{{ game.title }}</h2>
            </a>

            <a class="item item-divider " href="#/app/searchgenres">
                Genres
            </a>
            <a class="item" href="#/app/genre/upcoming" ng-repeat="genre in genres">
                <h2>{{ genre.title }}</h2>
            </a>
        </div>
    </ion-content>
</ion-view>