 <ion-view view-title="">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="primary">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="query" ng-change="search(query)" type="text" placeholder="Search" />
        </label>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a class="item item-divider " href="#/app/searchgeneral/Live">
                Live          
            </a>
            <a class="item item-avatar" ng-click="goToEvent(event.event_name, event.event_start_date, event.event_location)" ng-repeat="event in liveEvents | limitTo: 3">
                <img ng-src="{{ event.event_logo }}">
                <h2>{{ event.event_name }}</h2>
                <p>{{ event.event_location}}</p>
                <p>{{event.event_start_date | date: 'medium'}}</p>
            </a>

            <a class="item item-divider " href="#/app/searchgeneral/Past">
                Past              
            </a>
            <a class="item item-avatar" ng-click="goToEvent(event.event_name, event.event_start_date, event.event_location)" ng-repeat="event in pastEvents | limitTo: 3">
                <img ng-src="{{ event.event_logo }}">
                <h2>{{ event.event_name }}</h2>
                <p>{{ event.event_location}}</p>
                <p>{{event.event_start_date | date: 'medium'}}</p>
            </a>

            <a class="item item-divider " href="#/app/searchgeneral/Premium">
                Premium            
            </a>
            <a class="item item-avatar" ng-click="goToEvent(event.event_name, event.event_start_date, event.event_location)" ng-repeat="event in premiumEvents | limitTo: 3">
                <img ng-src="{{ event.event_logo }}">
                <h2>{{ event.event_name }}</h2>
                <p>{{ event.event_location}}</p>
                <p>{{event.event_start_date | date: 'medium'}}</p>
            </a>

            <a class="item item-divider " href="#/app/searchgeneral/Regular">
                Regular               
            </a>
            <a class="item item-avatar" ng-click="goToEvent(event.event_name, event.event_start_date, event.event_location)" ng-repeat="event in regularEvents | limitTo: 3">
                <img ng-src="{{ event.event_logo }}">
                <h2>{{ event.event_name }}</h2>
                <p>{{ event.event_location}}</p>
                <p>{{event.event_start_date | date: 'medium'}}</p>
            </a>

            <a class="item item-divider " href="#/app/searchgeneral/Users">
                Users               
            </a>
            <a class="item item-avatar" href="#" ng-repeat="user in users | limitTo: 3">
                <img ng-src="{{ user.customer_profile_pic }}">
                <h2>{{ user.customer_username }}</h2>
                <p>{{ user.customer_country }}</p>
            </a>

            <a class="item item-divider " href="#/app/searchgeneral/Teams">
                Teams                
            </a>
            <a class="item item-avatar" href="#" ng-repeat="team in teams | limitTo: 3">
                <img ng-src="{{ team.team_logo }}">
                <h2>{{ team.team_name }}</h2>
            </a>

            <a class="item item-divider " href="#/app/searchgeneral/Organizations">
                Organizations               
            </a>
            <a class="item item-avatar" href="#" ng-repeat="organization in organizations | limitTo: 3">
                <img ng-src="{{ organization.organization_logo }}">
                <h2>{{ organization.organization_name }}</h2>
            </a>
            
            <a class="item item-divider" href="#/app/searchgeneral/Games">
                Games         
            </a>
            
            <a class="item item-avatar" ng-click="goToGameProfile(game.game_name, game.game_image)" ng-repeat="game in games | limitTo: 3">
                <img ng-src="{{ game.game_image }}">
                <h2>{{ game.game_name }}</h2>
            </a>

            <a class="item item-divider " href="#/app/searchgenres">
                Genres
            </a>
            <a class="item item-avatar" href="#/app/genre/upcoming" ng-repeat="genre in genres | limitTo: 3">
                <img ng-src="{{ genre.genre_image }}">
                <h2>{{ genre.genre_name }}</h2>
            </a>
        </div>
    </ion-content>
</ion-view>