<ion-view view-title="{{resultType}}">
    <ion-nav-buttons side="left">
        <button class="button button-icon" onclick="location.href='#/app/search'">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list" ng-if="live || past || hosted || regular">
            <a class="item item-avatar" ng-click="goToEvent(data.event_name, data.event_start_date, data.event_location)" ng-repeat="data in searchData">
                <img ng-src="{{ data.event_logo }}">
                <h2>{{ data.event_name }}</h2>
                <p>{{ data.event_location }}</p>
                <p>{{event.event_start_date | date: 'medium'}}</p>
            </a>
        </div>

        <div class="list" ng-if="users">
            <a class="item item-avatar" ng-click="goToUserProfile(data.customer_username)" ng-repeat="data in searchData">
                <img ng-src="{{ data.customer_profile_pic }}">
                <h2>{{ data.customer_tag }}</h2>
                <p>{{ data.customer_country }}</p>
            </a>
        </div>
        
        <div class="list" ng-if="teams">
            <a class="item item-avatar" ng-click="goToTeamProfile(data.team_name)" ng-repeat="data in searchData">
                <img ng-src="{{ data.team_logo }}">
                <h2>{{ data.team_name }}</h2>
            </a>
        </div>
        
        <div class="list" ng-if="organizations">
            <a class="item item-avatar" ng-click="goToOrganizationProfile(data.organization_name)" ng-repeat="data in searchData">
                <img ng-src="{{ data.organization_logo }}">
                <h2>{{ data.organization_name }}</h2>
            </a>
        </div>
        
        <div class="list" ng-if="games">
            <a class="item item-avatar" ng-click="goToGameProfile(game.game_name, game.game_image)" ng-repeat="data in searchData">
                <img ng-src="{{ data.game_image }}">
                <h2>{{ data.game_name }}</h2>
            </a>
        </div>
        
        <div class="list" ng-if="genres">
            <a class="item item-avatar" href="#" ng-repeat="data in searchData">
                <img ng-src="{{ data.genre_image }}">
                <h2>{{ data.genre_name }}</h2>
            </a>
        </div>

    </ion-content>
</ion-view>