<ion-view view-title="{{resultType}}">
    <ion-nav-buttons side="left">
        <button class="button button-icon" onclick="location.href='#/app/search'">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a class="item item-avatar" href="#" ng-repeat="data in searchData">
                <img ng-src="{{ data.img }}">
                <h2>{{ data.title }}</h2>
                <p>{{ data.location }}</p>
            </a>
        </div>
    </ion-content>
</ion-view>