<ion-view view-title="">
   <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="primary">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" />
        </label>
    </ion-nav-buttons>
    <ion-content>
         <div class="list">
           <a class="item item-divider item-icon-right" href="#">
                Live
                <i class="icon ion-android-arrow-forward"></i>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/lolbr.jpeg">
                <h2>LOL Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/lolbr.jpeg">
                <h2>LOL Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/lolbr.jpeg">
                <h2>LOL Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
           <a class="item item-divider item-icon-right" href="#">
                Past
                <i class="icon ion-android-arrow-forward"></i>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-divider item-icon-right" href="#">
                Premium
                <i class="icon ion-android-arrow-forward"></i>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-divider item-icon-right" href="#">
                Regular
                <i class="icon ion-android-arrow-forward"></i>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-divider item-icon-right" href="#/app/search/users">
                Users
                <i class="icon ion-android-arrow-forward"></i>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-divider item-icon-right" href="#">
                Teams
                <i class="icon ion-android-arrow-forward"></i>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-divider item-icon-right" href="#">
                Organizations
                <i class="icon ion-android-arrow-forward"></i>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-divider item-icon-right" href="#">
                Games
                <i class="icon ion-android-arrow-forward"></i>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-divider item-icon-right" href="#">
                Genres
                <i class="icon ion-android-arrow-forward"></i>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>EVO Championship Series</h2>
                <p>Badillo's House, Jersey</p>
            </a>
        </div>
    </ion-content>
</ion-view>