.masonry-brick {
    margin: 1em;
    display: none;
}

.masonry-brick.loaded {
    display: block;
}
/* Custom width and heigh for popover in event list*/

.fit-events-popover {
    height: 38%;
}

.fit-profile-popover {
    height: 8%;
}

.fit-team-popover {
    height: 16%;
}
/* Banner Crop */

.crop-banner {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    z-index: -1;
}

.crop-image {
    width: 100%;
}

.profile-pic {
    height: 100px;
    width: 100px;
    margin-top: -50px;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.center-text {
    text-align: center;
}

.h1-username {
    font-size: 24px
}
/* Display for matches won and lost in profile*/

.round {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 10px;
}

.round-won {
    border: 2px solid #33cd5f;
}

.round-lost {
    border: 2px solid #ef473a;
}

.game-cover {
    max-width: 40vw;
    max-height: 50vh;
}

.center-horizonatlly {
    margin: 0 auto;
}

.absolute-center {
    /* Internet Explorer 10 */
    
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    /* Firefox */
    
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* Safari, Opera, and Chrome */
    
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /* W3C */
    
    display: box;
    box-pack: center;
    box-align: center;
}
/* Circular image for matchup*/

.img-circular {
/*    background-image: url('../img/ron.jpg');*/
    background-size: cover;
    border-style: solid;
    border-width: 2px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.no-border{
    border-width: 0;
}

.player-2 {
    border-color: #ef473a;
    background-color: #ef473a;
}

.player-1 {
    border-color: #387ef5;
    background-color: #387ef5;
}

.set-circular {
    height: 5vh;
    width: 5vh;
    display: inline-block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.large {
    height: 10vh;
    width: 10vh;
}

.mini {
    height: 7vh;
    width: 7vh;
}

.blur-cover {
    height: 23vh;
/*    background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url(../img/dota2.jpg);*/
    background-size: cover !important;
    position: relative;
}

.blur-cover > header {
    position: absolute;
    bottom: 0;
}

.blur-cover > header > h4 {
    margin: 0;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.full-width {
    width: 100%;
}

.list-cover{
    padding: 0px;
    margin: 0px;
}

/* Ratings stuff */

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}

ul.rating li i {
  font-size: 30px;
}


/* Center vertical the right buttons in a list*/
.center-item.item-button-right .item-content>.button, 
.center-item.item-button-right .item-content>.buttons, 
.center-item.item-button-right>.button, 
.center-item.item-button-right>.buttons{
  top:17px !important;
}