hr.fadinghr {
    border: 0;
    width: 80%;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.masonry-brick {
margin: 1em;
display: none;
}
.masonry-brick.loaded {
display: block;
}

/* Custom width and heigh for popover in event list*/
.fit-events-popover {
    height: 210px;
    width: 150px
}

/* Banner Crop */
.crop-banner {
    width: 100%;
    height: 200px;
    overflow: hidden;
    z-index: -1;
}

.crop-image {
    width: 100%;
}


.profile-pic {
    height: 100px;
    width: 100px;
    margin-top: -50px;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.center-text {
    text-align: center;
}

.h1-username {
    font-size: 24px
}

.round {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 10px;
}

.round-won{
    border: 2px solid #33cd5f;
}

.round-lost{
    border: 2px solid #ef473a;
}