<ion-view view-title="My Matchups">
    <ion-content>
        <!--
<div class="list list-inset">
<label class="item item-input">
<i class="icon ion-search placeholder-icon"></i>
<input type="text" placeholder="Search">
</label>
</div>
-->


        <div class="list list-inset" ng-repeat="matchup in matchups">
            <a class="item item-avatar" ng-click="goToPastMatchup(matchup)">
                <img ng-src="{{otherUser[$index].customer_profile_pic}}">
                <h2 style="color: rgb(102, 221, 51);" ng-if="loggedInUser[$index].score > otherUser[$index].score">WIN vs. {{otherUser[$index].customer_tag}}</h2>
                <h2 style="color: rgb(255, 102, 102);" ng-if="loggedInUser[$index].score < otherUser[$index].score">LOSE vs. {{otherUser[$index].customer_tag}}</h2>
                <p>Round {{matchup.round_number}}: {{matchup.details[1].score}} - {{matchup.details[0].score}} @ {{matchup.event_name}}</p>
            </a>
        </div>

    </ion-content>
</ion-view>