<ion-view view-title="My Matchups">
    <ion-content>
        <div class="list list-inset" ng-repeat="matchup in matchups">
            <a class="item item-avatar" ng-click="goToPastMatchup(matchup)">
                <img ng-if="matchup.team_size == 1" ng-src="{{otherUser1[$index].customer_profile_pic}}">
                <img ng-if="matchup.team_size > 1" ng-src="{{otherUser1[$index].team_logo}}">
                <h2 style="color: rgb(102, 221, 51);" ng-if="loggedInUser[$index].score > otherUser1[$index].score && matchup.team_size == 1">WIN vs. {{otherUser1[$index].customer_tag}}</h2>
                <h2 style="color: rgb(102, 221, 51);" ng-if="loggedInUser[$index].score > otherUser1[$index].score && matchup.team_size > 1">WIN vs. {{otherUser1[$index].team_name}}</h2>
                <h2 style="color: rgb(255, 102, 102);" ng-if="loggedInUser[$index].score < otherUser1[$index].score && matchup.team_size == 1">LOSE vs. {{otherUser1[$index].customer_tag}}</h2>
                <h2 style="color: rgb(255, 102, 102);" ng-if="loggedInUser[$index].score < otherUser1[$index].score && matchup.team_size > 1">LOSE vs. {{otherUser1[$index].team_name}}</h2>
                <p>Round {{matchup.round_number}}: {{matchup.details[1].score}} - {{matchup.details[0].score}} @ {{matchup.event_name}}</p>
            </a>
        </div>

    </ion-content>
</ion-view>