<ion-view view-title="My Subscriptions">
    <ion-content>
        <div class="list list-inset">
            <a class="item center-item item-avatar item-button-right" href="#" ng-repeat="subscription in subscriptions">
                <img ng-src="{{subscription.customer_profile_pic}}">
                <h2>{{subscription.customer_tag}}</h2>
                <button class="button button{{isSubscribed}}" ng-click="toggleSubscribe()">
                    <i class="icon ion-person-add"></i>
                </button>
            </a>
        </div>
    </ion-content>
</ion-view>