<img class="banner-cover" ng-src="{{eventInfo.event_banner}}"></img>
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified tab-padding-top">
	<li class="active">
		<a data-target="#main" data-toggle="tab">Main</a>
	</li>
	<li ng-if="competitorsTab">
		<a data-target="#competitors" data-toggle="tab">Competitors</a>
	</li>
	<li ng-if="standingsTab">
		<a data-target="#standings" data-toggle="tab">Standings</a>
	</li>
	<li ng-if="groupStageTab">
		<a data-target="#groupStage" data-toggle="tab">Group Stage</a>
	</li>
	<li ng-if="roundsTab">
		<a data-target="#rounds" data-toggle="tab">Rounds</a>
	</li>
	<li ng-if="roundsTab">
		<a data-target="#bracket" data-toggle="tab">Bracket</a>
	</li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane fade in active" id="main">
		<div class="panel-padding">
			<!--			General Info    	 -->
			<div class="box box-margin">
				<h2 align="middle">{{tournament.tournament_name}}</h2>
				<!--					Tournament Info-->
				<div class="row tab-padding-top">
					<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-2">
						<a class="thumbnail" ng-click="goToGameProfile(tournament.game_name)"> <img ng-src="{{tournament.game_image}}"> <h4 align="center">{{tournament.game_name}}</h4> </a>
					</div>
					<!--						Tournament Details-->
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<h3>Tournament Format</h3>
							<dl class="info-paragraph">
								<dt>
									Tournament Type
								</dt>
								<dd>
									{{tournament.tournament_type}}
								</dd>
								<dt>
									Format
								</dt>
								<dd>
									{{tournament.tournament_format}}
								</dd>
								<div ng-if="tournament.tournament_type == 'Two Stage'">
									<dt>
										# of competitors per group
									</dt>
									<dd>
										{{tournament.number_of_people_per_group}}
									</dd>
									<dt>
										# of competitors advancing
									</dt>
									<dd>
										{{tournament.amount_of_winners_per_group}}
									</dd>
								</div>
								<div ng-if="tournament.team_size > 1">
									<dt>
										Play Style
									</dt>
									<dd>
										Team (Size {{tournament.team_size}})
									</dd>
								</div>
								<div ng-if="tournament.team_size == 1">
									<dt>
										Play Style
									</dt>
									<dd>
										Solo
									</dd>
								</div>
								<dt>
									Score Type
								</dt>
								<dd>
									{{tournament.score_type}}
								</dd>
							</dl>
						</div>

						<!--					Dates-->
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<h3>Date<span ng-if="eventInfo.host"> & Price</span></h3>
							<dl class="info-paragraph">
								<dt>
									Tournament Start Date
								</dt>
								<dd>
									{{tournament.tournament_start_date | date: 'medium'}}
								</dd>
								<dt>
									Check in Deadline
								</dt>
								<dd>
									{{tournament.tournament_check_in_deadline | date: 'medium'}}
								</dd>
								<div ng-if="eventInfo.host">
									<!-- MONO
									<dt>
									Prize Pool
									</dt>
									<dd>
									{{tournament.seed_money | currency}}
									</dd>
									<dt>
									Prize distribution
									</dt>
									<dd>
									{{tournament.prize_distribution_name}}
									</dd>
									-->
									<dt>
										Competitor Fee
									</dt>
									<dd>
										{{tournament.competitor_fee | currency}}
									</dd>
								</div>
							</dl>
						</div>
					</div>
				</div>
				<!--					Rules-->
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12">
						<h3>Rules</h3>
						<p class="info-paragraph">
							{{ tournament.tournament_rules }}
						</p>
					</div>
				</div>

				<div class="row tab-padding-top" ng-if="!eventInfo.host">
					<h2 class="info-title">Event Info</h2>
					<!--				Event Info   	  -->
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-md-offset-2 col-sm-offset-2 col-lg-offset-0">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
								<a class="thumbnail" ng-click="goToEvent(eventInfo.event_name,  eventInfo.event_start_date, eventInfo.event_location)"><img class="profile-picture" ng-src='{{eventInfo.event_logo}}'></img> </a>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
								<h3>{{eventInfo.event_name}}</h3>
								<p class="info-paragraph">
									{{eventInfo.event_description}}
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<h3>General Info</h3>
						<dl class="info-paragraph">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<dt>
										Start Date
									</dt>
									<dd>
										{{ eventInfo.event_start_date | date: 'medium'}}
									</dd>
									<dt>
										End Date
									</dt>
									<dd>
										{{ eventInfo.event_end_date | date: 'medium'}}
									</dd>
									<dt>
										Registration Deadline
									</dt>
									<dd>
										{{ eventInfo.event_registration_deadline | date: 'medium'}}
									</dd>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<dt>
										Location
									</dt>
									<dd>
										{{ eventInfo.event_location }}
									</dd>
									<span ng-if="!eventInfo.event_is_online">
										<dt>
											Venue
										</dt>
										<dd>
											{{ eventInfo.event_venue }}
										</dd> </span>
									<dt>
										Event Type
									</dt>
									<dd>
										{{ eventInfo.event_type }}
									</dd>
								</div>
							</div>
						</dl>
					</div>

				</div>

				<div class="row tab-padding-top" ng-if="!eventInfo.host">
					<div class="col-lg-10 col-md-10 col-xs-12 col-lg-offset-1 col-md-offset-1">
						<!--					Hosted by/ Creator-->
						<h2 class="info-title">Hosted By</h2>
						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<a class="thumbnail" ng-click="goToUser(hostInfo.customer_username)"><img class="profile-picture cursor" ng-src="{{hostInfo.customer_profile_pic}}"> </a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
							<h3 style="margin-top:0px;padding-top:0px">{{hostInfo.customer_tag}}</h3>
							<p class="info-paragraph">
								{{hostInfo.customer_bio}}
							</p>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2">
						<div class="btn-group btn-group-justified box-margin" role="group">
							<div class="btn-group" role="group" ng-if="!eventInfo.is_organizer && !tournament.is_competitor && canRegister && !tournament.sold_out">
								<button type="button" class="btn btn-success" data-target="#competitorSignUpModal" ng-if="tournament.team_size == 1" data-toggle="modal">
									Competitor Sign Up
								</button>
								<button type="button" class="btn btn-success" ng-click="teamModal()" ng-if="tournament.team_size > 1">
									Team Sign Up
								</button>
							</div>
							<div class="btn-group" role="group" ng-if="eventInfo.is_organizer">
								<button type="button" class="btn btn-primary" ui-sref="app.eventSettings({eventName: eventInfo.event_name , eventDate: eventInfo.event_start_date, eventLocation: eventInfo.event_location })">
									Settings
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--			Sponsors-->
		</div>
	</div>
	<div class="tab-pane fade" id="competitors" ng-if="competitorsTab">
		<div class="panel-padding">
			<div class="widget-box">
				<div class="widget-header bordered-bottom bordered-themesecondary">
					<h4 class="widget-title themesecondary"><span ng-if="tournament.team_size == 1">Competitors</span><span ng-if="tournament.team_size > 1">Teams</span> Registered ({{competitors.length}}/{{tournament.tournament_max_capacity}})</h4>
				</div>
				<!--Widget Header-->
				<div class="widget-body">
					<div class="widget-main no-padding">
						<div class="tickets-container">
							<ul class="tickets-list">
								<div class="row">
									<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="competitor in competitors">
										<li class="ticket-item">
											<div class="ticket-user" ng-if="competitor.customer_profile_pic" ng-click="goToUser(competitor.customer_username)">
												<img ng-src="{{ competitor.customer_profile_pic }}" class="user-avatar">
												<span class="user-name">{{competitor.customer_tag}}</span>
											</div>
											<div class="ticket-user" ng-if="competitor.team_name" ng-click="goToTeamsProfile(competitor.team_name)">
												<img ng-src="{{ competitor.team_logo }}" class="user-avatar">
												<span class="user-name">{{competitor.team_name}}</span>
											</div>
										</li>
									</div>

								</div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="standings" ng-if="standingsTab">
		<div class="panel-padding">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-md-offset-0 col-lg-offset-2">
					<div class="page-header" ng-if="tournament.tournament_type == 'Two Stage' && standings">
						<h1>Final Stage</h1>
					</div>
					<div class="page-header" ng-if="onGoingStanding">
						<h1>Competitors</h1>
					</div>
					<div class="page-header" ng-if="tournament.tournament_type == 'Single Stage' && standings">
						<h1>Result</h1>
					</div>
					<table class="table" ng-if="standings">
						<thead>
							<tr>
								<th style="text-align:center" ng-if="tournament.tournament_completed">Standing</th>
								<th>Competitor</th>
								<th>Seed</th>
								<th>Match History</th>
							</tr>
						</thead>
						<tbody ng-repeat="standing in standings">
							<!-- Mierda que no sirve -->
							<tr ng-repeat="competitor in standing">
								<td width="10%" style="text-align:center" ng-if="$first" rowspan="{{standing.length}}">{{competitor.standing | ordinal}}</td>
								<td  width="10%" id="competitor-name" ng-click="goToUser(competitor.customer_username)" ng-if="competitor.customer_tag">{{competitor.customer_tag}}</td>
								<td  width="10%" id="competitor-name" ng-click="goToTeamsProfile(competitor.team_name)" ng-if="competitor.team_name">{{competitor.team_name}}</td>
								<td  width="30%">{{competitor.competitor_seed}}</td>
								<td><span ng-repeat="match in competitor.match_history"> <span ng-if="match.win" class="match-square player-1" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> W </span> <span ng-if="!match.win" class="match-square loss" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> L </span> <span ng-if="match.win == null" class="match-square pending" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> P </span> </span></td>
							</tr>
						</tbody>
					</table>
					<table class="table table-striped" ng-if="onGoingStanding">
						<thead>
							<tr>
								<th style="text-align:center">Seed</th>
								<th>Competitor</th>
								<th>Match History</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="competitor in onGoingStanding | orderBy:'competitor_seed'">
								<td width="5%" style="text-align:center">{{competitor.competitor_seed}}</td>
								<td id="competitor-name" ng-click="goToUser(competitor.customer_username)" ng-if="competitor.customer_tag">{{competitor.customer_tag}}</td>
								<td id="competitor-name" ng-click="goToTeamsProfile(competitor.team_name)" ng-if="competitor.team_name">{{competitor.team_name}}</td>
								<td><span ng-repeat="match in competitor.match_history"> <span ng-if="match.win" class="match-square player-1" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> W </span> <span ng-if="match.win == false" class="match-square loss" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> L </span> <span ng-if="match.in_progress && match.win == null" class="match-square in-progress" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> I </span> <span ng-if="match.win == null && !match.in_progress" class="match-square pending" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> P </span> </span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row" ng-if="tournament.tournament_type == 'Two Stage'">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-md-offset-0 col-lg-offset-2">
					<div class="page-header">
						<h1>Group Stage</h1>
					</div>
					<div ng-repeat="group in groups">
						<p class="lead">
							Group {{$index + 1}}
						</p>
						<table class="table table-striped">
							<thead>
								<tr>
									<th style="text-align:center" ng-if="group[0].standing">Standing</th>
									<th style="text-align:center">Seed</th>
									<th>Competitor</th>
									<th>Match History</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="competitor in group" ng-if="group[0].standing">
									<td width="10%" style="text-align:center">{{competitor.standing | ordinal}} </td>
									<td width="5%" style="text-align:center">{{competitor.competitor_seed}}</td>

									<td id="competitor-name" ng-click="goToUser(competitor.customer_username)" ng-if="competitor.customer_tag">{{competitor.customer_tag}} <span class="text-success" ng-if="competitor.advanced">(Advancing)</span></td>
									<td id="competitor-name" ng-click="goToTeamsProfile(competitor.team_name)" ng-if="competitor.team_name">{{competitor.team_name}} <span class="text-success" ng-if="competitor.advanced">(Advancing)</span></td>
									<td><span ng-repeat="match in competitor.match_history"> <span ng-if="match.win" class="match-square player-1" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> W </span> <span ng-if="match.win == false" class="match-square loss" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> L </span> <span ng-if="match.in_progress && match.win == null" class="match-square in-progress" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> I </span> <span ng-if="match.win == null && !match.in_progress" class="match-square pending" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> P </span> </span></td>
								</tr>
								<tr ng-repeat="competitor in group | orderBy: 'competitor_seed'" ng-if="!group[0].standing">
									<td width="5%" style="text-align:center">{{competitor.competitor_seed}}</td>

									<td id="competitor-name" ng-click="goToUser(competitor.customer_username)" ng-if="competitor.customer_tag">{{competitor.customer_tag}} <span class="text-success" ng-if="competitor.advanced">(Advancing)</span></td>
									<td id="competitor-name" ng-click="goToTeamsProfile(competitor.team_name)" ng-if="competitor.team_name">{{competitor.team_name}} <span class="text-success" ng-if="competitor.advanced">(Advancing)</span></td>
									<td><span ng-repeat="match in competitor.match_history"> <span ng-if="match.win" class="match-square player-1" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> W </span> <span ng-if="match.win == false" class="match-square loss" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> L </span> <span ng-if="match.in_progress && match.win == null" class="match-square in-progress" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> I </span> <span ng-if="match.win == null && !match.in_progress" class="match-square pending" ng-click="getTournamentMatch(match.round_number,match.match_number,match.round_of)"> P </span> </span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-md-offset-0 col-lg-offset-8">
					<hr>
					<span class="match-square player-1">W</span> = Win <span class="match-square loss" style="padding-right">L</span> = Loss <span class="match-square in-progress">I</span> = In progress <span class="match-square pending">P</span> = Pending
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="groupStage" ng-if="tournamentInfo.groupStage">
		<div class="panel-padding">
			<div class="col-lg-6 col-md-6 col-xs-12 col-lg-offset-3 col-md-offset-3">
				<div class="box box-margin">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
							<label>Groups: </label>
							<select class="form-control" ng-model="selectedGroup" ng-options="'Group '+item.group_number for item in tournamentInfo.groupStage.groups" ng-change="resetGroup(selectedGroup)"></select>
							<br/>
							<label>Rounds: </label>
							<select class="form-control" ng-model="$parent.selectedGroupRound" ng-options="'Round '+item.round_number for item in selectedGroup.rounds"></select>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-md-offset-0 col-lg-offset-1">
							<h3 class="info-title">Round {{selectedGroupRound.round_number}} Details</h3>
							<div style="text-align:center">
								<h4 style="padding-top:0px;margin-top:0px">Best of {{selectedGroup.rounds[selectedGroupRound.round_number - 1].round_best_of}}</h4>
								<p class="info-paragraph">
									Start Date: {{selectedGroup.rounds[selectedGroupRound.round_number - 1].round_start_date | date: 'medium'}}
								</p>
								<p class="info-paragraph">
									Round Completed: {{selectedGroup.rounds[selectedGroupRound.round_number - 1].round_completed}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
					<div class="page-header">
						<h1>Matches</h1>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-md-offset-3 col-lg-offset-4">
					<div class="input-group custom-search-form">
						<input ng-model="groupRoundQuery" type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
							<button class="btn btn-default disabled" type="button" >
								<i class="fa fa-search"></i>
							</button> </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" ng-repeat="match in selectedGroup.rounds[selectedGroupRound.round_number-1].matches  | filter:groupRoundQuery" ng-if="match">
					<div class="box box-margin cursor" ng-click="getTournamentMatch(selectedGroupRound.round_number,match.match_number,'Group')">
						<h4 align="center">Match {{match.match_number}}<span ng-if="match.station_number"> (Station {{match.station_number}})</span></h4>
						<div ng-if="tournament.team_size == 1">
							<div class="row" align="center">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<img ng-if="match.players[0].customer_profile_pic" class="img-circular player-1 large center-block" ng-src="{{match.players[0].customer_profile_pic}}" />
									<i ng-if="!match.players[0].customer_profile_pic" class="fa fa-question-circle fa-5x"></i>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h1 style="text-align:center"> {{match.players[0].score || '0'}}-{{match.players[1].score || '0'}}</h1>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<img ng-if="match.players[1].customer_profile_pic" class="img-circular player-2 large center-block" ng-src="{{match.players[1].customer_profile_pic}}" />
									<i ng-if="!match.players[1].customer_profile_pic" class="fa fa-question-circle fa-5x"></i>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h3 style="text-align:center">{{match.players[0].customer_tag}}</h3>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h4 style="text-align:center"></h4>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h3 style="text-align:center">{{match.players[1].customer_tag}}</h3>
								</div>
							</div>
						</div>
						<div ng-if="tournament.team_size > 1">
							<div class="row" align="center">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<img ng-if="match.players[0].team_logo" class="img-circular player-1 large center-block" ng-src="{{match.players[0].team_logo}}" />
									<i ng-if="!match.players[0].team_logo" class="fa fa-question-circle fa-5x"></i>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h1 style="text-align:center"> {{match.players[0].score || '0'}}-{{match.players[1].score || '0'}}</h1>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<img ng-if="match.players[1].team_logo" class="img-circular player-2 large center-block" ng-src="{{match.players[1].team_logo}}" />
									<i ng-if="!match.players[1].team_logo" class="fa fa-question-circle fa-5x"></i>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h3 style="text-align:center">{{match.players[0].team_name}}</h3>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h4 style="text-align:center"></h4>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h3 style="text-align:center">{{match.players[1].team_name}}</h3>
								</div>
							</div>
						</div>
						<div ng-if="match.stream_link">
							<hr>
							<a ng-href="{{match.stream_link}}">{{match.stream_link}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="rounds">
		<div class="panel-padding">
			<div class="col-lg-6 col-md-6 col-xs-12 col-lg-offset-3 col-md-offset-3">
				<div class="box box-margin">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
							<div ng-if="tournamentInfo.finalStage.loserRounds">
								<label>Bracket: </label>
								<select class="form-control" ng-model="bracket" ng-options="item for item in bracketTypes" ng-change="bracketChange(bracket)"></select>
								<br/>
							</div>
							<br/>
							<label>Rounds: </label>
							<select class="form-control" ng-model="selectedRound" ng-options="'Round '+item.round_number for item in bracketType"></select>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-md-offset-0 col-lg-offset-1">
							<h3 class="info-title">Round {{selectedRound.round_number}} Details</h3>
							<div style="text-align:center">
								<h4 style="padding-top:0px;margin-top:0px">Best of {{selectedRound.round_best_of}}</h4>
								<p class="info-paragraph">
									Start Date: {{selectedRound.round_start_date | date: 'medium'}}
								</p>
								<p class="info-paragraph">
									Round Completed: {{selectedRound.round_completed}}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
					<div class="page-header">
						<h1>Matches</h1>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-md-offset-3 col-lg-offset-4">
					<div class="input-group custom-search-form">
						<input ng-model="roundQuery" type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
							<button class="btn btn-default disabled" type="button" >
								<i class="fa fa-search"></i>
							</button> </span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" ng-repeat="match in bracketType[selectedRound.round_number-1].matches  | filter:roundQuery">
					<div class="box box-margin cursor" ng-click="getTournamentMatch(selectedRound.round_number,match.match_number,bracket)">
						<h4 align="center">Match {{match.match_number}}<span ng-if="match.station_number"> (Station {{match.station_number}})</span></h4>
						<div ng-if="tournament.team_size == 1">
							<div class="row" align="center">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<img ng-if="match.players[0].customer_profile_pic" class="img-circular player-1 large center-block" ng-src="{{match.players[0].customer_profile_pic}}" />
									<i ng-if="!match.players[0].customer_profile_pic" class="fa fa-question-circle fa-5x"></i>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h1 style="text-align:center"> {{match.players[0].score || '0'}}-{{match.players[1].score || '0'}}</h1>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<img ng-if="match.players[1].customer_profile_pic" class="img-circular player-2 large center-block" ng-src="{{match.players[1].customer_profile_pic}}" />
									<i ng-if="!match.players[1].customer_profile_pic" class="fa fa-question-circle fa-5x"></i>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h3 style="text-align:center">{{match.players[0].customer_tag}}</h3>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h4 style="text-align:center"></h4>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h3 style="text-align:center">{{match.players[1].customer_tag}}</h3>
								</div>
							</div>
						</div>
						<div ng-if="tournament.team_size > 1">
							<div class="row" align="center">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<img ng-if="match.players[0].team_logo" class="img-circular player-1 large center-block" ng-src="{{match.players[0].team_logo}}" />
									<i ng-if="!match.players[0].team_logo" class="fa fa-question-circle fa-5x"></i>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h1 style="text-align:center"> {{match.players[0].score || '0'}}-{{match.players[1].score || '0'}}</h1>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<img ng-if="match.players[1].team_logo" class="img-circular player-2 large center-block" ng-src="{{match.players[1].team_logo}}" />
									<i ng-if="!match.players[1].team_logo" class="fa fa-question-circle fa-5x"></i>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h3 style="text-align:center">{{match.players[0].team_name}}</h3>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h4 style="text-align:center"></h4>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
									<h3 style="text-align:center">{{match.players[1].team_name}}</h3>
								</div>
							</div>
						</div>
						<div ng-if="match.stream_link">
							<hr>
							<a ng-href="{{match.stream_link}}">{{match.stream_link}}</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="bracket">
		<div class="panel-padding">
			<div class="box box-margin">
				<h3 ng-if="tournament.tournament_format == 'Double Elimination'" class="page-header">Winners Bracket</h3>
				<div class="overflow-container" ng-style="bracketHeight">
					<div class="overflow noselect">
						<div class="tournament">
							<h4 ng-repeat="round in rounds" style="width:200px" align="middle">Round {{$index + 1}}</h4>
						</div>
						<div class="tournament format">
							<ul class="round" ng-repeat="round in rounds">
								<li class="spacer" ng-repeat-start="item in round" ng-if="$first">
									&nbsp;
								</li>
								<match player1="{{item.players[0].customer_tag}}{{item.players[0].team_name}}" score1={{item.players[0].score}} position1={{item.players[0].position}} player2="{{item.players[1].customer_tag}}{{item.players[1].team_name}}" score2={{item.players[1].score}} position1={{item.players[1].position}} bye='{{item.bye}}' match="{{item.match_number}}" completed="{{item.match_completed}}" loser-bye="{{item.isLoser}}" extra="{{item.extra}}"></match>
								<li class="spacer" ng-repeat-end>
									&nbsp;
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="box box-margin" ng-if="tournament.tournament_format == 'Double Elimination'">
				<h3 class="page-header">Losers Bracket</h3>
				<div class="overflow-container" ng-style="loserBracketHeight">
					<div class="overflow noselect">
						<div class="tournament">
							<h4 ng-repeat="round in loserRounds" style="width:200px" align="middle">Round {{$index + 1}}</h4>
						</div>
						<div class="tournament format">
							<ul class="round" ng-repeat="round in loserRounds">
								<li class="spacer" ng-repeat-start="item in round" ng-if="$first">
									&nbsp;
								</li>
								<match player1="{{item.players[0].customer_tag}}{{item.players[0].team_name}}" score1={{item.players[0].score}} position1={{item.players[0].position}} player2="{{item.players[1].customer_tag}}{{item.players[1].team_name}}" score2={{item.players[1].score}} position1={{item.players[1].position}} bye='{{item.bye}}' match="{{item.match_number}}" completed="{{item.match_completed}}" loser-bye="{{round.isLoser}}" extra="{{item.extra}}"></match>
								<li class="spacer" ng-repeat-end>
									&nbsp;
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="competitorSignUpModal" tabindex="-1" role="dialog" aria-labelledby="competitorSignUpModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Competitor Sign Up</h4>
			</div>
			<div class="modal-body">
				<div>
					<h3 class="info-title">{{tournament.tournament_name}}</h3>
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<a class="thumbnail" ng-click="goToGameProfile(tournament.game_name)"> <img ng-src="{{tournament.game_image}}"> <h4 align="center">{{tournament.game_name}}</h4> </a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<p class="info-paragraph" ng-if="eventInfo.host">
								1 Competitor <span class="pull-right">{{tournament.competitor_fee | currency}}</span>
							</p>
							<p class="info-paragraph" ng-if="!eventInfo.host">
								Are your sure you want to sign up to {{tournament.tournament_name}}?
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-success" ng-click="checkOut()">
					<span ng-if="eventInfo.host">Check Out</span>
					<span ng-if="!eventInfo.host">Sign Up</span>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="teamSignUpModal" tabindex="-1" role="dialog" aria-labelledby="teamSignUpModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Team Sign Up</h4>
			</div>
			<div class="modal-body">
				<legend>
					Choose Team
				</legend>
				<div class="tickets-container">
					<ul class="tickets-list">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat="team in teams">
								<li class="ticket-item" ng-click="teamSelected($index)">
									<div class="row">
										<div class="ticket-user col-md-12 col-sm-12 col-xs-12" ng-style="$index === selected.team && {'-webkit-box-shadow': '0 0 3px rgba(42,47,62,0.4)',
										'-moz-box-shadow': '0 0 3px rgba(42,47,62,0.4)'}">
											<img ng-src="{{team.team_logo}}" class="user-avatar">
											<span class="user-name">{{team.team_name}}</span>
										</div>
									</div>
								</li>
							</div>
						</div>
					</ul>
				</div>
				<form>
					<legend class="box-margin">
						Choose Roster (Tournament Team Size {{tournament.team_size}})
					</legend>
					<div class="tickets-container">
						<ul class="tickets-list">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat="member in members">
									<li class="ticket-item">
										<div class="row">
											<div class="ticket-user col-md-10 col-sm-10 col-xs-10">
												<img ng-src="{{member.customer_profile_pic}}" class="user-avatar">
												<span class="user-name">{{member.customer_tag}}</span>
											</div>
											<div class="ticket-time  col-md-2 col-sm-2 col-xs-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" ng-model="member.checked" ng-change="memberRadio(member.checked)" ng-init="member.checked=false">
													</label>
												</div>
											</div>
										</div>
									</li>
								</div>
							</div>
						</ul>
					</div>
					<h4 style="text-align:center" ng-class="{'text-danger': !sizeCorrect}">{{currentSize}}/{{tournament.team_size}} members selected</h4>
				</form>
				<div class="row" ng-if="eventInfo.host">
					<hr>
					<div class="col-md-6 col-md-offset-3">
						<p class="info-paragraph" ng-if="eventInfo.host">
							Team Sign Up <span class="pull-right">{{tournament.competitor_fee | currency}}</span>
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-success" ng-click="checkOut()" ng-disabled="!sizeCorrect">
					<span ng-if="eventInfo.host">Check Out</span>
					<span ng-if="!eventInfo.host">Sign Up</span>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Sign Up</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="info-paragraph">
							Sign up to {{tournament.tournament_name}} successful
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Ok
				</button>
			</div>
		</div>
	</div>
</div>

<!-- modal matchup-->
<div class="modal fade" id="tournamentMatchupModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Round {{matchInfo.round}} Match {{matchInfo.match}}
				<br>
				<small ng-if="matchInfo.station_number">Station {{matchInfo.station_number}}</small><small ng-if="matchInfo.stream_link">Stream <a ng-href="{{matchInfo.stream_link}}">
					<br>
					{{matchInfo.stream_link}}</a></small></h4>
			</div>
			<div class="modal-body">
				<div ng-if="tournament.team_size == 1">
					<div class="row" align="center">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
							<img ng-if="matchInfo.players[0].customer_profile_pic" class="img-circular player-1 large center-block" ng-src="{{matchInfo.players[0].customer_profile_pic}}" />
							<i ng-if="!matchInfo.players[0].customer_profile_pic" class="fa fa-question-circle fa-5x"></i>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
							<h1 style="text-align:center">{{matchInfo.players[0].score || '0'}}-{{matchInfo.players[1].score || '0'}}</h1>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
							<img ng-if="matchInfo.players[1].customer_profile_pic" class="img-circular player-2 large center-block" ng-src="{{matchInfo.players[1].customer_profile_pic}}" />
							<i ng-if="!matchInfo.players[1].customer_profile_pic" class="fa fa-question-circle fa-5x"></i>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<h3 style="text-align:center">{{matchInfo.players[0].customer_tag}}</h3>
						</div>
						<div class="col-xs-4 col-sm-2 col-md-4 col-lg-4">
							<h4 style="text-align:center">Best of {{matchInfo.sets.length}}</h4>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
							<h3 style="text-align:center">{{matchInfo.players[1].customer_tag}}</h3>
						</div>
					</div>
					<div style="text-align: center">
						<span ng-repeat="set in matchInfo.sets" ng-if="set.scores[0].competitor_number && set.scores[1].competitor_number"> <div class="set-circular set-margin" ng-class="set.scores[0].score > set.scores[1].score ? 'player-1' : 'player-2'"></div> </span>
					</div>
					<div class="row" ng-repeat="set in matchInfo.sets" ng-if="set.scores[0].competitor_number && set.scores[1].competitor_number && matchInfo.score_type == 'Points'">
						<hr>
						<p class="info-paragraph" style="text-align:center">
							Set {{$index + 1}}
						</p>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
							<img class="img-circular player-1 large center-block" ng-src="{{matchInfo.players[0].customer_profile_pic}}" />
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
							<h1 style="text-align:center"> {{set.scores[0].score || '0'}}-{{set.scores[1].score || '0'}}</h1>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
							<img class="img-circular player-2 large center-block" ng-src="{{matchInfo.players[1].customer_profile_pic}}" />
						</div>
					</div>
				</div>
				<div ng-if="tournament.team_size > 1">
					<div class="row" align="center">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
							<img ng-if="matchInfo.players[0].team_logo" class="img-circular player-1 large center-block" ng-src="{{matchInfo.players[0].team_logo}}" />
							<i ng-if="!matchInfo.players[0].team_logo" class="fa fa-question-circle fa-5x"></i>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
							<h1 style="text-align:center"> {{matchInfo.players[0].score || '0'}}-{{matchInfo.players[1].score || '0'}}</h1>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
							<img ng-if="matchInfo.players[1].team_logo" class="img-circular player-2 large center-block" ng-src="{{matchInfo.players[1].team_logo}}" />
							<i ng-if="!matchInfo.players[1].team_logo" class="fa fa-question-circle fa-5x"></i>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
							<h3 style="text-align:center">{{matchInfo.players[0].team_name}}</h3>
						</div>
						<div class="col-xs-4 col-sm-2 col-md-4 col-lg-4">
							<h4 style="text-align:center">Best of {{matchInfo.sets.length}}</h4>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
							<h3 style="text-align:center">{{matchInfo.players[1].team_name}}</h3>
						</div>
					</div>
					<div style="text-align: center">
						<span ng-repeat="set in matchInfo.sets" ng-if="set.scores[0].competitor_number && set.scores[1].competitor_number"> <div class="set-circular set-margin" ng-class="set.scores[0].score > set.scores[1].score ? 'player-1' : 'player-2'"></div> </span>
					</div>
					<div ng-repeat="set in matchInfo.sets" ng-if="set.scores[0].competitor_number $$ set.scores[1].competitor_number && matchInfo.score_type == 'Points'">
						<hr>
						<div class="row" align="center">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
								<img class="img-circular player-1 large center-block" ng-src="{{matchInfo.players[0].team_logo}}" />
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
								<h1 style="text-align:center"> {{set.scores[0].score || '0'}}-{{set.scores[1].score || '0'}}</h1>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
								<img class="img-circular player-2 large center-block" ng-src="{{matchInfo.players[1].team_logo}}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>