<ion-view title="Organizations">
    <ion-nav-buttons side="left">
        <button class="button button-icon" onclick="location.href='#/app/profile/summary'">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon">
            <i class="ion-plus"></i>
        </button>
        <button class="button button-icon ion-android-alert">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <a class="item item-thumbnail-left" href="#">
                <img src="img/esportPR.png">
                <h2>EsportsPR</h2>
                <p>Owners: Maricarmen Vargas, Mono</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/esportPR.png">
                <h2>EsportsPR</h2>
                <p>Owners: Maricarmen Vargas, Mono</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/esportPR.png">
                <h2>EsportsPR</h2>
                <p>Owners: Maricarmen Vargas, Mono</p>
            </a>
        </div>
    </ion-content>
</ion-view>