<ion-view title="Organizations">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="gotToProfile(customerUsername)">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-alert">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <a class="item item-thumbnail-left" href="#" ng-repeat="organization in organizationsData">
                <img ng-src="{{organization.organization_logo}}">
                <h2>{{ organization.organization_name }}</h2>
            </a>
        </div>
    </ion-content>
</ion-view>