<ion-view view-title="Tournaments">
    <ion-tabs class="tabs-positive">
        <ion-tab title="Main" href="#/app/game/summary/{{ gameName }}">
            <ion-nav-view name="game-summary-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Upcoming" href="#/app/game/upcoming/{{ gameName }}">
            <ion-nav-view name="game-upcoming-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Live" href="#/app/game/live/{{ gameName }}">
            <ion-nav-view name="game-live-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="History" href="#/app/game/history/{{ gameName }}">
            <ion-nav-view name="game-history-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>