<ion-view view-title="Tournaments">
    <ion-tabs class="tabs-positive">   
        <ion-tab title="Upcoming" ng-href="#/app/game/summary/{{gameName}}">
            <ion-nav-view name="game-upcoming-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Live" ng-href="#/app/game/summary{{gameName}}">
            <ion-nav-view name="game-live-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="History" ng-href="#/app/game/summary{{gameName}}">
            <ion-nav-view name="game-history-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Main" ng-href="#/app/game/summary{{gameName}}">
            <ion-nav-view name="game-summary-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>