<ion-view view-title="Tournament">
    <ion-content>
        <div class="card">
            <div class="item center-text">
                <img class="game-cover" ng-src="{{ gameImage }}">
                <h1>{{ gameName }}</h1>
            </div>
        </div>
         <div class="list list-inset">
            <div class="item item-divider">
                Promoted
            </div>
            <a class="item item-thumbnail-left" ng-click="goToEvent(event.event_name, event.event_start_date, event.event_location)" ng-repeat="event in promotedEvents">
                <img ng-src="{{ event.event_logo }}">
                <h2>{{ event.event_name }}</h2>
                <p>{{ event.event_start_date | date: 'medium' }}</p>
                <p>{{ event.event_location }}</p>
            </a>
        </div>
    </ion-content>
</ion-view>