<div class="row">
	<div class="col-md-8">
		<div class="box">
			<form name="teamForm" ng-submit="submitCreateTeam(teamForm.$valid)">
				<legend>
					Create Team
				</legend>
				<div class="form-group" ng-class="{ 'has-error' : teamForm.name.$invalid && !teamForm.name.$pristine }">
					<label>Team Name: </label>
					<input class="form-control" name="name" ng-model="team.name" required ng-minlength="3" ng-maxlength="127">
					<p ng-show="teamForm.name.$error.minlength" class="help-block">
						Team name is too short.
					</p>
					<p ng-show="teamForm.name.$error.maxlength" class="help-block">
						Team name is too long.
					</p>
				</div>
				<div class="form-group">
					<label>Paypal email</label>
					<input class="form-control" name="email" type="email" ng-model="team.team_paypal_info" required>
				</div>
				<div class="form-group">
					<label>Bio:</label>
					<textarea class="form-control" rows="4" ng-model="team.bio" maxlength="255"></textarea>
				</div>
				<div class="form-group">
					<div class="row">
						<label class="col-sm-2 control-label">Upload Cover</label>
						<div class="col-sm-3">
							<span class="file-input btn btn-primary btn-file btn-block"> Browse&hellip;
								<input ng-model="team.cover" onchange="angular.element(this).scope().file_changed(this)"  id="cover"  name="cover" type="file" accept="image/*">
							</span>
							<div class="form-group panel-padding">
								<label>Cover URL: </label>
								<input class="form-control" ng-model="team.cover" name="cover" maxlength="127">
							</div>
							<div ng-show="!validCover" ng-class="{ 'has-error' : !validCover}">
								<p class="help-block">
									A team cover photo is required.
								</p>
							</div>

						</div>
						<div class="col-sm-7">
							<img style="width:100%" src="{{team.cover}}">
						</div>
					</div>

				</div>

				<div class="form-group">
					<div class="row">
						<label class="col-sm-2 control-label">Upload Logo</label>
						<div class="col-sm-3">
							<span class="file-input btn btn-primary btn-file btn-block"> Browse&hellip;
								<input ng-model="team.logo" onchange="angular.element(this).scope().file_changed(this)"  id="logo"  name="logo" type="file" accept="image/*">
							</span>
							<div class="form-group panel-padding">
								<label>Logo URL: </label>
								<input class="form-control" ng-model="team.logo" name="logo" maxlength="127">
							</div>
							<div ng-show="!validCover" ng-class="{ 'has-error' : !validCover}">
								<p class="help-block">
									A team logo is required.
								</p>
							</div>

						</div>
						<div class="col-sm-4">
							<img style="width:100%" src="{{team.logo}}">
						</div>
					</div>

				</div>

				<button class="btn btn-success btn-block" type="submit">
					Create
				</button>
			</form>
		</div>
	</div>
</div>