<div ng-if="currentUser.is_member">

	<div class="row">
		<div class="col-md-6">

			<div class="box box-margin-bottom">
				<legend>
					Edit Info
				</legend>
				<form class="form-horizontal" ng-submit="submitEditTeam(teamForm.$valid)">
					<div class="form-group">
						<label>Bio:</label>
						<textarea class="form-control" rows="4" ng-model="team.bio" maxlength="255"></textarea>
					</div>
					<div class="form-group" >
						<div class="row">
							<label class="col-sm-2 control-label">Upload Cover</label>
							<div class="col-sm-3" >
								<span class="file-input btn btn-primary btn-file btn-block"> Browse&hellip;
									<input ng-model="team.cover" onchange="angular.element(this).scope().file_changed(this)"  id="cover"  name="cover" type="file" accept="image/*">
								</span>
								<div ng-show="!validCover" ng-class="{ 'has-error' : !validCover}">
									<p  class="help-block" >
										A team cover photo is required.
									</p>
								</div>

							</div>
							<div class="col-sm-7">
								<img style="width:100%" ng-src="{{team.cover}}">
							</div>
						</div>

					</div>

					<div class="form-group" >
						<div class="row">
							<label class="col-sm-2 control-label">Upload Logo</label>
							<div class="col-sm-3" >
								<span class="file-input btn btn-primary btn-file btn-block"> Browse&hellip;
									<input ng-model="team.cover" onchange="angular.element(this).scope().file_changed(this)"  id="logo"  name="logo" type="file" accept="image/*">
								</span>
								<div ng-show="!validCover" ng-class="{ 'has-error' : !validCover}">
									<p  class="help-block" >
										A team logo is required.
									</p>
								</div>

							</div>
							<div class="col-sm-4">
								<img style="width:100%" ng-src="{{team.logo}}">
							</div>
						</div>

					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-4">
							<button class="btn btn-success btn-block" type="submit">
								Edit
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="box box-margin-bottom">
				<legend>
					Delete Team
				</legend>
				<p>
					Deleting the team will make it's profile no longer visible to other users.
				</p>
				<p>
					Tournament Data such as standings, events in which the team competed and which members were part of the roster at the time will still be preserved.
				</p>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-4">
						<button class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteTeamModal">
							Delete
						</button>
					</div>
					<br>
					<br>
				</div>
			</div>
		</div>

		<!-- Manage Teammates -->
		<div class="col-md-6">
			<div class="box">
				<legend>
					Manage Teammates
				</legend>
				<div class="tickets-container">
					<ul class="tickets-list">
						<li class="ticket-item" ng-repeat="member in members">
							<div class="row">
								<div class="ticket-user col-md-10 col-sm-10 col-xs-10" >
									<img ng-src="{{member.customer_profile_pic}}" class="user-avatar">
									<span class="user-name">{{member.customer_tag}} ({{member.customer_first_name}} {{member.customer_last_name}})</span>
								</div>
								<div class="ticket-time  col-md-2 col-sm-2 col-xs-2">
									<a class="btn btn-sm btn-danger pull-right"  ng-click="deleteUserPrompt(member)" ng-if="!member.is_captain"><span class="fa fa-times"></span></a>
									<a class="btn btn-sm btn-default pull-right second-button-ticket" ng-click="makeUserCaptainPrompt(member)"  ng-if="!member.is_captain && currentUser.is_captain"><span class="fa fa-star"></span></a>
								</div>
							</div>
							
						</li>

					</ul>
				</div>
				<div class="row">
				<div class="col-sm-offset-4 col-sm-4">
					<button class="btn btn-success btn-block" data-toggle="modal" data-target="#addTeammateModal">
						Add
					</button>
				</div>
			</div>

			</div>
		</div>

	</div>

	<!--modal add teammate -->
	<div class="modal fade" id="addTeammateModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Add Teammate</h4>
				</div>
				<div class="modal-body">
					<form ng-submit="userSearch(query)">

						<div class="input-group custom-search-form" >
							<!-- ng-change="goToSearch(query)" -->
							<input ng-model="query"  type="text" class="form-control" placeholder="Search for Users">
							<span class="input-group-btn">
								<button ng-click="userSearch(query)" class="btn btn-default" type="button" >
									<i class="fa fa-search"></i>
								</button> </span>
						</div>
					</form>

					<div class="tickets-container">
						<ul class="tickets-list" >
							<li class="ticket-item" ng-repeat="user in users | filter: filterArray">
								<div class="ticket-user" ng-click="addMember(user)">
									<img ng-src="{{user.customer_profile_pic}}" class="user-avatar">
									<span class="user-name">{{user.customer_tag}} ({{user.customer_first_name}} {{user.customer_last_name}})</span>
								</div>
							</li>

						</ul>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<!-- modal delete teammate -->
	<div class="modal fade" id="deleteTeammateModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Delete Teammate</h4>
				</div>
				<div class="modal-body">
					<p>
						Are you sure you want to delete this teammate?
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" ng-click="removeMember()" class="btn btn-primary">
						Delete
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<!-- modal delete Succes teammate -->
	<div class="modal fade" id="teammateDeleteSuccesModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="OK">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Succesfully removed {{deleteTeammate.customer_tag}}</h4>
				</div>
				<div class="modal-body">
					<p>
						You have succesfully removed {{deleteTeammate.customer_tag}} ({{deleteTeammate.customer_first_name}} {{deleteTeammate.customer_last_name}}) from {{team.name}}
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						OK
					</button>

				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<!-- modal add Succes teammate -->
	<div class="modal fade" id="teammateAddSuccesModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="OK">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Succesfully added {{lastUserAdded.customer_tag}}</h4>
				</div>
				<div class="modal-body">
					<p>
						You have succesfully added {{lastUserAdded.customer_tag}} ({{lastUserAdded.customer_first_name}} {{lastUserAdded.customer_last_name}}) to {{team.name}}
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" >
						OK
					</button>

				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<!-- modal captain teammate -->
	<div class="modal fade" id="makeCaptainModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Assign Captain</h4>
				</div>
				<div class="modal-body">
					<p>
						Are you sure you want to assign member as captain of the team?
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" class="btn btn-primary" ng-click="makeMemberCaptain()">
						Okay
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	
	<!-- modal deleteTeam -->
	<div class="modal fade" id="deleteTeamModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Delete Team</h4>
				</div>
				<div class="modal-body">
					<p>
						Are you sure you want to delete this team?
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" class="btn btn-primary" ng-click="deleteTeam()">
						Okay
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<!-- modal add Succes teammate -->
	<div class="modal fade" id="makeCaptainSuccesModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="OK">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Succesfully made {{captainTeammate.customer_tag}} the captain</h4>
				</div>
				<div class="modal-body">
					<p>
						You have succesfully made {{captainTeammate.customer_tag}} ({{captainTeammate.customer_first_name}} {{captainTeammate.customer_last_name}}) the captain of {{team.name}}
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" >
						OK
					</button>

				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>


<div ng-if="!currentUser.is_member">
	<h1>You are not a member of this team and therfore cannot manage it!</h1>

	
</div>