<img class="banner-cover" ng-src="{{teamProfile.team_cover_photo}}"></img>
<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-6">
		<div class="box box-margin">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<img class="profile-picture" ng-src='{{teamProfile.team_logo}}'></img>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h2>{{teamProfile.team_name}}</h2>
					<h3>About</h3>
					<p class="info-paragraph">
						{{teamProfile.team_bio}}
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-8">
					<a class="btn btn-primary btn-block box-margin" ui-sref="app.editTeam({teamName: teamProfile.team_name})" ng-if="teamProfile.is_member">Manage Team</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-12 col-lg-6">
		<!-- Standings widget -->
		<div class="widget-box box-margin">
			<div class="widget-header bordered-bottom bordered-themesecondary">
				<h3 class="widget-title themesecondary">Standings</h3>
				<a class="widget-more" ui-sref="app.teamStandings({teamName: teamProfile.team_name})" ng-if="standings.lenght>5">
						See More<i class="fa fa-arrow-circle-o-right panel-padding"></i>
					</a>
			</div>
			<!--Widget Header-->
			<div class="widget-body">
				<div class="widget-main no-padding">
					<div class="tickets-container">
						<table class="table table-striped table-hover" ng-if="standings.length>0">
							<thead>
								<tr>
									<th>Placing</th>
									<th>Event</th>
									<th>Tournament</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								<tr class="cursor" ng-click="goToTournament(standing.event_name, standing.event_start_date, standing.event_location, standing.tournament_name)" ng-repeat="standing in standings | limitTo:5">
									<td>{{standing.standing | ordinal}}</td>
									<td>{{standing.event_name}}</td>
									<td>{{standing.tournament_name}}</td>
									<td>{{standing.event_start_date | date:'longDate'}}</td>
								</tr>
							</tbody>
						</table>
						<div style="text-align:center" ng-if="!standings.length">
							<i class="fa fa-frown-o fa-3x"></i>
							<h3 class="info-paragraph">{{teamProfile.team_name}} has not participated in any tournament</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Standings widget -->
	</div>
</div>

<!-- Member widget -->
<div class="widget-box box-margin">
	<div class="widget-header bordered-bottom bordered-themesecondary">
		<h3 class="widget-title themesecondary">Members</h3>
	</div>
	<!--Widget Header-->
	<div class="widget-body">
		<div class="widget-main no-padding">
			<div class="tickets-container">
				<ul class="tickets-list">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" ng-repeat="member in members">
							<li class="ticket-item" ng-click="goToUser(member.customer_username)">
								<div class="ticket-user">
									<img ng-src="{{member.customer_profile_pic}}" class="user-avatar">
									<span class="user-name"><span class="fa fa-star fa-6" ng-if="member.is_captain">&nbsp;</span>{{member.customer_first_name}} {{member.customer_last_name}} </span>
								</div>
							</li>
						</div>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Member widget -->