<ion-view view-title="">
    <ion-nav-buttons side="left">
        <button class="button button-icon" onclick="location.href='#/app/mymatchups'">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Round {{matchupInfo.round_number}} Match {{matchupInfo.match_number}}</h2>
                <p ng-if="matchupInfo.station_number == null">Station {{matchupInfo.station_number}}</p>
            </div>
            <div class="row">
                <div class="col .col-33 absolute-center">
                    <img ng-if="matchupInfo.team_size == 1" class="img-circular large player-1" ng-src="{{players[0].customer_profile_pic}}">
                    <img ng-if="matchupInfo.team_size > 1" class="img-circular large player-1" ng-src="{{players[0].team_logo}}">
                </div>
                <div class="col .col-33 absolute-center">
                    <div class="full-width">
                        <h2 class="center-text">{{players[0].score}}-{{players[1].score}}</h2>
                    </div>
                </div>
                <div class="col .col-33 absolute-center">
                    <img ng-if="matchupInfo.team_size == 1" class="img-circular large player-2" ng-src="{{players[1].customer_profile_pic}}">
                    <img ng-if="matchupInfo.team_size > 1" class="img-circular large player-2" ng-src="{{players[1].team_logo}}">

                </div>
            </div>
            <div class="row">
                <div class="col col-33 absolute-center">
                    <div class="full-width">
                        <p ng-if="matchupInfo.team_size == 1" class="center-text">{{ players[0].customer_tag }}</p>
                        <p ng-if="matchupInfo.team_size > 1" class="center-text">{{ players[0].team_name }}</p>
                    </div>
                </div>
                <div class="col col-33 absolute-center">
                    <div class="full-width">
                        <p class="center-text">Best of {{ matchInfo.sets.length }}</p>
                    </div>
                </div>
                <div class="col col-33 absolute-center">
                    <div class="full-width">
                        <p ng-if="matchupInfo.team_size == 1" class="center-text">{{ players[1].customer_tag }}</p>
                        <p ng-if="matchupInfo.team_size > 1" class="center-text">{{ players[1].team_name }}</p>
                    </div>
                </div>
            </div>
            <div class="center-text padding-bottom">
                <span ng-repeat="set in sets">
                    <div class="set-circular player-1" ng-if="set.scores[0].score > set.scores[1].score"></div>
                    <div class="set-circular player-2" ng-if="set.scores[0].score < set.scores[1].score"></div>
                </span>
            </div>
        </div>
    </ion-content>
</ion-view>