<ion-view view-title="">
    <ion-nav-buttons side="left">
        <button class="button button-icon" onclick="location.href='#/app/mymatchups'">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Round 1 Match 2</h2>
                <p>Station 1</p>
            </div>
            <div class="row">
                <div class="col .col-33 absolute-center">
                    <div class="img-circular large player-1"></div>
                </div>
                <div class="col .col-33 absolute-center">
                    <h2>2-1</h2>
                </div>
                <div class="col .col-33 absolute-center">
                    <div class="img-circular large player-2"></div>
                </div>
            </div>
            <div class="row">
                <div class="col col-33 absolute-center">Player 1</div>
                <div class="col col-33 absolute-center">
                    <p>Best of 3</p>
                </div>
                <div class="col col-33 absolute-center">Player 2</div>
            </div>
            <div class="absolute-center padding-bottom">
                <div class="padding-horizontal">
                    <div class="set-circular player-1"></div>
                </div>
                <div class="padding-horizontal">
                    <div class="set-circular player-2"></div>
                </div>
                <div class="padding-horizontal">
                    <div class="set-circular player-1"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>