<ion-view view-title="">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ui-sref="app.notifications">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Round {{ matchupInfo.round_number }} Match {{ matchupInfo.match_number }}</h2>
                <p ng-if="matchup.station_number != null">Station {{ matchupInfo.station_number }}</p>
            </div>
            <div class="row">
                <div class="col .col-33 absolute-center">
                    <img class="img-circular large player-1" ng-if="matchupInfo.team_size == 1" ng-src="{{players[0].customer_profile_pic}}">
                    <img class="img-circular large player-1" ng-if="matchupInfo.team_size > 1" ng-src="{{players[0].team_logo}}">
                </div>
                <div class="col .col-33 absolute-center">
                    <h2>{{players[0].score}}-{{players[1].score}}</h2>
                </div>
                <div class="col .col-33 absolute-center">
                    <img class="img-circular large player-2" ng-if="matchupInfo.team_size == 1" ng-src="{{players[1].customer_profile_pic}}">
                    <img class="img-circular large player-2" ng-if="matchupInfo.team_size > 1" ng-src="{{players[1].team_logo}}">
                </div>
            </div>
            <div class="row">
                <div class="col col-33 absolute-center" ng-if="matchupInfo.team_size == 1">{{ players[0].customer_tag }}</div>
                <div class="col col-33 absolute-center" ng-if="matchupInfo.team_size > 1">{{ players[0].team_name }}</div>
                <div class="col col-33 absolute-center">
                    <p>Best of {{ matchInfo.sets.length }}</p>
                </div>
                <div class="col col-33 absolute-center" ng-if="matchupInfo.team_size == 1">{{ players[1].customer_tag }}</div>
                <div class="col col-33 absolute-center" ng-if="matchupInfo.team_size > 1">{{ players[1].team_name }}</div>
            </div>
            <div class="center-text padding-bottom">
                <span ng-repeat="set in sets">
                    <div class="set-circular player-1" ng-if="set.scores[0].score > set.scores[1].score"></div>
                    <div class="set-circular player-2" ng-if="set.scores[0].score < set.scores[1].score"></div>
                </span>
            </div>
        </div>
        <div class="card" ng-if="!matchCompleted">
            <div class="item">
                <p>Set {{ currentSet }}</p>
                <div class="list list-inset">
                    <div class="item item-divider">
                        Report Score
                    </div>
                    <label class="item item-radio"  ng-if="matchInfo.score_type == 'Match'">
                        <input type="radio" name="group" ng-model="scoreInput.score" value="Win">
                        <div class="item-content">
                            Win
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio" ng-if="matchInfo.score_type == 'Match'">
                        <input type="radio" name="group" ng-model="scoreInput.score" value="Lose">
                        <div class="item-content">
                            Lose
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-input" ng-if="!matchCompleted && matchInfo.score_type == 'Points'">
                        <span class="input-label" >Score</span>
                        <input type="number" ng-model="scoreInput.score">
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-positive" ng-click="submitScore()">Submit</button>
                    </div>
                    <div class="col">
                        <button class="button button-block button-assertive" ng-click="goToReport()">Report</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="card" ng-if="matchCompleted">
            <div class="item item-text-wrap">
                Match has concluded.
            </div>
        </div>
    </ion-content>
</ion-view>