<ion-view view-title="">
    <ion-nav-buttons side="left">
        <button class="button button-icon" onclick="location.href='#/app/mymatchups'">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Round 1 Match 2</h2>
                <p>Station 1</p>
            </div>
            <div class="row">
                <div class="col .col-33 absolute-center">
                    <div class="img-circular large player-1"></div>
                </div>
                <div class="col .col-33 absolute-center">
                    <div class="full-width">
                        <h2 class="center-text">2-1</h2>
                    </div>
                </div>
                <div class="col .col-33 absolute-center">
                    <div class="img-circular large player-2"></div>
                </div>
            </div>
            <div class="row">
                <div class="col col-33 absolute-center">
                    <div class="full-width">
                        <p class="center-text">Player 1</p>
                    </div>
                </div>
                <div class="col col-33 absolute-center">
                    <div class="full-width">
                        <p class="center-text">Best of 3</p>
                    </div>
                </div>
                <div class="col col-33 absolute-center">
                    <div class="full-width">
                        <p class="center-text">Player 2</p>
                    </div>
                </div>
            </div>
            <div class="center-text padding-bottom">
                    <div class="set-circular player-1"></div>
                    <div class="set-circular player-2"></div>
                    <div class="set-circular player-1"></div>
            </div>
        </div>
    </ion-content>
</ion-view>