<ion-view view-title="News">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="goToEventFromNews()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-compose" ng-click="clickAdd('{{$index}}')" ng-if="isOrganizer">
        </button>
        <button class="button button-icon ion-android-alert">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card" ng-repeat="new in news">
            <div class="item item-body">
                <h1 class="h1-username">{{new.news_title}}</h1>
                <p>{{new.news_date_posted | date: 'medium'}}</p>
            </div>
            <div class="item item-body">
                <p>{{new.news_content | limitTo: 300 }}{{new.content.length > 300 ? '...' : ''}}</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="clickEdit('{{$index}}')">
                    <i class="icon ion-edit"></i> Edit
                </a>
            </div>
        </div>
        <div class="card" ng-if="news.length == 0">
            <div class="item item-text-wrap">
                There are no news.
            </div>
        </div>
    </ion-content>
</ion-view>