<ion-view view-title="Reviews">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="goToEvent()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-plus" ng-click="goToWriteReview()">
        </button>
        <button class="button button-icon ion-android-alert">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card" ng-repeat="review in reviews">
            <div class="item">
                <h2 style="text-align: center;">{{review.review_title}}</h2>
                <rating ng-model="review.star_rating" max="5" style="text-align: center;" readonly="true"></rating>
                <p style="text-align: center;"> by {{review.customer_username}} </p>
            </div>
            <div class="item item-text-wrap">
                {{review.review_content}}
            </div>
        </div>
    </ion-content>
</ion-view>