<ion-view view-title="{{ eventInfo.event_name  }}">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-alert">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="crop-banner">
            <img class="crop-image" ng-src="{{ eventInfo.event_banner }}">
        </div>
        <div class="center-text">
            <img class="profile-pic" ng-src="{{eventInfo.event_logo}}">
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="center-text">
                    <h1 class="h1-username">{{ eventInfo.event_name }}</h1>
                    <h2>{{ eventInfo.event_start_date | date: 'medium'}}</h2>
                    <p>{{ eventInfo.event_location }}</p>
                </div>
                <p>
                    <br>{{ eventInfo.event_description }}
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="goToSignUp(eventInfo.event_name, eventInfo.event_start_date, eventInfo.event_location)" ng-if="!isOngoing">
                    <i class="icon ion-log-in"></i> Sign Up
                </a>
                <a class="tab-item" ng-click="goToMeetup(eventInfo.event_name, eventInfo.event_start_date, eventInfo.event_location)">
                    <i class="icon ion-android-people"></i> Meetups
                </a>
                <a class="tab-item" ng-click="goToNews(eventInfo.event_name, eventInfo.event_start_date, eventInfo.event_location)">
                    <i class="icon ion-ios-paper"></i> News
                </a>
                <a class="tab-item" ng-if="isOngoing" ng-click="goToReviews(eventInfo.event_name, eventInfo.event_start_date, eventInfo.event_location)">
                    <i class="icon ion-star"></i> Reviews
                </a>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Sponsors
            </div>
            <div ng-repeat="sponsor in sponsors" ng-if="$index%2 == 0">
                <div class="row">
                    <div class="col">
                        <img class="game-cover" ng-src="{{ sponsors[$index].sponsor_logo }}">
                    </div>
                    <div class="col">
                        <img class="game-cover" ng-src="{{ sponsors[$index+1].sponsor_logo }}">
                    </div>
                </div>
            </div>
        </div>
        <!--        <div class="list-inset" ng-if="!isOngoing">-->
        <div class="list-inset">
            <div class="item item-divider">
                Tournaments
            </div>
            <a class="item item-thumbnail-left" ng-click="goToTournament(eventInfo.event_name, eventInfo.event_start_date, eventInfo.event_location, tournament.tournament_name)" ng-repeat="tournament in tournamentsInfo">
                <img ng-src="{{ tournament.game_image }}">
                <h2>{{tournament.tournament_name}}</h2>
                <p>{{tournament.tournament_start_date | date: 'medium'}}</p>
            </a>
        </div>
        <button class="button button-positive" style="width: 100vw" ui-sref="app.premiumsignup({eventname: eventInfo.event_name, date: eventInfo.event_start_date, location: eventInfo.event_location})" ng-if="!eventInfo.is_spectator">
            Spectator Sign Up
        </button>
    </ion-content>
</ion-view>