<ion-view view-title="Capcom Pro Tour">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-alert">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="crop-banner">
            <img class="crop-image" src="img/Capcom-Pro-Tour.jpg">
        </div>
        <div>
            <div class="center-text">
                <img class="profile-pic" src="img/esportPR.PNG">
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="center-text">
                        <h1 class="h1-username">Capcom Pro Tour</h1>
                        <h2>Date: 1/3/14 - 1/5/14</h2>
                        <p>Venue: Caesar’s Palace Ball Room</p>
                    </div>
                    <p>
                        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#/app/premiumsignup">
                        <i class="icon ion-log-in"></i> Sign Up
                    </a>
                    <a class="tab-item" href="#/app/meetups">
                        <i class="icon ion-android-people"></i> Meetup
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Sponsors
            </div>
            <div class="row">
                <div class="col">
                    <img class="game-cover" src="img/razer.jpg">
                </div>
                <div class="col">
                    <img class="game-cover" src="img/endi-logo.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class="game-cover" src="img/ciudad-bayamon.jpg">
                </div>
            </div>
        </div>
        <div class="list-inset">
           <div class="item item-divider">
                Tournaments
            </div>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/streetFighter.jpg">
                <h2>Street Fighter Regionals</h2>
                <p>8:00PM March 2, 2015</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/lol.jpg">
                <h2>Twisted Treeline 3v3</h2>
                <p>6:00PM March 3, 2015</p>
            </a>
        </div>
    </ion-content>
</ion-view>