<ion-view view-title="Report">
    <ion-content>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Title</span>
            <textarea></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Write your review here</span>
            <textarea></textarea>
        </label>

        <button class="button button-positive" style="width: 100vw">
            Submit
        </button>

    </ion-content>
</ion-view>