<ion-view view-title="Report">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="goToSummaryFromReview(eventName)">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Title</span>
                <input type="text">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <textarea rows="5"></textarea>
            </label>
            <br>
            <div ng-controller="writeReviewRatingsController">
                <rating ng-model="rate" max="max" style="text-align: center;"></rating>
            </div>
            <br>
            <button class="button button-block button-positive" ng-click="goToSummaryFromReview(eventName)">
                Submit
            </button>
        </div>
    </ion-content>
</ion-view>