<div class="page-header">
	<h1>{{genreName}}</h1>
</div>
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified tab-padding-top">
	<li class="active">
		<a data-target="#upcomingGenre" data-toggle="tab">Upcoming</a>
	</li>
	<li>
		<a data-target="#liveGenre" data-toggle="tab">Live</a>
	</li>
	<li>
		<a data-target="#historyGenre" data-toggle="tab">History</a>
	</li>
</ul>
<!-- Tab panes -->
<div class="tab-content panel-padding">
	<div class="tab-pane fade in active" id="upcomingGenre">
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat= "event in genresUpcoming">
				<a class="thumbnail" ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)"> <img ng-src="{{event.event_banner}}" alt="{{event.event_name}}" >
					<hr class="hr-custom-padding">
					<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
						<p class="thumbnail-title">
							{{event.event_name}}
						</p>
						<p class="thumbnail-paragraph">
							{{event.event_location}}
						</p>
						<p class="thumbnail-paragraph">
							{{event.event_start_date  | date: 'medium'}}
						</p>
					</div>
				</a>
			</div>
		</div>
		<!-- row -->
	</div>
	<div class="tab-pane fade" id="liveGenre">
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat= "event in genresLive">
				<a class="thumbnail" ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)"> <img ng-src="{{event.event_banner}}" alt="{{event.event_name}}" >
					<hr class="hr-custom-padding">
					<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
						<p class="thumbnail-title" >
							{{event.event_name}}
						</p>
						<p class="thumbnail-paragraph">
							{{event.event_location}}
						</p>
						<p class="thumbnail-paragraph">
							{{event.event_start_date  | date: 'medium'}}
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="historyGenre">
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-6" ng-repeat= "event in genresPast">
				<a class="thumbnail" ng-click="goToEvent(event.event_name,  event.event_start_date, event.event_location)"> <img ng-src="{{event.event_banner}}" alt="{{event.event_name}}" >
					<hr class="hr-custom-padding">
					<div class="caption" style="text-overflow: ellipsis;white-space: nowrap;
						overflow: hidden;">
						<p class="thumbnail-title" >
							{{event.event_name}}
						</p>
						<p class="thumbnail-paragraph">
							{{event.event_location}}
						</p>
						<p class="thumbnail-paragraph">
							{{event.event_start_date  | date: 'medium'}}
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>