<ion-view view-title="{{ selectedGenre }}">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ui-sref="app.genres">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list  list-inset">
            <a class="item item-thumbnail-left" href="#">
                <img src="img/streetFighter.jpg">
                <h2>Street Fighter 1v1</h2>
                <p>March 2, 2015
                    <br>Casa de Papi</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/streetFighter.jpg">
                <h2>Street Fighter 1v1</h2>
                <p>March 2, 2015
                    <br>Casa de Papi</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/streetFighter.jpg">
                <h2>Street Fighter 1v1</h2>
                <p>March 2, 2015
                    <br>Casa de Papi</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/streetFighter.jpg">
                <h2>Street Fighter 1v1</h2>
                <p>March 2, 2015
                    <br>Casa de Papi</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/streetFighter.jpg">
                <h2>Street Fighter 1v1</h2>
                <p>March 2, 2015
                    <br>Casa de Papi</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/streetFighter.jpg">
                <h2>Street Fighter 1v1</h2>
                <p>March 2, 2015
                    <br>Casa de Papi</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/streetFighter.jpg">
                <h2>Street Fighter 1v1</h2>
                <p>March 2, 2015
                    <br>Casa de Papi</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/streetFighter.jpg">
                <h2>Street Fighter 1v1</h2>
                <p>March 2, 2015
                    <br>Casa de Papi</p>
            </a>
        </div>

    </ion-content>
</ion-view>