<div class="tab-content">
	<div class="tab-pane fade in active" id="create-event-main-tab">
		<div class="box">
			<h2>Event</h2>
			<form name="Form">
				<legend>General Info</legend>
				<div class="form-group">
					<label>Name: </label>
					<input class="form-control" ng-model="event.name" name="name" required maxlength="127">
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<label>Hosted by: </label>
						<select class="form-control" ng-model="host" ng-options="item for item in userOrganization">
						</select>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label>Event Type: </label>
							<select class="form-control" ng-model="event.type" ng-init="event.type = 'Local'">
								<option ng-value="Local">Local</option>
								<option ng-value="Regional">Regional</option>
								<option ng-value="National">National</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label>Description:</label>
							<textarea class="form-control" rows="4" ng-model="event.description" maxlength="255"></textarea>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label>Rules:</label>
							<textarea class="form-control" rows="4" ng-model="event.rules" maxlength="255"></textarea>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Upload Banner:</label>
					<div class="input-group">
						<span class="group-span-filestyle input-group-btn" tabindex="0"> <label  class="btn btn-default btn-file"> <span class="glyphicon glyphicon-picture">   Browse&hellip;
                           <input type="file" onchange="upload(this.files[0], this.id + 'Label')"> </span>
						</span>
						<input type="text" class="form-control" readonly ng-model="event.banner">
					</div>
					<span class="help-block">img resolution herem.....        </span>
				</div>
				<div class="form-group">
					<label class="">Upload Logo:</label>
					<div class="input-group">
						<span class="group-span-filestyle input-group-btn" tabindex="0"> <label  class="btn btn-default btn-file"> <span class="glyphicon glyphicon-picture">   Browse&hellip;
                           <input type="file" onchange="upload(this.files[0],'sellitemimg')"> </span>
						</span>
						<input type="text" class="form-control" readonly ng-model="event.logo">
					</div>
					<span class="help-block">img resolution herem.....        </span>
				</div>
				<legend>Location and Time</legend>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="dropdown">
							<lable>Start Date</lable>
							<a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
								<div class="input-group">
									<input type="text" class="form-control" data-ng-model="event.start_date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="event.start_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown1' }" />
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="dropdown">
							<lable>End Date</lable>
							<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
								<div class="input-group">
									<input type="text" class="form-control" data-ng-model="event.end_date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="event.end_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="dropdown">
							<lable>Registration Deadline</lable>
							<a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown">
								<div class="input-group">
									<input type="text" class="form-control" data-ng-model="event.registration_deadline"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="event.registration_deadline" data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }" />
							</ul>
						</div>
					</div>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" data-ng-model="event.is_online" ng-init="event.is_online=false"> Online Event
					</label>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6" ng-show="!event.is_online">
						<div class="form-group">
							<label>Location: </label>
							<input class="form-control" ng-model="event.location" name="location" required maxlength="127">
							<span style="color:red" ng-show="Form.location.$dirty && Form.location.$invalid">
<span ng-show="Form.location.$error.required">Event Location Required.</span>
							</span>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6" ng-show="!event.is_online">
						<div class="form-group">
							<label>Venue: </label>
							<input class="form-control" ng-model="event.venue" maxlength="127">
						</div>
					</div>
					<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
						<a class="btn btn-primary btn-block" ng-click="validateEvent()">Next</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="tab-pane fade" id="fees-tournaments-tab">
		<div class="box">
			<form name="Form">
				<legend>Spectator Fees</legend>
				<div class="list-group">
					<div class="list-group-item clearfix" ng-repeat="item in fees">
						<span class="pull-right"><a class="btn btn-sm btn-danger" ng-click="deleteFee($index)"><span class="fa fa-times"></span>
						</a>
						</span>
						<p class="lead event-footer-title">{{item.name}}</p>Price {{item.amount | currency}}
						<br>Amount {{item.available}}
						<br>{{item.description}}
					</div>
				</div>
				<a class="btn btn-success" data-toggle="modal" data-target="#addFeeModal">Add Spectator Fee</a>
				<div class="row box-margin">
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="form-group">
							<label>Deduction Fee: </label>
							<div class="form-group input-group">
								<span class="input-group-addon">%</span>
								<input type="number" class="form-control" ng-model="event.deduction_fee" min="0" max="100">
							</div>
						</div>
					</div>
				</div>
				<legend>Tournaments</legend>
				<div class="list-group">
					<div class="list-group-item clearfix" ng-repeat="item in tournaments">
						<span class="pull-right"><a class="btn btn-sm btn-danger" ng-click="deleteTournament($index)"><span class="fa fa-times"></span>
						</a>
						</span>
						<p class="lead event-footer-title">{{item.name}}</p>
						Game: {{item.game}}
						<br>Type: {{item.type}}
						<br>Format: {{item.format}}
						<br>Price: {{item.fee | currency}}
						<br>Capacity: {{item.capacity}}
					</div>
				</div>
				<a class="btn btn-success" ng-click="addTournament()">Add Tournament</a>
				<legend class="box-margin">Sponsors</legend>
				<div class="tickets-container">
					<ul class="tickets-list">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat="item in sponsors">
								<li class="ticket-item">
									<div class="row">
										<div class="ticket-user col-md-10 col-sm-10 col-xs-10">
											<img ng-src="{{item.sponsor_logo}}" class="user-avatar">
											<span class="user-name">{{item.sponsor_name}}</span>
										</div>
										<div class="ticket-time  col-md-2 col-sm-2 col-xs-2">
											<div class="checkbox">
												<label>
													<input type="checkbox" ng-model="item.checked" ng-init="item.checked=false">
												</label>
											</div>
										</div>
									</div>
								</li>
							</div>
						</div>
					</ul>
				</div>
				<div class="btn-group btn-group-justified" role="group">
					<div class="btn-group" role="group">
						<a class="btn btn-default" ng-click="backToEvent()">Back</a>
					</div>
					<div class="btn-group" role="group">
						<a class="btn btn-primary" ng-click="createHostedEvent()">Finish</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="tab-pane fade" id="tournament-tab">
		<div class="box">
			<h2>Tournament</h2>
			<form>
				<legend>General Info</legend>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label>Tournament Name: </label>
							<input class="form-control" ng-model="tournament.name" maxlength="127">
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6">
						<label>Game: </label>
						<div class="form-group">
							<ac-select ac-model="tournament.game" ac-options="game.game_name for game in games" ac-settings="{ itemHeight: '32' }"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="dropdown">
							<lable>Start Date</lable>
							<a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown">
								<div class="input-group">
									<input type="text" class="form-control" data-ng-model="tournament.start_date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="tournament.start_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown4' }" />
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="dropdown">
							<lable>Check In Deadline</lable>
							<a class="dropdown-toggle" id="dropdown5" role="button" data-toggle="dropdown">
								<div class="input-group">
									<input type="text" class="form-control" data-ng-model="tournament.deadline"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="tournament.deadline" data-datetimepicker-config="{ dropdownSelector: '#dropdown5' }" />
							</ul>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Rules:</label>
					<textarea class="form-control" rows="4" ng-model="tournament.rules" maxlength="127"></textarea>
				</div>
				<div class="row">
					<div ng-if="host != userOrganization[0]">
						<div class="col-xs-12 col-md-4 col-lg-4">
							<label>Competitor Fee: </label>
							<div class="form-group input-group">
								<span class="input-group-addon">$</span>
								<input type="text" class="form-control" ng-model="tournament.fee" valid-decimal>
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4">
							<label>Seed Money: </label>
							<div class="form-group input-group">
								<span class="input-group-addon">$</span>
								<input type="text" class="form-control" ng-model="tournament.seed_money" valid-decimal>
							</div>
						</div>
						<div class="col-xs-12 col-md-4 col-lg-4">
							<label>Seed Money: </label>
							<div class="form-group">
								<select class="form-control" ng-model="tournament.prize_distribution" ng-init="tournament.prize_distribution = 'Standard'">
									<option ng-value="'Standard'">Standard</option>
									<option ng-value="'First and Second'">First and Second</option>
									<option ng-value="'Winner Takes All'">Winner Takes All</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label>Capacity: </label>
							<input type="text" class="form-control" ng-model="tournament.capacity" valid-input input-pattern="[^0-9]+">
						</div>
					</div>
				</div>
				<legend>Format</legend>
				<label>Team based</label>
				<div class="form-inline">
					<div class="form-group">
						<input type="radio" ng-model="tournament.teams" ng-value="true" ng-init="tournament.teams=false"> Yes
						<br>
						<input type="radio" ng-model="tournament.teams" ng-value="false"> No
					</div>
					<div class="form-group" ng-show="tournament.teams == true" style="margin-left:60px">
						<label>Team Size: </label>
						<input class="form-control" type="number" ng-model="tournament.team_size" ng-init="tournament.team_size = 2">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label>Tournament Type: </label>
							<select class="form-control" ng-model="tournament.type" ng-init="tournament.type = 'Single Stage'">
								<option ng-value="'Single Stage'">Single Stage</option>
								<option ng-value="'Two Stage'">Two Stage</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row" ng-show="tournament.type == 'Two Stage'">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label># of Competitors per Group: </label>
							<input class="form-control" type="text" ng-model="tournament.group_players" valid-input input-pattern="[^0-9]+">
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label># of Competitors advancing: </label>
							<input class="form-control" type="text" ng-model="tournament.group_winners" valid-input input-pattern="[^0-9]+">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-6 col-lg-6" ng-show="tournament.type == 'Single Stage'">
						<label>Tournament Format: </label>
						<select class="form-control" ng-model="tournament.format" ng-init="tournament.format = 'Single Elimination'">
							<option ng-value="'Single Elimination'">Single Elimination</option>
							<option ng-value="'Double Elimination'">Double Elimination</option>
							<option ng-value="'Round Robin'">Round Robin</option>
						</select>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-6" ng-show="tournament.type == 'Two Stage'">
						<label>Final Stage: </label>
						<select class="form-control" ng-model="tournament.format" ng-init="tournament.format = 'Single Elimination'">
							<option ng-value="'Single Elimination'">Single Elimination</option>
							<option ng-value="'Double Elimination'">Double Elimination</option>
						</select>
					</div>
				</div>
				<div class="row custom-padding">
					<div class="col-xs-12 col-md-6 col-lg-6">
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" data-ng-model="tournament.scoring"> Allow set points
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="btn-group btn-group-justified" role="group">
					<div class="btn-group" role="group">
						<a class="btn btn-default" ng-click="cancelTournament()">Cancel</a>
					</div>
					<div class="btn-group" role="group">
						<a class="btn btn-primary" ng-click="validateTournament()">Create</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<ul class="nav nav-tabs" style="visibility: hidden;">
	<li class="active"><a data-target="#create-event-main-tab" id="tab1" data-toggle="tab">Race</a>
	</li>
	<li><a data-target="#fees-tournaments-tab" id="tab2" data-toggle="tab">Ace</a>
	</li>
	<li><a data-target="#tournament-tab" id="tab3" data-toggle="tab">Deep</a>
	</li>
</ul>


<div class="modal fade" id="addFeeModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Spectator Fee</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="feeName" class="col-sm-2 control-label">Fee Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="fee.name" maxlength="127">
						</div>
					</div>
					<div class="form-group">
						<label for="feeAmount" class="col-sm-2 control-label">Fee Amount</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="fee.available" valid-input input-pattern="[^0-9]+">
						</div>
					</div>
					<div class="form-group">
						<label for="feePrice" class="col-sm-2 control-label">Fee Price</label>
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input type="text" class="form-control" ng-model="fee.amount" valid-decimal>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="feeDescription" class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="4" ng-model="fee.description" maxlength="255"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" ng-click="createFee()">Create</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="deleteModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Delete</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete this item?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Delete</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->