<div class="panel-padding">
	<!--			Meetup General Info    	 -->
	<div class="box box-margin">
		<h2 align="middle">{{meetup.meetup_name}}</h2>
		<div class="row">
			<!--				Meetup Description   	  -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<h3>Description</h3>
				<p class="info-paragraph">
					{{meetup.meetup_description}}
				</p>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-4">
				<h3>General Info</h3>
				<dl class="info-paragraph">
					<div class="row">
						<dt>
							Start Date
						</dt>
						<dd>
							{{ meetup.meetup_start_date | date: 'medium'}}
						</dd>
						<dt>
							End Date
						</dt>
						<dd>
							{{ meetup.meetup_end_date | date: 'medium'}}
						</dd>
						<dt>
							Location
						</dt>
						<dd>
							{{ meetup.meetup_location }}
						</dd>
					</div>
				</dl>
			</div>
			<!--					Hosted by/ Creator-->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<h2 class="info-title">Hosted By</h2>
				
				<a > <img class="img-circular large center-block" ng-src="{{meetup.customer_profile_pic}}" ng-click="goToUser(meetup.customer_username)" /> </a>
				<h3 class="info-title">{{meetup.customer_tag}}</h3>
			</div>
		</div>
		<div class="row  text-center">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-lg-offset-4 " >
			</br>
				<div class="btn-group btn-group-justified" role="group" ng-if="meetup.is_organizer" >
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary" ng-click="goToEditMeetup(eventInfo.event_name, eventInfo.event_start_date, eventInfo.event_location, meetup.meetup_start_date, meetup.meetup_location, meetup.customer_username)">
							Edit Meetup
						</button>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-danger">
							Delete
						</button>
					</div>
				</div></br>
			</div>
		</div>
	</div>
</div>