<img class="banner-cover" ng-src="{{eventInfo.event_banner}}"></img>
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified tab-padding-top">
	<li class="active">
		<a data-target="#main" data-toggle="tab">Main</a>
	</li>
	<li>
		<a data-target="#news" data-toggle="tab">News</a>
	</li>
	<li>
		<a data-target="#registeredUsers" data-toggle="tab">Spectators</a>
	</li>
	<li ng-if="isOngoing || finished">
		<a data-target="#reviews" data-toggle="tab">Reviews</a>
	</li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane fade in active" id="main">
		<div class="panel-padding">
			<!--			General Info-->
			<div class="box box-margin">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-md-offset-2 col-sm-offset-2 col-lg-offset-0">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
								<img class="profile-picture" ng-src='{{eventInfo.event_logo}}'></img>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
								<h2>{{eventInfo.event_name}}</h2>
								<p class="info-paragraph">
									{{eventInfo.event_description}}
								</p>
								<dt>
									Created by
								</dt>
								<dd>
									{{ eventInfo.creator}}
								</dd>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-12 col-lg-6">
						<h3>General Info</h3>
						<dl class="info-paragraph">
							<div class="row">
								<div class="col-xs-12 col-md-6 col-lg-6">
									<dt>
										Start Date
									</dt>
									<dd>
										{{ eventInfo.event_start_date | date: 'medium'}}
									</dd>
									<dt>
										End Date
									</dt>
									<dd>
										{{ eventInfo.event_end_date | date: 'medium'}}
									</dd>
									<dt>
										Registration Deadline
									</dt>
									<dd>
										{{ eventInfo.event_registration_deadline | date: 'medium'}}
									</dd>
								</div>
								<div class="col-xs-12 col-md-6 col-lg-6">
									<dt>
										Location
									</dt>
									<dd>
										{{ eventInfo.event_location }}
									</dd>
									<dt ng-if="!eventInfo.event_is_online">
										Venue
									</dt>
									<dd ng-if="!eventInfo.event_is_online">
										{{ eventInfo.event_venue }}
									</dd>
									<dt>
										Event Type
									</dt>
									<dd>
										{{ eventInfo.event_type }}
									</dd>
								</div>
							</div>
						</dl>
					</div>
					<div class="col-xs-12 col-md-12 col-lg-6">
						<h3>Rules</h3>
						<p class="info-paragraph">
							{{ eventInfo.event_rules }}
						</p>
					</div>
					<div class="col-xs-12 col-md-12 col-lg-6">
						<h3>Hosted by</h3>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
							<a class="thumbnail" ng-click="goToOrganizationProfile(hostInfo.organization_name)"><img class="profile-picture cursor" ng-src="{{hostInfo.organization_cover_photo}}"> </a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
							<h3 style="margin-top:0px;padding-top:0px">{{hostInfo.organization_name}}</h3>
							<p class="info-paragraph">
								{{hostInfo.organization_bio}}
							</p>
						</div>
					</div>
				</div>
				<div class="btn-group btn-group-justified box-margin" role="group">
					<div class="btn-group" role="group" ng-if="eventInfo.is_spectator">
						<button type="button" class="btn btn-default" ng-click="goToMeetupList(eventInfo.event_name, eventInfo.event_start_date, eventInfo.event_location)">
							MeetUp
						</button>
					</div>
					<div class="btn-group" role="group" ng-if="!finished && !eventInfo.is_organizer && !eventInfo.is_spectator">
						<button type="button" class="btn btn-success" ng-click="getFees()">
							Sign Up
						</button>
					</div>
					<div class="btn-group" role="group" ng-if="eventInfo.is_organizer && !finished">
						<button type="button" class="btn btn-primary" ui-sref="app.eventSettings({eventName: eventInfo.event_name , eventDate: eventInfo.event_start_date, eventLocation: eventInfo.event_location })">
							Settings
						</button>
					</div>
				</div>
			</div>
			<!--			Sponsors 		-->
			<div class="box box-margin" ng-if="sponsors.length">
				<p class="info-title">
					Sponsors
				</p>
				<div class="row">
					<div class="col-lg-3 col-md-4 col-xs-12" ng-repeat="sponsor in sponsors">
						<a class="thumbnail" ng-href="{{sponsor.sponsor_link}}"> <img ng-src="{{ sponsor.sponsor_logo }}"> </a>
					</div>

				</div>
			</div>
			<!--			Tournmants-->
			<div class="box box-margin">
				<p class="info-title">
					Tournaments
				</p>
				<div class="row">
					<div ng-repeat="tourn in tournamentsInfo">
						<div class="col-lg-3 col-md-4 col-xs-6">

							<a class="thumbnail" ng-click="goToTournament(eventInfo.event_name, eventInfo.event_start_date, eventInfo.event_location, tourn.tournament_name)"> <img ng-src="{{tourn.game_image}}">
								<h4 align="center">{{tourn.tournament_name}}</h4> </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="news">
		<div class="panel-padding">
			<div class="col-md-6 col-md-offset-3" style="margin-top:50px" ng-if="!news.length">
				<div style="text-align:center">
					<i class="fa fa-meh-o fa-5x"></i>
					<h3 class="info-title">Nothing Posted Here!</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12" ng-repeat="news in news">
					<div class="box box-margin">
						<div class="page-header">
							<button class="btn btn-danger pull-right" ng-click="deleteNewsPrompt($index)" ng-if="eventInfo.is_organizer">
								<i class="fa fa-trash-o"></i>
							</button>
							<button class="btn btn-info pull-right" style="margin-right:5px" ng-click="editNewsPrompt(news, $index)" ng-if="eventInfo.is_organizer">
								<i class="fa fa-pencil-square-o"></i>
							</button>
							<h3>{{news.news_title}} <small>{{news.news_date_posted  | date: 'medium'}}</small></h3>
						</div>
						<p>
							{{news.news_content}}
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-4" style="margin-top:50px" ng-if="eventInfo.is_organizer">
				<button class="btn btn-primary btn-block box-margin" data-target="#postNewsModal" data-toggle="modal">
					Post News
				</button>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="reviews">
		<div class="panel-padding">
			<div class="row">
				<!-- TODO: put fancy -->

				<div class="col-lg-6 col-md-6 col-xs-12" ng-repeat="review in reviews">

					<div class="box box-margin">
						<div class="page-header">
							<div class="review user-avatar">
								<img ng-src="{{ review.customer_profile_pic }}" class="user-pic" >
								<h3 > &nbsp{{review.review_title}}&nbsp <small>{{review.review_date_created  | date: 'medium'}}</small>
								<button class="btn btn-danger pull-right" ng-click="deleteReviewPrompt(review, $index)" ng-if="review.is_writer">
									<i class="fa fa-trash-o"></i>
								</button>
								<button class="btn btn-info pull-right" style="margin-right:5px" ng-click="editReviewPrompt(review)" ng-if="review.is_writer">
									<i class="fa fa-pencil-square-o"></i>
								</button></h3>

								<p>
									<span>&nbsp&nbsp</span>
									<span class="glyphicon glyphicon-star" ng-repeat="i in getNumber(review.star_rating) track by $index" ></span>
									<span class="glyphicon glyphicon-star-empty" ng-repeat="i in getNumber(5-review.star_rating) track by $index" ></span>
								</p>

								<span class="user-name">&nbsp{{review.customer_tag}}</span>

							</div>

						</div>
						<p>
							{{review.review_content}}
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<button class="btn btn-primary btn-block box-margin" data-target="#postReviewModal" data-toggle="modal" ng-if="!eventInfo.is_organizer && eventInfo.is_spectator" >
					Post Review
				</button>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="registeredUsers">
		<div class="panel-padding">
			<div class="widget-box">
				<div class="widget-header bordered-bottom bordered-themesecondary">
					<h4 class="widget-title themesecondary">Spectators Registered ({{participants.length}})</h4>
				</div>
				<!--Widget Header-->
				<div class="widget-body">
					<div class="widget-main no-padding">
						<div class="tickets-container">
							<ul class="tickets-list">
								<div class="row">
									<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="participant in participants | limitTo: 20">
										<li class="ticket-item" ng-click="goToUser(participant.customer_username)">
											<div class="ticket-user">
												<img ng-src="{{ participant.customer_profile_pic }}" class="user-avatar">
												<!-- <img src="http://neptunolabs.com/images/badillo.jpg" class="user-avatar">-->
												<span class="user-name">{{participant.customer_tag}}</span>
											</div>
										</li>
									</div>
								</div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--	tab content -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="signUpModalLabel">Spectator Sign up</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<div class="radio" ng-repeat="fee in fees">
							<div class="box box-margin">
								<label>
									<input type="radio" name="optionsRadios" ng-model="selected.name" ng-value="fee.spec_fee_name">
									<span class="lead">{{fee.spec_fee_name}} ({{fee.spec_fee_amount | currency}})</span> </label>
								<p>{{fee.spec_fee_description}}
									<br><small>Available: {{fee.spec_fee_amount_available}}</small>
								</p>
							</div>
						</div>
					</div>
				</form>
				<div class="alert alert-dismissible alert-warning" ng-if="!selected.name && paySelected">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<p>Please select a spectator fee</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary" ng-click="payFee()">
					Sign Up
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="postNewsModal" tabindex="-1" role="dialog" aria-labelledby="postNewsModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Create News</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">News Title</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="newNews.title">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">News Content</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="4" maxlength="255" ng-model="newNews.content"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Cancel
				</button>
				<button type="button" class="btn btn-primary" ng-click="postNews()">
					Post News
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editNewsModal" tabindex="-1" role="dialog" aria-labelledby="editNewsModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Edit News</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">News Title</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="newNews.news_title">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">News Content</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="4" maxlength="255" ng-model="newNews.news_content"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Cancel
				</button>
				<button type="button" class="btn btn-primary" ng-click="editNews()">
					Edit News
				</button>
			</div>
		</div>
	</div>
</div>


<!-- modal delete news -->
<div class="modal fade" id="deleteNewsModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Delete News</h4>
			</div>
			<div class="modal-body">
				<p>
					Are you sure you want to delete this news?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary" ng-click="deleteNews()">
					Delete
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="postReviewModal" tabindex="-1" role="dialog" aria-labelledby="postReviewModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Create Review</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">Review Title</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="newReview.title">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Review Rating</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" ng-model="newReview.rating">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Review Content</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="4" maxlength="255" ng-model="newReview.content"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Cancel
				</button>
				<button type="button" class="btn btn-primary" ng-click="postReview()">
					Post Review
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editReviewModal" tabindex="-1" role="dialog" aria-labelledby="editNewsModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Edit Review</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">Review Title</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" ng-model="newReview.review_title">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Review Rating</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" ng-model="newReview.star_rating">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Review Content</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="4" maxlength="255" ng-model="newReview.review_content"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Cancel
				</button>
				<button type="button" class="btn btn-primary" ng-click="editReview()">
					Edit Review
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteReviewModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Delete Review</h4>
			</div>
			<div class="modal-body">
				<p>
					Are you sure you want to delete this review?
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary" ng-click="deleteReview()">
					Delete
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>