<ion-view view-title="MatchUp">
    <ion-content>
        <div class="list list-inset">
            <div class="item item-divider">
                Live
            </div>
            <a class="item item-thumbnail-left" href="#" ng-repeat="event in live">
                <img ng-src="{{event.img}}">
                <h2>{{event.title}}</h2>
                <p>{{event.location}}</p>
            </a>
        </div>
        <div class="list list-inset">
            <div class="item item-divider">
                Premium
            </div>
            <a class="item item-thumbnail-left" href="#" ng-repeat="event in premium">
                <img ng-src="{{event.img}}">
                <h2>{{event.title}}</h2>
                <p>{{event.location}}</p>
            </a>
        </div>
        <div class="list list-inset">
            <div class="item item-divider">
                Regular
            </div>
            <a class="item item-thumbnail-left" href="#" ng-repeat="event in regular">
                <img ng-src="{{event.img}}">
                <h2>{{event.title}}</h2>
                <p>{{event.location}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>