<ion-view view-title="MatchUp">
    <ion-content>
        <div class="list list-inset">
            <div class="item item-divider">
                Live
            </div>
            <a class="item item-thumbnail-left" ng-click="goToEvent(event.event_name)" ng-repeat="event in liveEvents">
                <img ng-src="{{event.event_logo}}">
                <h2>{{event.event_name}}</h2>
                <p>{{event.event_location}}</p>
            </a>
        </div>
        <div class="list list-inset">
            <div class="item item-divider">
                Premium
            </div>
            <a class="item item-thumbnail-left" ng-click="goToEvent(event.event_name)" ng-repeat="event in premiumEvents">
                <img ng-src="{{event.event_logo}}">
                <h2>{{event.event_name}}</h2>
                <p>{{event.event_location}}</p>
            </a>
        </div>
        <div class="list list-inset">
            <div class="item item-divider">
                Regular
            </div>
            <a class="item item-thumbnail-left" ng-click="goToEvent(event.event_name)" ng-repeat="event in regularEvents">
                <img ng-src="{{event.event_logo}}">
                <h2>{{event.event_name}}</h2>
                <p>{{event.event_location}}</p>
            </a>
        </div>
        <div class="list list-inset">
            <div class="item item-divider">
                Popular Games
            </div>
            <div class="pad-sides" masonry="{columnWidth: 60}">
                <div class="masonry-brick" ng-repeat="game in popularGames">
                    <img ng-src="{{ game.game_image }}" class="game-cover">
                </div>
            </div>
            <!---- Esperando que se implemente desde el server
<ion-infinite-scroll on-infinite="add()" distance="1%">
</ion-infinite-scroll>
--->
        </div>
    </ion-content>
</ion-view>