<ion-view view-title="Events">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
<!--        <a class="button icon-right ion-android-arrow-dropdown button-clear" ng-click="popover.show($event)">All</a>-->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-alert">
        </button>
        <button class="button button-icon">
            <i class="ion-android-more-vertical"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list card" ng-repeat="event in hostedEvents" ng-click="goToEvent(event.event_name, event.event_start_date, event.event_location)">
            <div class="item item-divider">
                {{ event.event_start_date | date: 'medium' }}
            </div>
            <div class="item item-image">
                <a href="#"><img ng-src="{{ event.event_logo }}">
                </a>
            </div>
            <a class="item item-avatar" href="#">
                <img ng-src="{{ event.organization_logo }}">
                <h2>{{ event.event_name }}</h2>
                <p>Hosted by {{ event.organization_name }}</p>
            </a>
        </div>
    </ion-content>
</ion-view>