<ion-view view-title="Events">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
<!--        <a class="button icon-right ion-android-arrow-dropdown button-clear" ng-click="popover.show($event)">All</a>-->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-alert">
        </button>
        <button class="button button-icon">
            <i class="ion-android-more-vertical"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list-inset">
            <a class="item item-thumbnail-left" ng-click="goToEvent(event.event_name, event.event_start_date, event.event_location)" ng-repeat="event in regularEvents">
                <img ng-src="{{ event.event_logo }}">
                <h2>{{ event.event_name }}</h2>
                <p>{{ event.event_start_date | date: 'medium'}}<br>{{ event.event_location }}</p>
            </a>
        </div>
    </ion-content>
</ion-view>