<ion-view view-title="Events">
    <ion-content class="padding">
        <label class="item item-input item-select">
            <div class="input-label">
                Event State
            </div>
            <select ng-model="event.state" ng-change="callEvents()">
                <option value="All">All</option>
                <option value="upcoming">Upcoming</option>
                <option value="live">Live</option>
                <option value="past">Past</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Event Type
            </div>
            <select ng-model="event.type" ng-change="callEvents()">
                <option value="All">All</option>
                <option value="local">Local</option>
                <option value="regional">Regional</option>
                <option value="national">National</option>
            </select>
        </label>
        <div class="list-inset">
            <a class="item item-thumbnail-left" ng-click="goToEvent(event.event_name, event.event_start_date, event.event_location)" ng-repeat="event in regularEvents">
                <img ng-src="{{ event.event_logo }}">
                <h2>{{ event.event_name }}</h2>
                <p>{{ event.event_start_date | date: 'medium'}}<br>{{ event.event_location }}</p>
            </a>
        </div>
    </ion-content>
</ion-view>