<ion-view view-title="Edit Organization">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ui-sref="app.organizationprofile">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Bio</span>
                <textarea rows="5"></textarea>
            </label>
        </div>
        <div class="card">
            <div class="item item-body">
                <p>Image Preview</p>
            </div>
            <div class="item">
                <button class="button button-block button-positive">
                    Edit Cover
                </button>
            </div>
        </div>
        <div class="card">
            <div class="item item-body">
                <p>Image Preview</p>
            </div>
            <div class="item">
                <button class="button button-block button-positive">
                    Edit Logo
                </button>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced">
                Submit
            </button>
        </div>
    </ion-content>
</ion-view>