<ion-view view-title="Edit {{ organization.organization_name }}">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="goToOrganizationProfile()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Bio</span>
                <textarea rows="5" ng-model="organization.organization_bio"></textarea>
            </label>
        </div>
        <div class="card">
            <div class="item item-body">
                <img class="full-image" ng-src="{{ organization.organization_cover_photo }}" id="preview">
            </div>
            <div class="item">
                <button class="button button-block button-positive">
                    Edit Cover
                </button>
            </div>
        </div>
        <div class="card">
            <div class="item item-body">
                <img class="full-image" ng-src="{{ organization.organization_logo }}" id="preview2">
            </div>
            <div class="item">
                <button class="button button-block button-positive">
                    Edit Logo
                </button>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced">
                Submit
            </button>
        </div>
    </ion-content>
</ion-view>