<ion-view title="Events">
    <ion-nav-buttons side="left">
        <button class="button button-icon" onclick="location.href='#/app/organizationprofile'">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon">
            <i class="ion-plus"></i>
        </button>
        <button class="button button-icon ion-android-alert">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Organization Members
            </div>
            <a class="item item-avatar" href="#">
                <img src="img/ron.jpg">
                <h2>Ron Paul</h2>
                <p>This is my info</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ron.jpg">
                <h2>Ron Paul</h2>
                <p>This is my info</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ron.jpg">
                <h2>Ron Paul</h2>
                <p>This is my info</p>
            </a>
        </div>
    </ion-content>
</ion-view>