<ion-view view-title="Organization Profile">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-alert">
        </button>
        <button class="button button-icon">
            <i class="ion-android-more-vertical"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="crop-banner">
            <img class="crop-image" src="img/halo4.jpg">
        </div>
        <div>
            <div class="center-text">
                <img class="profile-pic" src="img/esportPR.png">
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="center-text">
                        <h1 class="h1-username">Organization Name</h1>
                    </div>
                    <p>
                        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Events
            </div>
            <div class="list">
                <a class="item item-thumbnail-left" href="#">
                    <img src="img/apex2015.png">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
                <a class="item item-thumbnail-left" href="#">
                    <img src="img/evo.png">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>
            </div>
            <a class="item item-icon-left dark" href="#/app/organizationprofileevents">
                <i class="icon ion-android-arrow-forward"></i> See More
            </a>
        </div>

        <div class="list list-inset">
            <div class="item item-divider">
                Organization Members
            </div>
            <a class="item item-avatar" href="#">
                <img src="img/ron.jpg">
                <h2>Ron Paul</h2>
                <p>This is my info</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ron.jpg">
                <h2>Ron Paul</h2>
                <p>This is my info</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ron.jpg">
                <h2>Ron Paul</h2>
                <p>This is my info</p>
            </a>
            <a class="item item-icon-left dark" href="#/app/organizationprofilemembers">
                <i class="icon ion-android-arrow-forward"></i> See More
            </a>
        </div>
    </ion-content>
</ion-view>