<ion-view title="Organization Members">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="returnToOrganizationProfile()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="goToAddMemberOrganization()">
            <i class="ion-plus"></i>
        </button>
        <button class="button button-icon ion-android-alert">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list list-inset">
            <a class="item center-item item-avatar item-button-right" ng-repeat="member in members">
                <img ng-src="{{member.customer_profile_pic}}">
                <h2>{{member.customer_tag}}</h2>
                <p>T{{member.customer_first_name}} {{member.customer_last_name}}</p>
                <div class="buttons">
                    <button class="button button-energized">
                        <i class="icon ion-briefcase"></i>
                    </button>
                    <button class="button button-assertive" ng-click="showConfirm(member.customer_username)">
                        <i class="icon ion-close"></i>
                    </button>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>