<ion-view view-title="Meetups">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="goToSummaryFromMeetup()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
       <button class="button button-icon ion-plus" ng-click="goToCreateMeetup()">
        </button>
        <button class="button button-icon ion-android-alert">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card" ng-repeat="meetup in meetups">
            <div class="item item-text-wrap">
                <div class="center-text">
                    <h1 class="h1-username">{{meetup.meetup_name}}</h1>
                    <h2>{{meetup.meetup_start_date | date: 'medium'}}</h2>
                    <p>Location: {{meetup.meetup_location}}</p>
                </div>
                <p>
                    <br>{{meetup.meetup_description}}
                </p>
            </div>
            <div class="item item-avatar">
                <img ng-src="{{meetup.customer_profile_pic}}">
                <p>Created by: {{meetup.customer_tag}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>