<ion-view view-title="Meetups">
    <ion-nav-buttons side="left">
        <button class="button button-icon" ng-click="goToSummaryFromMeetup(eventName)">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
       <button class="button button-icon ion-plus" ui-sref="app.createmeetup">
        </button>
        <button class="button button-icon ion-android-alert">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="center-text">
                    <h1 class="h1-username">Smash Meetup</h1>
                    <h2>11:00PM November 1, 2015</h2>
                    <p>Room 500</p>
                </div>
                <p>
                    <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p><br>Games: Smash, Streefighter, monopolio</p>
            </div>
            <div class="item item-avatar">
                <img src="img/ron.jpg">
                <h2>Created by</h2>
                <p>Ron Paul</p>
            </div>
        </div>
    </ion-content>
</ion-view>