<ion-view view-title="Profile">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-alert">
        </button>
        <button class="button button-icon">
            <i class="ion-android-more-vertical"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="crop-banner">
            <img class="crop-image" src="img/halo4.jpg">
        </div>
        <div>
            <div class="center-text">
                <img class="profile-pic" src="img/ron.jpg">
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="center-text">
                        <h1 class="h1-username">Tournament Game</h1>
                    </div>
                    <div class="center-text">
                        <h2 class="h1-username">Event Name</h2>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class=" center-text">
                                <h2 class="h1-username">Schedule<br><br></h2>
                                <span>Date, Hour</span>
                            </div>
                        </div>
                        <div class="col center-text">
                            <h2 class="h1-username">Location<br><br></h2>
                            <span>Address</span>
                        </div>
                    </div>            
                    <p>
                        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
        <div ng-controller="REController">
            <div ng-if="isOngoing">
                <div class="list card">
                    <label class="item item-divider item-input item-select">
                        <div class="input-label">
                            Standings
                        </div>
                        <select>
                            <option selected>Bracket<option>
                            <option>Group A</option>
                            <option>Group B</option>
                            <option>Group C</option>
                            <option>Group D</option>
                            <option>Group E</option>
                        </select>
                    </label>

                    <div class="item item-divider">
                        <h3>1st</h3>
                    </div>
                    <a class="item item-avatar" href="#/app/regulareventmatchups">
                        <img src="img/ron.jpg" >
                        <div class="row">
                            <div class="col col-75">
                                <h2>Ron Paul</h2>
                                <p>This is my info</p>
                            </div>
                            <div class="col center-text">
                                <h1 class="h1-username" style="color: rgb(102, 221, 51);"> 3 - 1</h1>
                            </div>
                        </div>
                    </a>
                    <div class="item item-divider">
                        <h3>2nd</h3>
                    </div>
                    <a class="item item-avatar" href="#/app/regulareventmatchups">
                        <img src="img/ron.jpg" >
                        <div class="row">
                            <div class="col col-75">
                                <h2>Ron Paul</h2>
                                <p>This is my info</p>
                            </div>
                            <div class="col center-text">
                                <h1 class="h1-username" style="color: rgb(255, 102, 102);"> 2 - 2</h1>
                            </div>
                        </div>
                    </a>
                    <div class="item item-divider">
                        <h3>3rd</h3>
                    </div>
                    <a class="item item-avatar" href="#/app/regulareventmatchups">
                        <img src="img/ron.jpg" >
                        <div class="row">
                            <div class="col col-75">
                                <h2>Ron Paul</h2>
                                <p>This is my info</p>
                            </div>
                            <div class="col center-text">
                                <h1 class="h1-username" style="color: rgb(255, 102, 102);"> 1 - 2</h1>
                            </div>
                        </div>
                    </a>
                    <a class="item item-avatar" href="#/app/regulareventmatchups">
                        <img src="img/ron.jpg" >
                        <div class="row">
                            <div class="col col-75">
                                <h2>Ron Paul</h2>
                                <p>This is my info</p>
                            </div>
                            <div class="col center-text">
                                <h1 class="h1-username" style="color: rgb(255, 102, 102);"> 1 - 2</h1>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="item item-divider">
                    Rules
                </div>
                <div class="item item-text-wrap">
                    These are the rules for the tournament.
                </div>
            </div>

            <button class="button" ng-if="!isOngoing && !requiresTeam" ng-click="showConfirm()" style="width: 100vw">
                Sign Up
            </button>
            
            <button class="button" ng-if="!isOngoing && requiresTeam"  ui-sref="app.teamsignup" style="width: 100vw">
                Sign Up
            </button>
        </div>


    </ion-content>
</ion-view>