<ion-view view-title="{{ eventInfo.event_name }}">
    <ion-content>
        <div class="crop-banner">
            <img class="crop-image" ng-src="{{ eventInfo.event_banner }}">
        </div>
        <div class="center-text">
            <img class="profile-pic" ng-src="{{ currentTournament.game_image }}">
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="center-text">
                    <h1 class="h1-username">{{ currentTournament.tournament_name }}</h1>
                </div>
                <br>
                <div class="center-text">
                    <h2 class="h1-username">Registration Deadline:</h2>
                    <h2 >{{ eventInfo.event_registration_deadline | date: 'medium' }}</h2>
                </div>
                <br>
                <div class="center-text" ng-if="currentTournament.competitor_fee > 0 && !isOngoing && !currentTournament.is_competitor">
                    <h2 class="h1-username">Registration Cost:</h2>
                    <h2 >${{ currentTournament.competitor_fee  }}</h2>
                </div>
                <div class="row">
                    <div class="col">
                        <div class=" center-text">
                            <h2 class="h1-username">Start Date: <br><br></h2>
                            <span>{{ currentTournament.tournament_start_date | date: 'medium' }}</span>
                        </div>
                    </div>
                    <div class="col center-text">
                        <h2 class="h1-username">Location<br><br></h2>
                        <span>{{ eventInfo.event_location }}</span>
                    </div>
                </div>            

            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                Rules
            </div>
            <div class="item item-text-wrap">
                {{ currentTournament.tournament_rules }}
            </div>
        </div>

        <div ng-if="currentTournament.tournament_completed">
            <ion-scroll zooming="false" direction="x" style="width: 500px">
                <table class="pure-table pure-table-horizontal" ng-if="standings">
                    <thead>
                        <tr>
                            <th style="text-align:center">Standing</th>
                            <th style="text-align:center">Competitor</th>
                            <th style="text-align:center">Seed</th>
                            <th>Match History</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="standing in standings">
                        <!-- Mierda que no sirve -->
                        <tr ng-repeat="competitor in standing">
                            <td style="text-align:center" ng-if="$first && currentTournament.tournament_completed" rowspan="{{standing.length}}">{{competitor.standing}}</td>
                            <td style="text-align:center" id="competitor-name" ng-if="competitor.customer_tag">{{competitor.customer_tag}}</td>
                            <td id="competitor-name" ng-if="competitor.team_name">{{competitor.team_name}}</td>
                            <td style="text-align:center">{{competitor.competitor_seed}}</td>
                            <td>
                                <span ng-repeat="match in competitor.match_history">
                                    <span ng-if="match.win" class="match-square player-1">
                                        W
                                    </span>
                                    <span ng-if="!match.win" class="match-square loss">
                                        L
                                    </span>
                                    <span ng-if="match.win == null" class="match-square pending">
                                        P
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ion-scroll>
        </div>


        <div ng-controller="REController">
            <div ng-if="currentTournament.tournament_completed != null">
                <div class="list card">
                    <label class="item item-input item-select" ng-if="(currentTournament.tournament_type != 'Single Stage' && currentTournament.tournament_format != 'Single Elimination') || (currentTournament.tournament_type != 'Single Stage' && currentTournament.tournament_format == 'Round Robin')">
                        <div class="input-label">
                            Type
                        </div>

                        <select ng-model="selectedType.type" ng-if="currentTournament.tournament_type == 'Two Stage' && currentTournament.tournament_format == 'Double Elimination'">
                            <option selected>Group Stage<option>
                            <option>Winner's Bracket</option>
                            <option>Loser's Bracket</option>
                        </select>

                        <select ng-model="selectedType.type" ng-if="currentTournament.tournament_type == 'Single Stage' && currentTournament.tournament_format == 'Double Elimination'">
                            <option selected>Winner's Bracket</option>
                            <option>Loser's Bracket</option>
                        </select>

                        <select ng-model="selectedType.type" ng-if="currentTournament.tournament_type == 'Two Stage' && currentTournament.tournament_format == 'Round Robin'">
                            <option selected>Group Stage<option>
                            <option>Round Robin</option>
                        </select>

                        <select ng-model="selectedType.type" ng-if="currentTournament.tournament_type == 'Two Stage' && currentTournament.tournament_format == 'Single Elimination'">
                            <option selected>Group Stage<option>
                            <option>Bracket</option>
                        </select>
                    </label>

                    <label class="item item-input item-select" ng-if="selectedType.type == 'Group Stage'">
                        <div class="input-label">
                            Group
                        </div>

                        <select ng-model="selectedGroup.group" ng-options="group.group_number for group in roundInfo.groupStage.groups" ng-init="selectedGroup.group = roundInfo.groupStage.groups[0]">
                        </select>

                    </label>

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Round
                        </div>

                        <select ng-if="selectedType.type == 'Bracket' || selectedType.type == 'Winner\'s Bracket'" ng-model="selectedRound.round" ng-options="round.round_number for round in roundInfo.finalStage.winnerRounds" ng-init="selectedRound.round = roundInfo.finalStage.winnerRounds[0]">
                        </select>
                        <select ng-if="selectedType.type == 'Loser\'s Bracket'" ng-model="selectedRound.round" ng-options="round.round_number for round in roundInfo.finalStage.loserRounds" ng-init="selectedRound.round = roundInfo.finalStage.loserRounds[0]">
                        </select>
                        <select ng-if="selectedType.type == 'Group Stage'" ng-model="selectedRound.round" ng-options="round.round_number for round in roundInfo.groupStage.groups[selectedGroup.group.group_number - 1].rounds" ng-init="selectedRound.round = roundInfo.groupStage.groups[selectedGroup.group.group_number - 1].rounds[0]">
                        </select>
                        <select ng-if="selectedType.type == 'Round Robin'" ng-model="selectedRound.round" ng-options="round.round_number for round in roundInfo.finalStage.roundRobinRounds" ng-init="selectedRound.round = roundInfo.finalStage.roundRobinRounds[0]">
                        </select>
                    </label>

                    <div ng-if="(selectedType.type == 'Bracket' || selectedType.type == 'Winner\'s Bracket' || selectedType.type == 'Loser\'s Bracket' || selectedType.type == 'Group Stage' || selectedType.type == 'Round Robin') && hasMatches(selectedRound.round.matches)" ng-repeat="match in selectedRound.round.matches">
                        <div class="row" >
                            <div class="col .col-33 absolute-center" ng-if="match.players[0].competitor_number != null && !requiresTeam">
                                <img class="img-circular large player-1" ng-src="{{ match.players[0].customer_profile_pic }}" ng-if="match.players.length >= 1">
                            </div>
                            <div class="col .col-33 absolute-center" ng-if="match.players[0].competitor_number != null && requiresTeam">
                                <img class="img-circular large player-1" ng-src="{{ match.players[0].team_logo }}" ng-if="match.players.length >= 1">

                            </div>
                            <div class="col .col-33 absolute-center" ng-if="match.players.length > 1">
                                <h2>{{ checkNull(match.players[0].score) }} - {{ checkNull(match.players[1].score) }}</h2>
                            </div>
                            <div class="col .col-33 absolute-center" ng-if="!requiresTeam">
                                <img class="img-circular large player-2" ng-src="{{ match.players[1].customer_profile_pic }}" ng-if="match.players.length > 1">
                            </div>
                            <div class="col .col-33 absolute-center" ng-if="requiresTeam">
                                <img class="img-circular large player-2" ng-src="{{ match.players[1].team_logo }}" ng-if="match.players.length > 1">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col .col-33 absolute-center">
                                <p ng-if="match.players.length >= 1 && !requiresTeam"> {{ match.players[0].customer_tag }}</p>
                                <p ng-if="match.players.length >= 1 && requiresTeam"> {{ match.players[0].team_name }}</p>
                            </div>
                            <div class="col .col-33 absolute-center">

                            </div>

                            <div class="col .col-33 absolute-center">
                                <p ng-if="match.players.length >= 1 && !requiresTeam"> {{ match.players[1].customer_tag }}</p>
                                <p ng-if="match.players.length >= 1 && requiresTeam"> {{ match.players[0].team_name }}</p>
                            </div>
                        </div>
                    </div>

                    <div ng-if="!hasMatches(selectedRound.round.matches)">
                        <p style="padding: 7px 10px 7px 0px;
                                  text-align: center;
                                  margin-top: 10px;
                                  color: #444;
                                  font-size: 16px;">
                            There are no matches here yet!</p>
                    </div>
                </div>
            </div>

            <button class="button button-block button-positive" ng-if="!isOngoing && !requiresTeam && !currentTournament.is_competitor" ng-click="signUpCompetitor()">
                Sign Up
            </button>

            <button class="button button-block button-positive" ng-if="!isOngoing && requiresTeam && !currentTournament.is_competitor"  ui-sref="app.teamsignup({eventname: eventInfo.event_name, date: eventInfo.event_start_date, location: eventInfo.event_location, tournament: currentTournament.tournament_name})">
                Sign Up
            </button>
        </div>


    </ion-content>
</ion-view>