<ion-view view-title="Team Sign Up">
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Choose Team
                </div>
                <select ng-model="selectedTeam.team" ng-change="updateTeamMembers(selectedTeam.team.team_name)" ng-options="team.team_name for team in myTeams">
                </select>
            </label>
        </div>
        <ul class="list">
            <li class="item item-checkbox" ng-repeat="member in teamMembers">
                <label class="checkbox">
                    <input type="checkbox" ng-model="member.checkbox" ng-init="member.checkbox = false" ng-change="countCheckedMembers(teamMembers)">
                </label>
                {{ member.customer_tag }}
            </li>
        </ul>
        <h2 style="color: rgb(102, 221, 51); text-align: center;" ng-if="checkedMembers.length == tournamentInfo.team_size">{{ checkedMembers.length }}/{{ tournamentInfo.team_size }} selected</h2>
        <h2 style="color: rgb(255, 102, 102); text-align: center;" ng-if="checkedMembers.length != tournamentInfo.team_size">{{ checkedMembers.length }}/{{ tournamentInfo.team_size }} selected</h2>
        <button class="button" style="width: 100vw" ng-click="teamSignUp()" ng-if="checkedMembers.length == tournamentInfo.team_size">
            Finish
        </button>
    </ion-content>
</ion-view>