<ion-view view-title="Events">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/butterfly.png">
                <h2>Nature Tour</h2>
                <p>Learn about local wildlife!</p>
            </div>
            <div class="item item-divider">2pm Recreation Center</div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/video-game.png" />
                <h2>Video Game Tournament</h2>
                <p>Play for some great prizes!</p>
            </div>
            <div class="item item-divider">4pm Club House</div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/music.png" />
                <h2>Live Music</h2>
                <p>Enjoy local Hawaiian music!</p>
            </div>
            <div class="item item-divider">8pm Recreation Center</div>
        </div>
    </ion-content>
</ion-view>