<ion-view view-title="Genre">
    <ion-content>
        <div class="list  list-inset">

            <a class="item" ng-click="goToGenreProfile('Fighting')">
                Fighting
            </a>
            
            <a class="item" ng-click="goToGenreProfile('FPS')">
                FPS
            </a>
            
            <a class="item" ng-click="goToGenreProfile('RTS')">
                RTS
            </a>
            
            <a class="item" ng-click="goToGenreProfile('Sports')">
                Sports
            </a>
            
           <a class="item" ng-click="goToGenreProfile('MOBA')">
                MOBA
            </a>
            
            <a class="item" ng-click="goToGenreProfile('Card')">
                Card
            </a>

        </div>

    </ion-content>
</ion-view>