<ion-view view-title="Genre">
    <ion-content>
        <div class="list  list-inset">

            <a class="item" href="#/app/home">
                Fighting
            </a>
            
            <a class="item" href="#/app/home">
                FPS
            </a>
            
            <a class="item" href="#/app/home">
                RTS
            </a>
            
            <a class="item" href="#/app/home">
                Sports
            </a>
            
           <a class="item" href="#/app/home">
                MOBA
            </a>
            
            <a class="item" href="#/app/home">
                Card
            </a>

        </div>

    </ion-content>
</ion-view>