<ion-view view-title="MatchUp">
    <ion-content>
        <h3 style="padding-left:15px; padding-top: 15px">Live</h3>
        <div class="row">
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#">
                        Event Name
                    </a>
                </div>
            </div>
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#">
                        Event Name
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#">
                        Event Name
                    </a>
                </div>
            </div>
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#" style="align:center">
                        Event Name
                    </a>
                </div>
            </div>
        </div>
        
        <hr class="fadinghr" />
        
         <h3 style="padding-left:15px; padding-top: 15px">Promoted</h3>
        <div class="row">
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#">
                        Event Name
                    </a>
                </div>
            </div>
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#">
                        Event Name
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#">
                        Event Name
                    </a>
                </div>
            </div>
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#" style="align:center">
                        Event Name
                    </a>
                </div>
            </div>
        </div>
        
        <hr class="fadinghr" />
        
         <h3 style="padding-left:15px; padding-top: 15px">Local</h3>
        <div class="row">
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#">
                        Event Name
                    </a>
                </div>
            </div>
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#">
                        Event Name
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#">
                        Event Name
                    </a>
                </div>
            </div>
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#" style="align:center">
                        Event Name
                    </a>
                </div>
            </div>
        </div>
        
        <hr class="fadinghr" />
        
         <h3 style="padding-left:15px; padding-top: 15px">Popular Games</h3>
        <div class="row">
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#">
                        Game Name
                    </a>
                </div>
            </div>
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#">
                        Game Name
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#">
                        Game Name
                    </a>
                </div>
            </div>
            <div col-25>
                <div class="list card">
                    <div class="item item-image">
                        <img src="img/ionic.png" style="width: 50vw" />
                    </div>
                    <a class="item" href="#" style="align:center">
                        Game Name
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>