<ion-view view-title="Notifications">
    <ion-content>

        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="img/ron.jpg">
                <h2>Scheduled to play against Ron Paul in station 2.</h2>
                <p>Date of publication</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/Capcom-Pro-Tour.jpg">
                <h2>Final Round XII has updated their news section.</h2>
                <p>Date of publication</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/evo.png">
                <h2>You have been invited to participate in EVO.</h2>
                <p>Date of publication</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/ron.jpg">
                <h2>Ron Paul entered EVO.</h2>
                <p>Date of publication</p>
            </a>
            
        </div>

    </ion-content>
</ion-view>