<ion-view view-title="Profile">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="crop-banner">
            <img class="crop-image" src="img/halo4.jpg">
        </div>
        <div class="color">
            <div class="center-text">
                <img class="profile-pic" src="img/ron.jpg">
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <div class="center-text">
                        <h2 id="username-text">Username</h2>
                        <h2>Fisrt Last</h2>
                        <p>Country</p>
                    </div>
                    <p>
                        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                        <i class="icon ion-android-chat"></i> Message
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-plus"></i> Subscribe
                    </a>
                </div>
            </div>
        </div>
        <div class="black">
            <h1>hi testing</h1>
        </div>
        <!--
        <div class="card">
            <div class="item item-divider">
                Standing
            </div>
            <div class="item item-text-wrap">
                <div class="list">
                    <a class="item item-thumbnail-left" href="#">
                        <img src="cover.jpg">
                        <h2>Pretty Hate Machine</h2><span class="badge badge-assertive">0</span>
                        <p>Nine Inch Nails</p>
                    </a>
                    <a class="item item-thumbnail-left" href="#">
                        <img src="cover.jpg">
                        <h2>Pretty Hate Machine</h2>
                        <p>Nine Inch Nails</p>
                    </a>
                </div>
            </div>
        </div>
-->
    </ion-content>
</ion-view>