<ion-view view-title="Team Sign Up">
    <ion-content>


        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
              Choose Team
                </div>
                <select>
                    <option>Cloud 9</option>
                    <option selected>EG</option>
                    <option>Secret</option>
                </select>
            </label>

        </div>
        <ul class="list">

            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Competitor Name
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Competitor Name
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Competitor Name
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Competitor Name
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Competitor Name
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Competitor Name
            </li>

        </ul>

        <button class="button" ui-sref="app.regularevent" style="width: 100vw">
            Finish
        </button>
    </ion-content>
</ion-view>